include ../../mixins

+article('7. Sărături Murighiol (87ha)')
  +section('7. Sărături Murighiol (87ha)')
    .lang.lang-en
      h1 Sărături Murighiol (87ha)
      p
        | The area is located between the villages of Plopu and Murighiol, bounded to East by Murighiol village, to South by Plopu-Murighiol road, and to the West and North, by Murighiol hills. Murighiol Sărături Lake is situated on the Danube terrace, it has a length of about 2 km and a maximum width of 500 m. The lake waters are highly saline chloro-sulphate type, unsuitable for fish but having plenty of zoo and phytoplankton. It is the only place in Romania where a Mediterranean Gull colony – around 150 pairs (
        em Larus melanocephalus
        | ) which are nesting on the small islands on the lake, Black-headed Gull, around 400 pairs (
        em Larus ridibundus
        |), Common Tern (
        em Sterna hirundo
        |), around 2000 pairs, some pairs of Black-winged Stilt (
        em Himantopus himantopus
        |), Kentish Plover (
        em Charadrius alexandrinus
        |), Red-crested Pochard (
        em Netta rufina
        |) and Avocet (
        em Recurvirostra avosetta
        |). Due to low salinity characteristic, in winter time, the lake is frozing only when the temperature is very low and on short periods. This fact leads to a high concentration of fowls which find plenty of food and shelter, especially for: White-fronted Goose (
        em Anser albifrons, A.erythropus
        |), Swan (
        em Cynus cygnus
        |) and a lot of limnicole birds. The habitats around are represented by: Mediterranean salty meadows (
        em Juncetalia maritimi
        |); halophile Mediterranean and thermo-atlantic brushwood (
        em Sarcocorneta fruticosi
        |); halo-nitrophile brushwood (
        em Pegano-Salsoletea
        |). 
    .lang.lang-ro
      h1 Sărături Murighiol (87ha)
      p
        | Această zonă este situată în afara limitei RBDD,  între localităţile Murighiol şi Plopu, fiind delimitată la est de localitatea Murighiol, la sud, de şoseaua Plopu-Murighiol şi la vest şi nord, de dealurile Murighiolului. Lacul Sărături Murighiol este situat în terasa Dunării, are o lungime de circa 2 km şi o lăţime maximă de 500 m. Acest lac cu apă cloro-sulfatică este lipsit de peşti dar bogat în specii fitoplanctonice şi zooplanctonic. Este singurul loc din România unde se găseşte o colonie de pescăruşi cu cap negru, cca 150 perechi (
        em Larus melanocephalus
        |), care cuibăresc pe micile insule din lac, pescăruşul râzător cca 400 perechi (
        em Larus ridibundus
        |), chira de baltă (
        em Sterna hirundo
        |), cca 2000 de perechi, câteva perechi de piciorong (
        em Himantopus himantopus
        |), prundăraş de sărătură (
        em Charadrius alexandrinus
        |), raţa cu ciuf (
        em Neta rufina
        |), ciocîntors (
        em Recurvirostra avosetta
        |). Datorită salinităţii apei, lacul îngheaţă numai în perioadele de iarnă cu temperaturi foarte scăzute şi pe perioade scurte, fapt ce transformă acest areal într-un important spaţiu de hrănire, cu deosebire, pentru gârliţe (
        em Anser albifrons
        |, 
        em A.erythropus
        |), lebede (
        em Cynus cygnus
        |) şi pentru numeroase păsări de mal (limicole).  
      p
        | Habitatele din vecinătate sunt reprezentate de: pajişti sărăturate mediteraneene (
        em Juncetalia maritimi
        |); desişuri halofile mediteraneene şi termo-atlantice (
        em Sarcocorneta fruticosi
        |); desişuri halo-nitrofile (
        em Pegano-Salsoletea
        |). 
