include ../../mixins

+article('5. Vătafu-Lunguleţ (1.625 ha)')
  +section('5. Vătafu-Lunguleţ (1.625 ha)')
    .lang.lang-en
      h1 Vătafu-Lunguleţ (1.625 ha)
      p 
        |The area is located in the Roşu-Puiu lacustrian complex including natural basins, Porcu and Porculeţ, Lunguleţ, Vătafu lakes, etc. It is bounded on the North by Vătafu-Împuţita channel, on the East and South-East by the Puiu sand bank and to the West by the backwater Vătafu, from Vătafu-Împuţita channel to Lumina lake. The area includes various forms of landscape: sand banks, backwaters, depressions, fixed and floating reed islets, halophile grasslands and it is characterized mainly by having biocenoses adapted to the euryhaline life. There have been identified 60 species of algae, over 70 species of superior plants (Iris, Water Chestnut, Bladderwort – carnivorous plant because of the less nitrogen disolved in the water). Between the 15 fish species, 6 are common interest species (Crucian Carp, Tench – mostly found). There are large amphibiens populations, including the Pool Frog (
        em Rana lessonae
        |). 
      p
        | The lakes complex and fluvial-maritime levees represent, through floating and fixed reed islets, specific flora and fauna for these reed biotops, an important nesting place for Small Egret and Pigmy Cormorant in mixed colonies of ardeidaes, and for preserving halophillic meadows. On the backwater edges live characteristic species: 
        em Typha latifolia
        |, 
        em T. angustifolia 
        |(cat-tail) and 
        em Phragmites australis 
        |(reed), and in shallow waters, water lilies are present (white and yellow), 
        em Nymphaea alba
        |, 
        em Nuphar luteum 
        |and also other lake plants like: 
        em Butomus umbelatus
        |, 
        em Sagittaria sagittifolia
        |, 
        em Alisma plantago aquatica
        |, 
        em Acorus calanus
        |, 
        em Calla palustris
        |, 
        em Stratiotes raloides
        |, 
        em Hydrocharis morsus-ranae
        |, 
        em Nymphoides peltata
        |, 
        em Iris pseudacorus
        |, 
        em Trapa natans
        |, 
        em Salvinia natans
        |, 
        em Utricularia minor
        |. On higher areas there are species like 
        em Epilobium hirsutum
        |, 
        em Lythrum salicaria
        |, 
        em Rumex acetosa
        |, 
        em Scirpus giganteus
        |, typical species for humid areas, and the forests have galleries of 
        em Salix alba 
        |and 
        em Populus alba 
        |(prioritary habitat, 92A0), the presence of these habitat types raising the biodiversity value of the area.  
      p
        | In poor-nitrite waters in some backwaters/pools between islets, semi-parasite and carnivorous plants appear: 
        em Utricularia minor 
        |and 
        em Aldrovanda vesiculosa
        |. The underwater flora has common species like: 
        em Potamogeton natans
        |, 
        em P. pectinatus
        |, 
        em Ceratophyllum submersum
        |, 
        em Myriophyllum varticillatum
        |, 
        em Spirogyra longata
        |, 
        em Cladophora socialis
        |. In compact reeds there is concentrated almost all European flora of typical plants for reed islets and areas with hydrological fluctuations, represented by: 
        em Dryopteris thelypteris 
        |(
        em Nephrodium thelypteris
        |), 
        em Euphorbia palustris
        |, 
        em Carex pseudocyperus
        |, 
        em Mentha aquatica
        |, 
        em Equisetum palustre 
        |etc. On the shore of the channels, the vegetation is small, annual, amphibious and pioneer and is part of fitosociologic 
        em Isoëto-Nanojuncetea 
        |class. Regarding the vegetation conservation, the habitats and the prioritary species 
        em Aldrovanda vesiculosa 
        |are in an excellent conservation status, the conservation objectives of this area being fulfilled. 
    .lang.lang-ro
      h1  Vătafu-Lunguleţ (1.625 ha)
      p 
        |Zona este situată în delta fluvio-marină-complexul lacustru Roşu-Puiu cuprinzând bazine acvatice naturale, lacurile Porcu, Porculeţ, Lunguleţ, Vătafu, etc. Este delimitată, la nord, de canalul Vătafu-Împuţita, la est şi sud-est, de prelungirea grindului Puiu iar la vest, de japşa Vătafu, de la canalul Vătafu-Împuţita la lacul Lumina. Zona cuprinde ecosisteme variate de forme diverse de grinduri, japşe, depresiuni, formaţiuni de plauri plutitori şi fixaţi, pajişti halofile şi este caracterizată, în principal, prin existenţa biocenozelor adaptate la condiţiile de viaţă uşor eurihaline. Au fost identificate 60 specii de alge, peste 70 specii de plante superioare (răţişoară şi ciulini de baltă, otrăţel-plantă carnivoră datorită apelor cu un conţinut mai redus azot dizolvat). Printre cele 15 specii de peşti, 6 sunt de interes comun (caracuda, linul cele mai des întâlnite). Sunt prezente populaţii mari de amfibieni inclusiv broasca mică verde (
        em Rana lessonae
        |). 
      p
        | Complexul de lacuri şi grinduri fluvio-marine reprezintă, prin formaţiunile de plauri plutitori şi fixaţi, flora şi fauna specifice acestor biotopi preponderent stuficoli, un loc important de cuibărit pentru stârcul pitic şi cormoranul mic în colonii mixte de ardeidae, precum şi pentru conservarea pajiştilor halofile. Pe marginea japşelor sunt prezente speciile caracteristice: 
        em Typha latifolia
        |, 
        em T. angustifolia 
        |(papura) şi 
        em Phragmites australis 
        |(stuful), iar în apele de adâncime mică sunt prezente specii de nufăr (alb şi galben), 
        em Nymphaea alba
        |, 
        em Nuphar luteum 
        | precum şi alte plante palustre ca: 
        em Butomus umbelatus
        |, 
        em Sagittaria sagittifolia
        |, 
        em Alisma plantago aquatica
        |, 
        em Acorus calanus 
        | , 
        em Calla palustris
        |, 
        em Stratiotes raloides
        |, 
        em Hydrocharis morsus-ranae
        |, 
        em Nymphoides peltata
        |, 
        em Iris pseudacorus 
        |, 
        em Trapa natans
        |, 
        em Salvinia natans
        |, 
        em Utricularia minor
        |. Pe zonele înalte sunt prezente specii ca 
        em Epilobium hirsutum
        |, 
        em Lythrum salicaria
        |, 
        em Rumex acetosa
        |, 
        em Scirpus giganteus
        |, specii tipice de zonă umedă, iar zonele împădurite sunt acoperite de galerii de 
        em Salix alba 
        |şi 
        em Populus alba 
        |(habitat prioritar, 92A0), prezenţa acestor tipuri de habitate mărind valoarea zonei din punct de vedere al biodiversităţii. 
      p
        | În apele sărace în nitraţi, din unele japşe sau ochiuri de apă dintre plauri, apar plantele semi-parazite şi carnivore 
        em Utricularia minor 
        |şi 
        em Aldrovanda vesiculosa
        |. Flora submersă este alcătuită din specii comune ca: 
        em Potamogeton natans
        |, 
        em P. pectinatus
        |, 
        em Ceratophyllum submersum
        |, 
        em Myriophyllum varticillatum
        |, 
        em Spirogyra longata
        |, 
        em Cladophora socialis
        |. În stufărişurile compacte se concentrează aproape toată flora europeană de plante tipice plaurilor şi zonelor cu fluctuaţie în regimul hidrologic, reprezentative fiind, printre altele: 
        em Dryopteris thelypteris 
        |(
        em Nephrodium thelypteris
        |), 
        em Euphorbia palustris
        |, 
        em Carex pseudocyperus
        |, 
        em Mentha aquatica
        |, 
        em Equisetum palustre
        | etc. Pe marginea canalelor vegetaţia este scundă, anuală, amfibie, pionieră, şi aparţine clasei fitosociologice 
        em Isoëto-Nanojuncetea
        |. 
      p
        | Din punct de vedere al stării de conservare a vegetaţiei, atât habitatele cât şi specia prioritară 
        em Aldrovanda vesiculosa 
        | se află într-o stare de conservare excelentă, obiectivele de conservare ale acestei zone fiind îndeplinite. 
