include ../../mixins

+article('17. Potcoava Lake (652 ha) ')
  +section('17. Potcoava Lake (652 ha) ')
    .lang.lang-ro
      h1 Lacul Potcoava (652 ha)
      p 
        |Această arie strict protejată este situată în delta fluvială la nord de  complexul lacustru Gorgova-Isac şi include lacurile Babinţii Mari, Babinţii Mici şi Potcoava. În lacuri au fost identificate 41 specii de alge, caracteristice lacurilor eutro-hipeutrofice, 48 de specii de plante superioare, printre care ciulinul de baltă şi răţişoara. Dintre nevertebrate se găsesc 31 specii planctonice şi 6 bentonice. Peştii sunt reprezentaţi prin 20 de specii, populaţii mari având linul şi caracuda. La acestea se mai adaugă 4 specii de mamifere, 2 specii de reptile şi cca 100 specii de păsări. Constituie loc de cuibărit pentru specii acvatice (raţe, lişiţe, cârstei, corcodei, etc), aici existând colonii polispecifice de stârci, ţigănuşi, egretă mică şi cormoran mic.
      p 
        |Tipuri de habitate întâlnite: lacuri distrofe şi iazuri (cod 3160); ape stătătoare oligotrofe până la mezotrofe cu vegetaţie din 
        em Littorelletea uniflorae 
        |şi/sau 
        em Isoëto-Nanojuncetea 
        |(cod 3130); lacuri eutrofe naturale cu vegetaţie tip 
        em Magnopotamion 
        |sau 
        em Hydrocharition 
        |(cod 3150); zăvoaie cu 
        em Salix alba 
        |şi 
        em Populus alba 
        |(cod 92A0).
    .lang.lang-en
      h1 Potcoava Lake (652 ha)
      p
        | This strictly protected area is located within the river delta, to the North of Gorgova-Isac lacustrian complex and includes Babinţii Mari, Babinţii Mici and Potcoava lakes. Inside the lakes there have been identified 41 algae species, typical for eutro-hipertrophic lakes, 48 superior plants species, among which Water Chestnut and Iris. Among the invertebrates, there are 31 plankton species and 6 benthonic. The fish population includes 20 species, among which the Tench and Crucian Carp are found in large numbers. There are 4 mammal species, 2 reptile species and about 100 bird species. The lake is also a nesting place for water species (ducks, coots, Water Rails, grebes, etc), including mixed colonies of herons, Glossy Ibis, Little Egret and Pigmy Cormorant. 
      p
        | The habitat types are: dystrophic lakes and ponds (code 3160); oligotrophic stagnant waters, up to mezotrophic with 
        em Littorelletea uniflorae 
        |and/or 
        em Isoëto-Nanojuncetea 
        |vegetation (code 3130); natural eutrophic lakes with 
        em Magnopotamion 
        |or 
        em Hydrocharition 
        |vegetation (code 3150); river meadows with 
        em Salix alba 
        |and 
        em Populus alba 
        |(code 92A0). 
