include ../../mixins

+article('10. Sacalin - Zătoane (21,410 ha)')
  +section('10. Sacalin - Zătoane (21,410 ha)')
    .lang.lang-en
      h1 Sacalin - Zătoane (21,410 ha)
      p
        | Situated in the eastern of Dranov unit is characterized by a succession of younger marine sandy levees, almost parallel with the marine shore, to which the former Sacalin island is attached, in present being a peninsula by attaching the northern part to the delta. It is limited, in East - South-East by marine waters, partially by Crasnicol levee, and some other smaller levees in West - North-West, and by Perişor channel, in South-West. The levees are covered with meadow vegetation. Coastal belts, less consolidates (Mocirla levee), alternates with backwater-type depressions, channels, some of them with less active circulation (Lejai, Crasnicol) but some with active circulation (Buhaz-Zăton Channel). The lakes inside protected area, but also those on the shore (Zătonul Mare, Zăton Mic) because of the marine erosion, are continuous enlarging the link with the Black Sea. This extended area is characterized by a lot of habitats, reed and cat-tail being dominant. There were identified more than 150 species of algae and about 300 species of superior plants, these forming around 85 vegetal associations. Among superior plants, 
        em Eclipta alba 
        |was signaled in Romania for the first time. This strictly protected area has a great importance from ornithological point of view, being a passage place during migrations, and also for the presence of a pelican colony of about 400 pairs, Dalmatian Pelicans and about 100 pairs of White Pelican in Lejai area. On Gârla Turcească, a colony is forming with about 100 Little Egrets (
        em Egretta garzetta
        |) and about 50 pairs of Night Herons (
        em Nycticorax nycticorax
        |). The lakes offer good nesting conditions for the Mute Swan (
        em Cygnus olor
        |) and for feeding the limnicole species, very abundant here, and also, on the Sacalin island, where the greatest colony of Sandwich Tern (
        em Sterna sanvicenzis
        |)  is situated. Lakes, levees and sea shore, including Sacalin island, are places of maximal concentration of ornithological fauna for pre-migration and migration, a wintering „quarter” for lots of species.
    .lang.lang-ro
      h1 Sacalin - Zătoane (21.410 ha)
      p
        |  Situată în estul unităţii Dranov, se caracterizează printr-o succesiune de grinduri marine mai tinere, nisipoase, aproximativ paralele cu litoralul marin, la care se ataşează fosta insulă Sacalin, în prezent, peninsulă prin alipirea părţii nordice de spaţiul deltaic. Este delimitată, în est-sud-est de apele marine, parţial de grindul Crasnicol, şi de alte câteva grinduri mai mici în vest-nord-vest, şi canalul Perişor, în sud-vest. Grindurile sunt acoperite cu vegetaţie de pajişti. Cordoanele litorale, puţin consolidate (Grindul Mocirla), alternează cu depresiuni tip japşe, canale unele cu circulaţie a apei mai puţin activă (Lejai, Crasnicol) dar şi cu circulaţie activă (Canalul Buhaz-Zăton). Lacurile, cele din interiorul zonei protejate, dar şi cele de la ţărm (Zătonul Mare, Zăton Mic) datorită abraziunii marine îşi lărgesc continuu legătura cu Marea Neagră. Această arie extinsă se caracterizează prin multe tipuri de habitate, dominate de stufărişuri şi păpuriş. Au fost identificate peste 150 specii de alge şi circa 300 de specii de plante superioare, acestea formând aproximativ 85 de asociaţii vegetale. Dintre plantele superioare, 
        em Eclipta alba 
        |a fost semnalată în România pentru prima dată. Această zonă strict protejată are o importanţă deosebită din punct de vedere avifaunistic atât ca loc de pasaj, în timpul migraţiilor, cât şi a prezenţei în aria Lejai a unei colonii de pelicani  de circa 400 perechi, pelicani creţi şi circa 100 perechi de pelicani comuni. De asemenea, pe Gârla Turcească, se mai formează o colonie cu circa 100 perechi de egrete mici (
        em Egretta garzetta
        |) şi circa 50 perechi de stârci de noapte (
        em Nycticorax nycticorax
        |). Lacurile reprezintă condiţii bune pentru cuibăritul lebedei mute (
        em Cygnus olor
        |) şi pentru hrana speciilor limicole, abundente aici, de asemenea, şi pe insula Sacalin, unde se află şi cea mai mare colonie de chire de mare (
        em Sterna sanvicenzis
        |). Atât lacurile cât şi grindurile şi plaja litorală inclusiv, insula Sacalin, sunt locuri de maximă concentrare a ornitofaunei de nidificare, premigraţie şi migraţie, un „cartier” de iernare pentru numeroase specii. 
