include ../../mixins

+article('19. Ceaplace Island (117 ha) ')
  +section('19. Ceaplace Island (117 ha) ')
    .lang.lang-en
      h1 Ceaplace Island (117 ha)
      p
        strong Ceaplace Island (117 ha) 
        |is located in the North part of Sinoe Lake, and it is one of the 3 locations in Romania that hosts Dalmatian Pelican colonies. The surface of the Island, including the body of water, is about 117 ha, and the approximate land surface is 0.6 ha. The area includes Ceaplace Island, and the surrounding water surface of Sinoe Lake, up to 1 km from the area centre. 
      p
        | The area hosts 2 priority habitats: oligotrophic stagnant waters, up to mezotrophic with 
        em Littorelletea uniflorae 
        |and/or 
        em Isoëto-Nanojuncetea 
        |vegetation (code 3130) and natural eutrophic lakes with 
        em Magnopotamion
        | or 
        em Hydrocharition 
        |vegetation (code 3150).
    .lang.lang-ro
      h1 Insula Ceaplace (117 ha)
      p
        strong Insula Ceaplace 
        |este situată în partea de nord a lacului Sinoie şi este una din cele 3 locaţii din România care găzduiesc colonii de pelicani creţi. Are o suprafaţă totală, incluzând luciu de apă, de 117 ha, iar suprafaţa aproximativă a insulei este de 0,6 ha. Aria include Insula Ceaplace, respectiv o suprafaţă înconjurătoare a acesteia constând din luciul de apă a lacului Sinoe, până la o distanţă de aproximativ 1 km de centrul ariei. 
      p 
        |Zona găzduieşte 2 habitate prioritare: ape stătătoare oligotrofe până la mezotrofe cu vegetaţie din 
        em Littorelletea uniflorae 
        |şi/sau 
        em Isoëto-Nanojuncetea 
        |(cod 3130) şi lacuri eutrofe naturale cu vegetaţie tip 
        em Magnopotamion 
        |sau 
        em Hydrocharition 
        |(cod 3150).
