include ../../mixins

+article('16. Rotundu Lake (228 ha) ')
  +section('16. Rotundu Lake (228 ha) ')
    .lang.lang-en
      h1 Rotundu Lake (228 ha) 
      p
        strong Rotundu Lake (228 ha) 
        | is located in the wild Danube floodplain upstream from Tulcea municipality, to the West of Somova-Parcheş lakes complex, to the West of Telincea lake, to the North of Saon lake and Saon monastery. As an area often flooded by the Danube, in the lake there have been identified 39 algae species, 57 superior plants, forming 8 vegetal associations, typical for aquatic and swamps habitats. Among the invertebrates, 26 are plankton, 5 benthonic, 19 species of shellfish, 177 species of insects (17 found for the first time in RBDD, after 1990, and 
        em Planeustomus heydeni 
        |for the first time in Romania). Also, there have been identified 21 fish species (Bream, Pike Perch), the area being an important place for reproduction and feeding for fingerlings. Here there have been observed over 150 bird species and 11 mammal species.
      p 
        |Regarding the habitat types within Somova-Parcheş lacustrian complex, there are the following 4 categories: dystrophic lakes and ponds (code 3160); oligotrophic stagnant waters, up to mezotrophic with 
        em Littorelletea uniflorae 
        |and/or 
        em Isoëto-Nanojuncetea 
        |vegetation (code 3130); natural eutrophic lakes with 
        em Magnopotamion 
        |or 
        em Hydrocharition vegetation 
        |(code 3150) and river meadows with 
        em Salix alba 
        |and 
        em Populus alba 
        |(code 92A0). As priority species 
        em Aldrovanda vesiculosa 
        |is worth to be mentioned.
    .lang.lang-ro
      h1 Lacul Rotundu (228 ha)
      p
        | Este situat în lunca inundabilă a Dunării neamenajată, amonte de municipiul Tulcea, partea vestică a complexului lacustru Somova-Parcheş, la vest de lacul Telincea, la nord de limanul Saon şi de mănăstirea cu acelaşi nume. Fiind o zonă supusă inundaţiilor dunărene, în lac au fost identificate 39 de specii de alge, 57 specii de plante superioare, acestea din urmă formând 8 asociaţii vegetale caracteristice habitatelor acvatice şi palustre. Dintre nevertebrate, 26 sunt planctonice, 5 bentonice, 19 specii de moluşte, 177 specii de insecte (17 semnalate pentru prima dată în RBDD, după anul 1990, iar specia 
        em Planeustomus heydeni 
        |a fost semnalată pentru prima dată în România). De asemenea, au fost identificate 21 specii de peşti (plătică, şalău), arealul constituind un important loc de reproducere şi de hrănire pentru puiet. Tot aici, au fost observate peste 150 de specii de păsări şi 11 specii de mamifere.
      p
        | Din punct de vedere al tipurilor de habitate în complexul lacustru Somova-Parcheş sunt prezente 4 tipuri şi anume: lacuri distrofe şi iazuri (cod 3160); ape stătătoare oligotrofe până la mezotrofe cu vegetaţie din 
        em Littorelletea uniflorae 
        |şi/sau 
        em Isoëto- Nanojuncetea 
        |(cod 3130); lacuri eutrofe naturale cu vegetaţie tip 
        em Magnopotamion 
        |sau 
        em Hydrocharition 
        |(cod 3150) şi zăvoaie cu 
        em Salix alba 
        |şi 
        em Populus alba 
        |(cod 92A0). Ca specie prioritară este întâlnită 
        em Aldrovanda vesiculosa
        |. 
