include ../../mixins


+article('14. Istria-Sinoe (400 ha)')
  +section('14. Istria-Sinoe (400 ha)')
    .lang.lang-en
      h1 Istria-Sinoe (400 ha)
      p 
        | Istria-Sinoe (400 ha) is located within Razim-Sinoie lacustrian complex, to the North-East border of Saele levee and includes the promontory formed on green shale rocks, the location of the Histria archaeological site, 6 km long and 1,300 m width to North-East and 300 m to South-West. In this area, there is a wide variety of superior plants forming 26 vegetal associations, from which 3 species are of community interest (
        em Euphorbia peplis
        |, 
        em E. seguieriana
        |, 
        em E. falcata
        |). The insects were estimated to about 80 species, from which 9 were recorded for the first time in RBDD, after 1990. Among the 7 reptile species, here you can find Balkan Wall Lizard (
        em Podarcis taurica
        |), Caspian Whipsnake (
        em Coluber caspius
        |), Greek Tortoise (
        em Testudo graeca iberi
        |). The Eastern Spadefoot Toad (
        em Pelobates syriacus balcanicus
        |) lives here in large numbers. The sand bank represents an important passage for around 290 bird species, from which one third nest here. The area has also a great archaeological value, as in the North side you can find the ruins of Histria ancient city founded in 657 BC by the Greeks of Miletus as trade harbor at the Pontus Euxinus, in a maritime bay, rich in fish population (lately blocked by Chituc sand bank).  
      p
        | Within the area, there have been identified 5 priority habitats: steppe and Pannonic salt swamps (code 1530); gypsophile iberic vegetation (code 1520); dunes with 
        em Hippophae rhamnoides 
        |(code 2160); halo-nitrophile shrubs (
        em Pegano-Salsoletea
        |) (code 1430) and Mediterranean salt meadows (
        em Juncetalia maritimi
        |) (code 1410). 
    .lang.lang-ro
      h1 Istria-Sinoie (400 ha)
      p 
        |Este situată în complexul lacustru Razim-Sinoie, pe grindul Saele în extremitatea lui nord-estică şi cuprinde promontoriul constituit din şisturile verzi pe care este situat ansamblul arheologic Histria, având o lungime de circa 6 km şi o lăţime cuprinsă între 1.300 m spre nord-est şi 300 m spre sud-vest. Zona este caracterizată printr-o mare varietate de specii de plante superioare care formează 26 de asociaţii vegetale, din care 3 specii sunt de interes comunitar (
        em Euphorbia peplis
        |, 
        em E. seguieriana
        |, 
        em E. falcata
        |). Insectele au fost apreciate la circa 80 de specii, dintre care 9 au fost semnalate pentru prima dată în RBDD, după anul 1990. Dintre cele 7 specii de reptile, aici se întâlnesc şopârla de iarbă (
        em Podarcis taurica
        |), şarpele rău (
        em Coluber caspius
        |), broasca ţestoasă de uscat (
        em Testudo graeca iberi
        |). De asemenea, broasca de pământ siriacă (
        em Pelobates syriacus balcanicus
        |) este numeroasă. Grindul constituie un important loc de pasaj pentru circa 290 specii de păsări, iar dintre acestea o treime cuibăresc aici. Zona are şi o importanţă arheologică deosebită, în partea nordică se găsesc ruinele Cetăţii Histria întemeiată  în anul 657 î.Hr. de grecii din Milet cu funcţie portuară la Pontului Euxin, favorizată la acea epocă de golful marin, de bogăţia faunei piscicole, golf blocat ulterior de grindul litoral Chituc.  
      p
        | În zonă au fost identificate 5 habitate prioritare: Stepe şi mlaştini sărăturate panonice (cod 1530); vegetaţie iberică gipsofilă (cod 1520); dune cu 
        em Hippophae rhamnoides 
        |(cod 2160); desişuri halo-nitrofile (
        em Pegano-Salsoletea
        |) (cod 1430) şi pajişti sărăturate mediteraneene (
        em Juncetalia maritimi
        |) (cod 1410). 
