include ../../mixins

+article('15. Grindul (Levee) Chituc (2,300 ha)')
  +section('15. Grindul (Levee) Chituc (2,300 ha)')
    .lang.lang-en
      h1 Grindul (Levee) Chituc (2,300 ha)
      p
        | The strictly protected area is located within the borders of Razim-Sinoie lacustrian complex, covering the North side of Chituc sand levee. The area consists of a succesion of small belts, dunes and mostly lakes, oriented at an angle with the sea shore and spreading like a fan. The vegetation is typical for coast areas with sandy salty soil. Here there have been identified 165 species of superior plants, from which 7 recorded for the first time in RBDD, after 1990; 2 species (
        em Euphorbia seguieriana
        |, 
        em Salvinia natans
        |) being of a community interest. Also, there have been found 4 species of amphibians, 6 species of reptiles, 315 species of birds, Chituc levee being an important passage area for migrating birds. Here there have been identified 14 species of mammals. These species live in the following habitats: dunes with 
        em Hippophae rhamnoides 
        |and Mediterranean salt meadows (
        em Juncetalia maritimi
        |). The area is well preserved, the main threat being the invasive species and tourism projects on the beach. The large number of 
        em Elaeagnus angustifolia 
        |can lead to the replacement of local 
        em Hippophae rhamnoides
        |, taking in consideration the similar habitat needs that result in a competition for light, space and nutrients.
    .lang.lang-ro
      h1 Grindul Chituc (2.300 ha)
      p 
        | Aria strict protejată este situată în limitele complexului lacustru Razim-Sinoie, ocupând partea nordică a grindului Chituc. Se caracterizează printr-o succesiune de cordoane, dune şi lacuri (edighioluri), cu preponderenţa acestora din urmă, orientate pe o direcţie piezişă faţă de linia ţărmului şi având o dispunere în evantai. Vegetaţia este caracteristică zonelor litorale cu sol nisipos sărăturate. Aici, au fost identificate 165 de specii de plante superioare, dintre care 7 semnalate pentru prima dată în RBDD, după anul 1990, 2 specii (
        em Euphorbia seguieriana
        |, 
        em Salvinia natans
        |) fiind de interes comunitar. De asemenea, au fost semnalate 4 specii de amfibieni, 6 specii de reptile, 315 specii de păsări, grindul Chituc fiind un important loc de pasaj al păsărilor migratoare. Tot aici, au fost identificate 14 specii de mamifere. Aceste specii sunt prezente în următoarele tipuri de habitate: dune cu 
        em Hippophae rhamnoides 
        |şi pajişti sărăturate mediteraneene (
        em Juncetalia maritimi
        |). Zona este bine conservată, principala ameninţare fiind pătrunderea speciilor invazive şi extinderea utilizării plajei pentru turism. Prezenţa masivă a indivizilor de 
        em Elaeagnus angustifolia 
        | poate conduce la înlocuirea speciei autohtone 
        em Hippophae rhamnoides 
        |având în vedere cerinţele similare de biotop care determină intensificarea procesului competiţional pentru lumină, spaţiu şi nutrienţi. 
