include ../../mixins

+article('18. Belciug Lake (110 ha) ')
  +section('18. Belciug Lake (110 ha) ')
    .lang.lang-en
      h1 Belciug Lake (110 ha)
      p 
        |This strictly protected area is located in Dranov unit, to the South of St. Gheorghe arm, on km 25, being bordered by Plopilor levee, an extension of Crasnicol levee.  The lake is one of the abandoned lakes of Sfântu Gheorghe arm. Due to its depth of about 7 m and its connection with Danube arm, during high water level, when the water exchange takes place, the eutrophication process are more reduced, comparing with other lakes in Danube Delta. Inside the lake, there have been identified 70 algae species (indicating mezo-eutrophic waters) and over 80 superior plants species which form 9 vegetal associations, on the lake shore (
        em Lycopus exaltatus 
        |was identified for the first time in RBDD, after 1990). Among around 300 invertebrates species found here, mollusk 
        em Oxyloma pinteri 
        |is national endemic species, with a limited spreading area, with a largest number only in Belciug lake, being specially protected. The lake represents a refuge for fish species as Tench and Crucian Carp, but also for: Carp, Pike, Catfish and Bream. Here have been also found 100 birds species, present during migration periods (feeding place), but also for those that are nesting hereby, as herons, egrets, ducks, etc. In the surrounding reed beds, the crane, a threatened species, was observed nesting.
      p 
        |In the area there have been identified 3 types of habitat: dystrophic lakes and ponds (code 3160); oligotrophic stagnant waters, up to mezotrophic with 
        em Littorelletea uniflorae 
        |and/or 
        em Isoëto-Nanojuncetea 
        |vegetation (code 3130); natural eutrophic lakes with 
        em Magnopotamion 
        |or 
        em Hydrocharition vegetation 
        |(code 3150) and river meadows with 
        em Salix alba 
        |and 
        em Populus alba 
        |(92A0). 
    .lang.lang-ro
      h1 Lacul Belciug (110 ha)
      p
        | Această arie strict protejată este situată în unitatea Dranov, la sud de braţul Sfântul Gheorghe, în dreptul km 25, fiind limitat de Grindul Plopilor o prelungire a grindului Crasnicol. Lacul Belciug este unul dintre lacurile de braţ părăsit/abandonat, în cazul de faţă al braţului Sfântu Gheorghe. Datorită adâncimii mari, până la 7 m şi a legăturii cu braţul Dunării, în perioada apelor mari, când are loc schimb de ape, procesele de eutrofizare sunt mult reduse în comparaţie cu alte lacuri din Delta Dunării. În lac au fost identificate 70 de specii de alge (acestea indicând ape mezo-eutrofe) şi peste 80 specii de plante superioare care formează 9 asociaţii vegetale, la marginea lacului (specia 
        em Lycopus exaltatus 
        |a fost identificată pentru prima dată în RBDD, după anul 1990). Dintre cele circa 300 de specii de nevertebrate identificate aici, molusca 
        em Oxyloma pinteri 
        |este un endemit naţional, cu un areal limitat, doar la lacul Belciug cu o populaţie semnificativă, fapt ce impune o protecţie deosebită. Lacul este un refugiu pentru specii de peşti ca linul şi caracuda, dar abundă şi în exemplare precum: crap, ştiucă, somn, plătică. De asemenea, aici au fost identificate cca 100 de specii de păsări, prezente în perioada migraţiilor (loc de hrănire), dar şi pentru cele care cuibăresc în apropiere cum ar fi stârci, egrete, raţe etc. În stufărişurile înconjurătoare s-a semnalat cuibărind cocorul, specie ameninţată cu dispariţia.
      p 
        |În zonă au fost identificate 3 tipuri de habitate: lacuri distrofe şi iazuri (cod 3160); ape stătătoare oligotrofe până la mezotrofe cu vegetaţie din Littorelletea uniflorae şi/sau 
        em Isoëto-Nanojuncetea 
        |(cod 3130); lacuri eutrofe naturale cu vegetaţie tip 
        em Magnopotamion 
        |sau 
        em Hydrocharition 
        |(cod 3150) şi zăvoaie cu 
        em Salix alba 
        |şi 
        em Populus alba 
        |(92A0). 
