include ../../mixins

+article('3. Răducu Lake (2.500 ha)')
  +section('3. Răducu Lake (2.500 ha)')
    .lang.lang-en
      h1 Răducu Lake (2.500 ha)
      p
        strong Răducu Lake (2.500 ha) 
        |is located in the central part of fluvial-maritime delta and in the South of Letea sand dunes.  Strictly protected Răducu Lake, is bordered to the South by the Old Danube, from Magearu Channel to Hudac natural levee to the West, by Hudac natural levee up to Răducu levee and further more to the nameless stream, to the North by temporary stream between Răducului and Părului natural levees, to the North-East by Părului levee to Magearu Channel, and to the East, by Magearu channel, from Părului levee land to the Old Danube. The area includes freshwater lakes (Răducu and Răduculeţ are the most important) fed by the last branch of the big "M"- Old Danube, located in a typical sand banks area of fluvial-maritime natural levees between Chilia and Sulina with poor soils, mobile or fixed with 
        em Elymus sabulosus
        |, and 
        em Carex ligerica 
        |and 
        em Agropyrum elongatum
        |, steppe meadows with 
        em Salix repens 
        |and 
        em Euphorbia secueriana
        |, or temporary water areas characterized by shrubs with 
        em Juncus gerardii
        |. The main habitat here is distrophy lakes and ponds (code 3160).
      p
        | Răducu Lake is covered on a big surface with Yellow Water Lily (
        em Nuphar lutea
        |).
      p Răducu and Răduculeţ lakes are breeding and feeding area for 24 (lake and river) fish species (Carp, Pike Perch, Catfish, Bream, etc.) which are coming from Old Danube and for water stagnant fish species (Pike, Perch, Rudd, Tench, Crucian Carp, etc.). From the over 150 species of signaled birds, about 50 are nesting here. The mammals are also present with 9 species.
    .lang.lang-ro
      h1 Lacul Răducu (2.500 ha)
      p
        strong Lacul Răducu (2.500 ha) 
        |este situat în partea centrală a deltei fluvio-marine şi în sudul formaţiunilor de grinduri Letea. Zona strict protejată Lacul Răducu este limitată  la sud, de Dunărea Veche, de la Canalul Magearu până la grindul Hudac, la vest, de grindul Hudac până la întâlnirea cu grindul Răducu şi, în continuare, până la gârla fără nume, la nord, de gârla temporară dintre grindul Răducu şi grindul Părului, la nord-est, de grindul Părului până la canalul Magearu, iar la est, de canalul Magearu, de la grindul Părului până la Dunărea Veche. Zona cuprinde lacuri cu apă dulce (cele mai importante Răducu şi Răduculeţ) alimentate din ultimul braţ al marelui "M"-Dunărea Veche, situate într-o zona tipică de dezvoltare a grindurilor fluvio-marine dintre Chilia şi Sulina cu soluri sărace, mobile sau slab fixate cu perişorul (
        em Elymus sabulosus
        |), rogoz ( 
        em Carex ligerica
        |) şi 
        em Agropyrum elongatum
        |, pajişti stepice cu 
        em Salix repens 
        | şi 
        em Euphorbia secueriana
        |, sau arii de depresionare cu apă temporară caracterizată de tufe cu 
        em Juncus gerardii
        |. Principalul tip de habitat este habitatul cu lacuri distrofe şi iazuri (cod 3160). 
      p
        | Lacul Răducu este acoperit pe o mare suprafaţă de o asociaţie de nufăr galben (
        em Nuphar lutea
        |). Lacurile Răducu şi Răduculeţ reprezintă zonă de reproducere şi hrănire pentru 24 specii de peşti stagnofili-reofili (crap, şalău, somn, plătică, etc.) care pătrund din Dunărea Veche, de asemenea, pentru peşti stagnofili (ştiucă, biban, roşioară, lin, caracudă, etc.). Dintre cele peste 150 specii de păsări semnalate, circa 50 cuibăresc aici. Şi mamiferele sunt prezente prin 9 specii.
