include ../../mixins

+article('13. Grindul (Levee) Lupilor  (2,075 ha)')
  +section('13. Grindul (Levee) Lupilor  (2,075 ha)')
    .lang.lang-en
      h1 Grindul (Levee) Lupilor  (2,075 ha)
      p 
        strong Grindul (Levee) Lupilor  (2,075 ha) 
        |is located in the South of the reserve, within Razim-Sinoie lacustrian complex, and it is bordered to the North-West by Zmeica lake; to the East, South and South-West by Sinoe Lake; to the West by Channel 2; to the North by Goloviţa Lake. Due to its position between Razim and Sinoe lakes, with low altitude (0.5 to 1.5 m height) and specific vegetation of sandy soils of marine steppe origin, in the North-East side there are also wooden species (Oleaster, Sea Buckthorn, Willow and one Pine plantation). Among the 300 species of identified plants, only 3 are of a community interest (
        em Alyssma bazaeanum
        |, 
        em Euphorbia seguieriana
        |, 
        em Trapa natans
        |); 27 species have been recorded for the first time in 1990 in RBDD; and for Romania other 3 species (
        em Atriplex micrantha
        |, 
        em Suaeda cofusa
        |, 
        em Linaria euxina
        |, 
        em Bidens connata
        |). There are 169 insect species, from which the Bush Cricket Saga pedo is of a community interest; 59 species recorded for the first time in RBDD, after 1990; 10 species identified for the first time in Romania and one species described also for the first time in science history (
        em Grospillus spp.
        |). The amphibian and reptiles populations are in large numbers, the sand bank being a good place for laying eggs of European Pond Terrapin. Grindul Lupilor is an important refuge area for nesting and feeding birds, especially during autumn migration, when the area becomes an impressive concentration of ornithological wildlife, and in particular of the winter guests (geese, ducks). This is because the water in Sinoie lake is saltier near the South side of Grindul Lupilor, compared to the North side, towards Razim lake. Inside the adjacent lakes, the fish natural reproduction takes place (for 43 species), among which are to be mentioned: Carp (
        em Ciprinus carpio
        |), Pike Perch (
        em Stizostedion lucioperca
        |), Bream (
        em Abramis brama
        |), etc. In the same time, among the 20 mammals species, there is a small population of Badger (
        em Meles meles
        |) rarely seen. During the winter time when Razim and Sinoie lakes are frozen, here come the Golden Jackals (
        em Canis aureus
        |), migrated from South Europe. 
    .lang.lang-ro
      h1 Grindul Lupilor (2.075 ha)
      p
        | Este situată în partea de sud a rezervaţiei, în complexul lacustru Razim-Sinoie, fiind delimitată la nord-vest de lacul Zmeica, la est, sud şi sud-vest, de lacul Sinoie, la vest, de canalul 2, la nord, de lacul Goloviţa. Datorită poziţiei sale, între lacurile Razim şi Sinoie, având cotele reliefului reduse (0,5-1,5 m altitudine) şi o vegetaţie specifică solurilor nisipoase de origine marină, de stepă, în partea nord-estică sunt şi specii lemnoase (sălcioară, cătină galbenă, salcie şi o plantaţie de pini). Dintre cele 300 de specii de plante identificate, 3 sunt de interes comunitar (
        em Alyssma bazaeanum
        |, 
        em Euphorbia seguieriana
        |, 
        em Trapa natans
        |), 27 specii au fost semnalate pentru prima dată în anul 1990 în RBDD, iar pentru Romania 3 specii (
        em Atriplex micrantha
        |, 
        em Suaeda cofusa
        |, 
        em Linaria euxina
        |, 
        em Bidens connata
        |). Sunt, de asemenea, 169 de specii de insecte, din care lăcusta 
        em Saga pedo 
        |este de interes comunitar, 59 de specii pentru prima dată în RBDD, după anul 1990, 10 specii, semnalate pentru prima dată în România şi o specie descrisă în premieră pentru ştiinţă (
        em Grospillus spp.
        |). Populaţiile de amfibieni şi reptile sunt bine reprezentate, grindul fiind un loc bun pentru depunerea pontei ţestoaselor de apă. Grindul Lupilor constituie un important refugiu de cuibărit şi hrănire a păsărilor, îndeosebi în perioada migraţiei de toamnă, când zona devine o concentrare impresionantă a faunei ornitologice şi, în special, a oaspeţilor de iarnă (gâşte, raţe), deoarece în lacul Sinoie apa este mai sărată la sud de grindul Lupilor decât la nord, spre Razim. În apele lacurilor limitrofe are loc reproducerea naturală a peştilor (43 specii), printre care crap (
        em Ciprinus carpio
        |), şalău (
        em Stizostedion lucioperca
        |), plătică (
        em Abramis brama
        |) etc.  De asemenea, dintre cele 20 specii de mamifere se găseşte şi o populaţie mică de bursuc foarte rar întâlnită (
        em Meles meles
        |). Iarna, când lacurile Razim şi Sinoie sunt îngheţate, aici vin haite de şacal auriu (
        em Canis aureus
        |), migrate din sudul Europei.
