include ../../mixins

+article('12. Capul (Cape) Doloşman (125 ha)')
  +section('12. Capul (Cape) Doloşman (125 ha)')
    .lang.lang-en
      h1 Capul (Cape) Doloşman (125 ha) 
      p
        | The protected area covers the eastern extremity of the Doloşman-Podişul Babadag promontory, of 57 m altitude, as cretaceous calcareous, and having a fossilized sea cliff near Jurilovca village, including the site with the ruins of the Greek-Roman fortress of Argamum (5th Century BC). The area is important especially for preserving the xerophyte vegetation, characteristic for the steppe areas on erosion markers, sheltering an endemic plant (
        em Centauraea jankae
        |). Here there are around 160 species of insects, the endemic coleoptera (
        em Prosocuris phelandrii
        |) being one of them. The base of the calcareous cliff area shelters on its entire length a large population of Dice Snake (
        em Natrix tessellata
        |), and the bushes and high vegetation are home for the Balkan Green Lizard (
        em Lacerta trilineata dobrogica
        |). In the same time, on the plateau and also in the cliff cracks lives the Caspian Whipsnake (
        em Coluber caspius
        |), but not in such a large number. Among around 70 bird species, 9 species are nesting type: Swift, Swallow, Sand-Martin, Tree Sparrow, Kingfisher, Kestrel, Little Owl and Eagle Owl. The mammals are represented by 13 species, from which 8 have community interest, including the Steppe Polecat.
    .lang.lang-ro
      h1 Capul Doloşman (125 ha)
      p 
        | Aria protejată este reprezentată de extremitatea estică a promontoriului Doloşman –Podişul Babadag, cu o altitudine de 57 m, constituit din calcare cretacice cu o faleză marină fosilizată  din apropierea localităţii Jurilovca cuprinzând amplasamentul ruinelor cetăţii greco-romane Argamum (sec. V i.e.n.). Este importantă pentru conservarea vegetaţiei xerofite, caracteristică zonelor stepice pe martori de eroziune, adăpostind o plantă endemică (
        em Centauraea jankae
        |). Aici, se găsesc circa 160 de specii de insecte, dintre care s-a identificat şi un coleopter endemic (
        em Prosocuris phelandrii
        |). Baza falezei calcaroase, adăposteşte pe toată lungimea o populaţie numeroasă a şarpelui de apă (
        em Natrix tessellata
        |), iar în arbuştii şi vegetaţia ierboasă înaltă coabitează guşterul vărgat (
        em Lacerta trilineata dobrogica
        |). De asemenea, atât pe platou, cât şi în fisurile falezei, trăieşte şarpele rău (
        em Coluber caspius
        |), însă puţin numeros. Dintre cele circa 70 de specii de păsări, 9 sunt cuibăritoare: drepneaua neagră, rândunica, lăstunul de mal, vrabia de câmp, pescărelul albastru, vânturelul roşu, cucuveaua şi buha mare. Mamiferele sunt reprezentate prin 13 specii dintre care 8 sunt comunitare, inclusiv dihorul de stepă.    
