include ../../mixins

+article('9. Popina Island (98 ha)')
  +section('9. Popina Island (98 ha)')
    .lang.lang-en
      h1 Popina Island (98 ha)
      p 
        stong Popina Island (98 ha) 
        |is a remaining calcareous erosion from the North-Dobrogea area, located in the North of Razim Lake, on the northern side, close to Iazurile and Sarinasuf fishing ponds and Iazurile village, having an altitude of 47 meters. Due to the continental semi-arid temperate climate, the xerophile vegetation and fauna reflects the steppe conditions, excepting the sea shore/low profile land, where the lake vegetation can be found. Here, some priority habitats were identified: gypsophile iberic vegetation (code 1520); natural eutrophic lakes with 
        em Magnopotamion 
        |or 
        em Hydrocharition 
        |type vegetation (code 3150) and annual colonization with 
        em Salicornia 
        |or other species of muddy and sandy areas (code 1310). Here, 300 species of superior plants were identified, from which two of them are common species: 
        em Euphorbia agraria 
        |and 
        em Euphorbia senguieriana
        |, and 
        em Ornithogalum oreoides
        |, endemic species. Among the identified plants, 38 species were signaled for the first time on RBDD territory, after 1990. Regarding the fauna, 200 species of insects were identified, three of them being described for the first time: 
        em Isophya dobrogensis
        |, 
        em Homorosoma validirostris
        |, 
        em Lixus scabricornis
        |. On the rocky cliff, Popina island accommodates a large population of  Dice Snake (
        em Natrix tessellata
        |), and among the 130 species of birds, 17 are nesting here, in the loess shore. In spring, when the vegetation is poor and small, swamp birds can be found (
        em Congolese wagtails
        |), forest birds: the Nightingale (
        em Luscinia megarhynchos
        |), Black-headed Bunting (
        em Emberiza melanocephala
        |), Calandra Lark (
        em Melanocorhypha colandro
        |) etc. The slight mezothermal springs which are on the northern side of the island (not studied yet) gives a more scientific interest to the island. The fauna of invertebrates (the same, not enough studied) has rarities like venomous spider  "Black Widow" (
        em Lactrodextra
        |) and the giant myriapod (
        em Scolopendra cingulata
        |). The Popina island constitutes an important stop for migratory birds: Shelduck (
        em Tadorna tadorna
        |) and Kestrel (
        em Falco tinnunculus
        |).
    .lang.lang-ro
      h1 Insula Popina (98 ha)
      p
        strong Insula Popina (98 ha) 
        |este un martor de eroziune calcaros, din uscatul nord-dobrogean, situat în nordul lacului Razim, în jumătatea nordică, apropierea amenajărilor piscicole Iazurile şi Sarinasuf şi a localităţii Iazurile având o altitudine de 47 m. Datorită climatului temperat continental semiarid, vegetaţia xerofilă şi fauna reflectă condiţiile de stepă, exceptând litoralul/ţărmul jos, unde se găseşte vegetaţia palustră. Aici au fost identificate câteva habitate prioritare: vegetaţie iberica gipsofilă (cod 1520); lacuri eutrofe naturale cu vegetaţie tip de 
        em Magnopotamion 
        |sau 
        em Hydrocharition 
        |(cod 3150) şi colonizări anuale cu 
        em Salicornia 
        |sau cu alte specii ale zonelor nămoloase şi nisipoase (cod 1310). Aici, au fost identificate circa 300 de specii de plante superioare, două dintre acestea fiind specii comune: 
        em Euphorbia agraria 
        |şi 
        em Euphorbia senguieriana
        |, iar 
        em Ornithogalum oreoides
        |, specie endemică. Dintre plantele identificate, 38 specii au fost semnalate pentru prima dată pe teritoriul RBDD după anul 1990. Privitor la spectrul faunistic, au fost identificate cca 200 specii de insecte trei dintre acestea fiind descrise pentru prima dată şi anume-
        em Isophya dobrogensis
        |, 
        em Homorosoma validirostris
        |, 
        em Lixus scabricornis
        |. Pe faleza stâncoasă, insula Popina adăposteşte o numeroasă populaţie a şarpelui de apă (
        em Natrix tessellata
        |), iar dintre cele 130 de specii de păsări semnalate, 17 cuibăresc aici, în faleza de loess. Primăvara, când vegetaţia este săracă şi pitică se pot întâlni păsări de mlaştină (codobaturi venite din Congo), păsări de pădure: privighetoarea roşcată (
        em Luscinia megarhynchos
        |), presura cap negru (
        em Emberiza melanocephala
        |), ciocârlia de Bărăgan (
        em Melanocorhypha colandro
        |) etc. Izvoarele uşor mezotermale care apar pe ţărmul  nordic al insulei (încă nestudiate) conferă insulei un plus de interes ştiinţific. Fauna de nevertebrate (de asemenea, insuficient studiată) cuprinde  rarităţi ca păianjenul veninos "văduva neagră" (
        em Lactrodextra
        |) şi miriapodul gigant (
        em Scolopendra cingulata
        |). Insula Popina constituie un loc important de popas al păsărilor migratoare, călifarul alb (
        em Tadorna tadorna
        |) şi vânturelul roşu (
        em Falco tinnunculus
        |).
