include ../../mixins

+article('11. Periteaşca - Leahova (4,125 ha)')
  +section('11. Periteaşca - Leahova (4,125 ha)')
    .lang.lang-en
      h1 Periteaşca - Leahova (4,125 ha)
      p
        strong Periteaşca - Leahova (4,125 ha) 
        | is located between Razim-Sinoe lacustrian complex and the sea shore, combining various sand banks with shallow lakes (Periteşca, Coşna, Pahane-Rânec, Leahova), undergoing a continuous freshening process, after the Gura Portiţa (Portiţa mouth) has been closed and the beach consolidation. Featured in this area are the developing biocoenosis on dry sand banks and on the sand bathed by the sea water or Razim Lake and also adapted biocoenosis to various salinity levels in the water. Inside this strictly protected area, there have been identified 45 species of algae and around 70 species of superior plants, some of them having a community interest (
        em Euphorbia seguieriana
        |, 
        em Trapa natans
        |), on the seaside the species 
        em Crambe maritima 
        |and 
        em Stachis maritima 
        |are well represented. Among all the plants, 
        em Salsola kali tragus
        |, 
        em Suaeda splendes
        |, 
        em Lycopsis arvensis orientalis
        | and 
        em Lolium multiflorum 
        |are mentioned for the first time in RBDD after 1990, and 
        em Suaeda confuza 
        |was found for the first time in Romania. On the seaside, there have been identified over 100 species of insects (sub-species of Diachrysia chryson deltaica, a butterfly described for the first time in science history). Within the same protected area, there are around 30 species of fish, one of them being scientifically defined for the first time (
        em Knipowitschia cameliae
        |), and other 10 species being common for delta. The amphibians and reptiles species are represented by large population. From the 180 species of recorded birds, more than half of them are nesting in these places. The area has a great ornithological importance, as a feeding and resting place for White-fronted Goose, Red-breasted Goose (
        em Branta ruficolis
        |), pelicans, ducks, shelducks, etc. On Bisericuţa island, calcareous island, around 26 species of Shelduck (
        em Tadorna tadorna
        |) are nesting.
    .lang.lang-ro
      h1 Periteaşca - Leahova (4.125 ha)
      p
        | Este situată între complexul lagunar Razim-Sinoie şi litoralul marin, reprezintă un mozaic de grinduri şi lacuri puţin adânci (Periteaşca, Coşna, Pahane-Rânec, Leahova), aflate într-un proces de continuă îndulcire după închiderea Gurii Portiţa şi consolidarea plajei litorale. Sunt caracteristice biocenozele dezvoltate pe nisipurile uscate ale grindurilor, pe nisipurile scăldate de apele mării sau ale lacului Razim, precum şi biocenozele adaptate la variaţii mari ale salinităţii. În această arie protejată au fost identificate 45 de specii de alge şi circa 70 de specii de plante superioare, unele de interes comunitar (
        em Euphorbia seguieriana
        |, 
        em Trapa natans
        |), pe cordonul litoral fiind bine reprezentate speciile 
        em Crambe maritima 
        |şi 
        em Stachis maritima
        |. Dintre speciile de plante, 
        em Salsola kali tragus
        |, 
        em Suaeda splendes
        |, 
        em Lycopsis arvensis orientalis 
        |şi 
        em Lolium multiflorum 
        |sunt prima dată menţionate în RBDD după anul 1990, iar 
        em Suaeda confuza 
        |a fost prima dată semnalată în România. Pe litoral au fost identificate peste 100 de specii de insecte (subsp. 
        em Diachrysia chryson deltaica
        |, un fluture descris prima dată pentru ştiinţă). Tot în această arie protejată există circa 30 specii de peşti, una descrisă prima dată ştiinţific (
        em Knipowitschia cameliae
        |), 10 specii sunt comune pentru deltă. Speciile de amfibieni şi reptile sunt reprezentate prin populaţii numeroase. Dintre cele 180 specii de păsări înregistrate, mai mult de jumătate cuibăresc aici. Aria deţine o deosebită importanţă ornitologică, prin faptul că aici, staţionează pentru hrănire şi popas numeroase păsări precum gârliţe, gâsca cu gât roşu (
        em Branta ruficolis
        |), pelicani, raţe, călifari, etc. Pe insula Bisericuţa, insulă calcaroasă, cuibăresc circa 26 exemplare de călifar alb (
        em Tadorna tadorna
        |).  
