include ../../mixins

+article('4. Nebunu Lake (115 ha).')
  +section('4. Nebunu Lake (115 ha).')
    .lang.lang-en
      h1 Nebunu Lake (115 ha)
      p
        | The area is located in Şontea-Furtuna lacustrian complex, including Nebunu lake and its surrounding area, bounded in the South by Şontea stream and on the West, East and North by Nebunu lake limits. Nebunu Lake and its surrounding area represent a small lacustrine area, typical for the delta, the home of specific biocoenosis (reed, islets, lacustrine vegetation, willows) adapted to large amplitudes of the flood wave. Main habitats types: eutrophic natural lakes with 
        em Magnopotamion type vegetation or 
        em Hydrocharition 
        |(code 3150); on the banks that are going into the lake there are galleries of Salix sp., prioritary habitat (92A0). Because of the sub-layers similar with Danube islands (the fluvial delta granulometry is alike with the islands one), here can be found lianas 
        em Periploca graeca
        |, 
        em Vitis silvestris
        |, 
        em Clematis vitalba
        |, and under-tree 
        em Rubus caesius 
        |is present. 
      p
        | There have been identified 100 algae species and 100 superior plants, from which two of them for the first time in RBDD (
        em Bidens vulgata 
        |and 
        em Lemna minuta
        |), and the aquatic species 
        em Elodea nuttalli 
        |for the first time in Romania. Nebunu Lake represents a breeding and feeding area for about 23 fish species. Here also, 100 birds species have been signaled; in the North-western side of the lake more isolated from ships and motor boats, there is a poly-specifical colony where 100 pairs of Pigmy Cormorant (
        em Phalacrocorax pygmeus
        |) are nesting, 500 pairs of Little Egret (
        em Egretta garzetta
        |), 500 pairs of Squacco Heron (
        em Ardeola ralloides
        |), 450 pairs of Glossy Ibis (
        em Plegadis falcinellus
        |), 300 pairs of Night Heron (
        em Nycticorax nycticorax
        |), 20 pairs of Spoonbills  (
        em Platalea leucorodia
        |), some pairs of Buff-backed Heron (
        em Bubulcus ibis
        |), Grey Heron (
        em Ardea cinerea
        |), all of them having good feeding conditions, and nesting (for swans, 
        em anatidae
        |). 
    .lang.lang-ro
      h1 Lacul Nebunu (115 ha)
      p Este situat în complexul lacustru Şontea-Furtuna, cuprinzând lacul Nebunu şi zona adiacentă, delimitată de gârla Şontea la sud şi de limitele lacului Nebunu, la vest, nord şi est. Lacul Nebunu şi împrejurimile sale constituie o zonă lacustră de mică întindere, caracteristică deltei fluviale ce găzduieşte biocenoze specifice (stufărişuri, plaur fixat,specii de vegetaţie palustră, sălcii) adaptate la amplitudini mari ale undei de viitură.
      p 
        |Principalele tipuri de habitate: lacuri eutrofe naturale cu vegetaţie tip 
        em Magnopotamion 
        |sau 
        em Hydrocharition 
        |(cod 3150); pe malurile canalelor ce pătrund în lac sunt prezente galerii de 
        em Salix sp.
        |, habitat prioritar (
        em 92A0
        |). Datorită substratului asemănător cu cel al ostroavelor dunărene (granulometria deltei fluviale este asemănătoare celei din ostroave), aici sunt prezente liane de tipul 
        em Periploca graeca
        |, 
        em Vitis silvestris
        |, 
        em Clematis vitalba
        |, iar în subarboret este prezent 
        em Rubus caesius
        |. 
      p
        | Au fost identificate circa 100 specii de alge şi peste 100 specii de plante superioare, din care două pentru prima dată în RBDD (
        em Bidens vulgata 
        | şi 
        em Lemna minuta
        |), iar specia acvatică-
        em Elodea nuttalli 
        |pentru prima dată în România. Lacul Nebunu reprezintă o arie de reproducere şi hrănire pentru circa 23 specii de peşti. Tot aici, au fost semnalate 100 specii de păsări; în partea nord-vestică a lacului mai izolată faţă de circulaţia navelor şi bărcilor cu motor, o colonie polispecifică, în care cuibăresc circa 100 de perechi de cormoran mic (
        em Phalacrocorax pygmeus
        |), 500 perechi de egretă mică (
        em Egretta garzetta
        |), 500 de perechi de stârc galben (
        em Ardeola ralloides
        |), 450 de perechi de ţigănuşi (
        em Plegadis falcinellus
        |), 300 de perechi de stârc de noapte (
        em Nycticorax nycticorax
        |), 20 perechi de lopătari (
        em Platalea leucorodia
        |), câteva perechi de stârc de cireadă (
        em Bubulcus ibis
        |), stârc cenuşiu (
        em Ardea cinerea
        |), toate acestea având condiţii bune de hrană, de cuibărit pentru lebede (
        em anatidae
        |). 
