include ../../mixins

+article('2. Letea  Forest (2.825 ha)')
  +section('2. Letea  Forest (2.825 ha)')
    .lang.lang-en
      h1 Letea  Forest (2.825 ha)
      p
        strong Letea  Forest (2.825 ha) 
        |is located on the natural sand dunes with the same name, one of the oldest levees in the delta, between the southern limit of Nebunu Lake (North side); the village road Periprava - C.A. Rosetti up to about 1.5 km North of C.A. Rosetti village (East side); from the village road Periprava - C.A. Rosetti, a straight line North-East - South-West, on a distance of about 2 km (South side), and a distance of about 2 km till the southern boundary of Hasmacului Ivancea,  the western boundary of the forest formations Letea (West side). Here are the following types of habitats: ponto-sarmatic vegetation with Pubescent Oak (code 91AA), dunes with fixed perennial herbal vegetation (grey dunes) (code2130), Ponto-Sarmatic deciduous shrubs (code 40C0); riparian mixed forests with 
        em Quercus robur
        |, 
        em Ulmus laevis
        |, 
        em Fraxinus excelsior 
        | or 
        em Fraxinus angustifolia
        |, 
        em Ulmenion minoris 
        |(code 91F0). Letea Forest has been under protection since 1930, becoming a natural reserve in 1938 and with the statute of biosphere reserve starting 1979, together with Roşca-Buhaiova. The forest sits a little higher than the rest of the delta (12.4m), with river and marine dunes, parallel to the coast, and hosts a particular type of vegetation. Here, 500 species of superior plants were discovered. The forest developed among the dunes and shaped as 10-250 m wide strips (hasmac), is divided by the backs of dunes and is composed mainly of: Oak (
        em Quercus robur
        |), Gray Oak (
        em Q. pedunculiflora
        |), White Poplar (
        em Populus alba
        |), Black Poplar (
        em P. nigra
        |), Narrow-leafed Ash (
        em Fracsinus angustifolia
        |), Swamp Ash (
        em F. pallisae
        |), Pear (
        em Pirus piraster
        |), White Lime Tree (
        em Tilia tomentosa
        |), Elm (
        em Ulmus foliacea
        |) and very rarely Black Alder (
        em Alnus glutinosa
        |), complemented by a rich undergrowth (
        em Crataegus monogyna
        |, 
        em Ligustrum vulgare
        |, 
        em Evonymus europaea
        |, 
        em Cornus mas
        |, 
        em C. sanguineae
        |, 
        em Rhamnus Frangula
        |, 
        em R. cathartica
        |, 
        em Viburnum opulus
        |, 
        em Berberis vulgaris
        |) and others. A feature of the area is the abundance of climbing plants (
        em Periploca graeca
        |, 
        em Vitis silvestris
        |, 
        em Humulus lupulus
        |, 
        em Clematis vitalba
        |) giving the impression of a subtropical forest. The forest extends naturally with 
        em Prunus spinosa 
        |(Blackthorn), 
        em Tamarix ramosissima 
        |(Tamarisk) and 
        em Hippophae rhamnoides 
        |(Sea Buckthorn) that in some areas, to the seaside, grows lush, forming true impenetrable dams. The vegetation layer is also home to other rare species: 
        em Convolvulus persicus 
        |(Sand Bindweed), 
        em Ephedra distachya 
        |and 
        em Merendera sobolifera
        |, orchid species (
        em Anacampits pyramidalis
        |, 
        em Epipactis atrorubens
        |, 
        em Platanthera bifolia
        |). Fauna is represented by insects (over 500 species), about 120 species of birds from which 70 are potentially nesting: White-tailed Eagle (
        em Haliaetus albicilla
        |) 
        em Circaetus galicus
        |, 
        em Milvus migrans
        |, 
        em Bubo bubo
        |, a few herpetological rarities: 
        em Eremuias arguta
        |, 
        em Vipera Ursini Renardi
        |, amphibians, about 8 mammals etc.
    .lang.lang-ro
      h1 Pădurea Letea  (2.825 ha)
      p
        strong Pădurea Letea (2.825 ha) 
        |este aşezată pe grindul cu acelaşi nume, unul dintre cele mai vechi grinduri ale deltei, fiind delimitată la nord de limita sudică a lacului Nebunu, la est, de drumul comunal Periprava - C.A. Rosetti, până la circa 1,5 km nord de localitatea C.A. Rosetti, la sud, de la drumul comunal Periprava - C.A. Rosetti, pe o linie dreapta nord-est - sud-vest, pe distanţa de circa 2 km şi apoi spre vest, pe o distanţă de circa 2 km până la limita sudică a Hasmacului Ivancea, la vest, de limita vestică a formaţiunilor forestiere ale grindurilor Letea. 
      p
        | Aici sunt prezente următoarele tipuri de habitate:  vegetaţie forestieră ponto-sarmatică cu stejar pufos (cod 91AA); dune fixate cu vegetaţie herbacee perenă (dune gri) (cod2130*); tufărişuri de foioase ponto-sarmatice (cod 40C0*); păduri ripariene mixte cu 
        em Quercus robur
        |, 
        em Ulmus laevis
        |, 
        em Fraxinus excelsior 
        | sau 
        em Fraxinus angustifolia
        |, din lungul marilor râuri (
        em Ulmenion minoris
        |) (cod 91F0). 
      p 
        |Pădurea Letea a fost pusă sub ocrotire încă din anul 1930, devenind rezervaţie naturală în anul 1938 şi cu statut de rezervaţie a biosferei din 1979, împreună cu Roşca-Buhaiova. Ocupă un relief puţin înalt faţă de restul deltei (12,4 m), cu dune fluvio-marine, paralele cu Litoralul, care găzduiesc pădurea cu acelaşi nume ce reprezintă un tip particular de vegetaţie. Aici, au fost identificate circa 500 specii de plante superioare. Pădurea care se dezvoltă în spaţiul interdunelor sub forma unor fâşii late de 10-250 m (hasmacuri) despărţite de spinările dunelor este alcătuită, în principal, din: stejarul de luncă (
        em Quercus robur
        |), stejarul brumăriu (
        em Q. pedunculiflora
        |), plopul alb (
        em Populus alba
        |), plopul negru (
        em P. nigra
        |), frasinul de luncă (
        em Fracsinus angustifolia
        |), frasinul de balta (
        em F. pallisae
        |), părul (
        em Pirus piraster
        |), teiul alb (
        em Tilia tomentosa
        |), ulmul (
        em Ulmus foliacea
        |) şi foarte rar arinul negru (
        em Alnus glutinosa
        |), completată de un subarboret bogat (
        em Crataegus monogyna
        |, 
        em Ligustrum vulgare
        |, 
        em Evonymus europaea
        |, 
        em Cornus mas
        |, 
        em C. sanguineae
        |, 
        em Rhamnus frangula
        |, 
        em R. cathartica
        |, 
        em Viburnum opulus
        |, 
        em Berberis vulgaris
        |) şi altele. O caracteristică a zonei o constituie abundenţa plantelor căţărătoare (
        em Periploca graeca
        |, 
        em Vitis silvestris
        |, 
        em Humulus lupulus
        |, 
        em Clematis vitalba
        |) care conferă padurii un aspect subtropical. Pădurea se extinde în mod natural prin speciile de avangardă 
        em Prunus spinosa 
        |(porumbar), 
        em Tamarix ramosissima 
        |(cătina roşie) şi 
        em Hippophae rhamnoides 
        |(cătina alba) care în unele porţiuni, către Litoral, se dezvoltă luxuriant, alcătuind adevărate baraje impenetrabile. În covorul vegetal se intâlnesc, de asemenea, şi alte specii rare: 
        em Convolvulus persicus 
        |(volbura de nisip), 
        em Ephedra distachya 
        |şi 
        em Merendera sobolifera 
        |(brindușa de nisip), specii de orhidee (
        em Anacampits pyramidalis
        |, 
        em Epipactis atrorubens
        |, 
        em Platanthera bifolia
        |). Fauna este reprezentată prin insecte (peste 500 specii), cca 120 păsări din care 70 sunt, potenţial, cuibăritoare aici dintre care vulturul codalb (
        em Haliaetus albicilla
        |), 
        em Circaetus galicus
        |, 
        em Milvus migrans
        |, 
        em Bubo bubo
        |, de câteva rarităţi herpetologice 
        em Eremuias arguta
        |, 
        em Vipera ursini renardi
        |, amfibieni, cca 8 mamifere etc.
    +img('img/Letea Forest in DDBR - Cristian Mititelu.JPG')
