include ../../mixins

+article('20. Prundu cu Păsări Islands (187 ha) ')
  +section('20. Prundu cu Păsări Islands (187 ha) ')
    .lang.lang-en
      h1 Prundu cu Păsări Islands (187 ha)
      p
        | The area is located in the South-West of Sinoe Lake and consists of two islands of about 1.4 ha and the surroundings, including the surface of Sinoe Lake, up to 1 km from the area centre. Prundu cu Păsări Islands hosts a mixed bird colony, among which of a major importance we can mention Spoonbill (
        em Platalea leucorodia
        |) and the Dalmatian Pelican (
        em Pelecanus crispus
        |), that have been registered with various attempts of nesting. The islands represents also an important resting location for White Pelican (
        em Pelecanus onocrotalus
        |) and for other species (especially for waterfowl), with unfavorable conservation status. The priority habitats identified in this area are: oligotrophic stagnant waters, up to mezotrophic with 
        em Littorelletea uniflorae 
        |and/or 
        em Isoëto-Nanojuncetea 
        |vegetation (code 3130) and natural eutrophic lakes with 
        em Magnopotamion 
        |or 
        em Hydrocharition vegetation 
        |(code 3150).
    .lang.lang-ro
      h1 Insulele Prundu cu Păsări (187 ha)
      p
        | Zona este situată în partea de sud-vest a Lacului Sinoie şi este formată din două insule de circa 1,4 ha şi o suprafaţă înconjurătoare a acestora constând din luciul de apă al lacului Sinoie, până la o distanţă de aproximativ 1 km de centrul ariei. Insulele Prundu cu Păsări găzduiesc o colonie mixtă de păsări dintre care de importanţă majoră menţionăm lopătarul (
        em Platalea leucorodia
        |) şi pelicanul creţ (
        em Pelecanus crispus
        |), până în prezent fiind înregistrate mai multe tentative de cuibărit ale acestei specii. Insulele sunt şi un important loc de popas pentru pelicanul comun (
        em Pelecanus onocrotalus
        |) şi pentru alte specii (în special păsări acvatice) cu statut de conservare nefavorabil. Habitatele prioritare identificate în zonă sunt: ape stătătoare oligotrofe până la mezotrofe cu vegetaţie din 
        em Littorelletea uniflorae 
        |şi/sau 
        em Isoëto-Nanojuncetea 
        |(cod 3130) şi lacuri eutrofe naturale cu vegetaţie tip 
        em Magnopotamion 
        | sau 
        em Hydrocharition
        | (cod 3150).
