include ../../mixins

+article('1. Roşca - Buhaiova (9.625 ha)')
  +section('1. Roşca - Buhaiova (9.625 ha)')
    .lang.lang-en
      h1 Roşca - Buhaiova (9.625 ha)
      p
        strong  Roşca - Buhaiova (9.625 ha) 
        |is located in northern part of Matiţa-Merhei depression and consists of a combination of lakes, streams, swamps, bounded on the North by Cernovca arm, between the confluence with Chilia fishery detour channel and the confluence with the Sulimanca channel; to the East, by the Sulimanca channel between Cernovca arm and the entrance in Merhei lake; in the South, by the Northern limit of the Merhei and Merheiul Mic lakes, Roşca channel, the channel connection with Dracului lake, the Northern limit of Dracului and Babina lakes; in the West, by Rădăcinoasele channel, Chilia fishery detour channel to the confluence with Cernovca arm. The Roşca-Buhaiova area is listed as a Romanian natural reserve since 1940, and starting from 1979 was declared a biosphere reserve (together with Letea forest). It includes a variety of representative biotopes for fluvial delta (fixed and floating reed islets, reed swamps, lakes, river banks, the western edge of the sand Letea levee, the eastern edge of the continental Chilia levee, natural streams, wetlands, willow pledges, etc.).
      p
        | For habitats point of view, there are 4 types: dystrophic lakes and ponds (code 3160); oligotrophic to mezotrophic stagnant waters with 
        em Littorelletea uniflorae 
        | and/or 
        em Isoeto-Nanojuncetea 
        |vegetation (code 3130); natural eutrophic lakes with 
        em Magnopotamion 
        |or 
        em Hydrocharition 
        |vegetation (code 3150) and river meadows with 
        em Salix alba 
        |and 
        em Populus alba 
        |(code 92A0). Prioritary species is 
        em Aldrovanda vesiculosa. 
      p
        | The core of this strictly protected area is represented by Buhaiova and Roşca lakes. The fauna of this protected area has a remarkable diversity. The representative mammals are: Otter, Mink, Ermine, Muskrat, Raccoon Dog, Fox, Wild Boar, etc. The ornithological fauna includes the largest colony of White Pelicans (
        em Pelecanus onocrotalus
        |) in Europe (here being around 3,500 pairs), smaller colonies of about 50 pairs Dalmatian Pelicans (
        em Pelecanus crispus
        |),  ardeidae mixed colonies, most of the anatidae species and birds characteristic for the delta (about 150 birds species, a lot of them included on the Red List of RBDD), lots of fish and amphibians species and the invertebrate fauna. The same rich diversity is present amongst the plants, despite the appearance of monotony offered by the dominant species like reed. Stagnant water basins are invaded by White and Yellow Lilies, Buttercup, 
        em Hydrocharis
        |, 
        em Limnanthemum
        |, 
        em Trapa natans
        |, 
        em Stratiotes raloides
        |. In low-nitrate waters, in some backwaters and pools of water between the islets, there are carnivorous plants 
        em Utricularia 
        |and 
        em Aldrovanda
        |. Submerged flora consists of almost all known species from continental waters. The compact bushes host almost all European amphibious plants, the most representatives being: 
        em Dryropteris thelipteris
        |, 
        em Solanum dulcamara
        |, 
        em Euphorbia palustris
        |, 
        em Carex Oenanthe
        |, as well as rare species: 
        em Acorus Calanus 
        |and 
        em Calla palustris
        |.
    .lang.lang-ro
      h1 Roşca - Buhaiova (9.625 ha)
      p 
        strong Roşca - Buhaiova (9.625 ha)
        |, este situată în nordul depresiunii Matiţa-Merhei şi este constituită dintr-un complex de lacuri, gârle, japşe, delimitat la nord de braţul Cernovca între confluenţa cu canalul ocolitor al amenajării piscicole Chilia şi confluenţa cu canalul Sulimanca; la est, de canalul Sulimanca între braţul Cernovca şi intrarea în lacul Merhei; la sud, de limita nordică a lacurilor Merhei şi Merheiul Mic, canalul Roşca, canalul de legătură cu Lacul Dracului, limita nordică a lacurilor Dracului şi Babina; la vest, de canalul Rădăcinoasele, canalul ocolitor al amenajării piscicole Chilia până la confluenţa cu braţul Cernovca. Zona Roşca-Buhaiova figurează pe lista rezervaţiilor naturale din România încă din anul 1940, iar începând din anul 1979 a fost declarată rezervaţie a biosferei (împreună cu Pădurea Letea). Include o mare diversitate de biotopi reprezentativi pentru delta fluvială (plauri plutitori şi fixaţi, mlaştini stuficole, lacuri, grinduri fluviale, marginea vestică a grindului marin Letea, marginea estică a grindului continental Chilia, gârle naturale, terenuri inundabile, zăloage de sălcii etc.). 
      p
        | Din punct de vedere al tipurilor de habitate aici sunt prezente 4 tipuri şi anume: lacuri distrofe şi iazuri (cod 3160); ape stătătoare oligotrofe până la mezotrofe cu vegetaţie din 
        em Littorelletea uniflorae 
        |şi/sau 
        em Isoeto-Nanojuncetea 
        |(cod 3130); lacuri eutrofe naturale cu vegetaţie tip 
        em Magnopotamion 
        |sau 
        em Hydrocharition 
        | (cod 3150) şi zăvoaie cu 
        em Salix alba 
        |şi 
        em Populus alba 
        |(cod 92A0). Ca specie prioritară este 
        em Aldrovanda vesiculosa
        |. 
      p
        | Nucleul acestei zone de regim de protecţie integrală îl constituie lacurile Roşca şi Buhaiova. În mod corespunzător, şi fauna acestei zone protejate prezintă o remarcabilă diversitate reprezentată de mamifere: vidră, nurcă, hermelină, bizam, câine enot, vulpe, mistreţ, de fauna ornitologică: prezenţa celei mai mari colonii de pelican comun (
        em Pelecanus onocrotalus
        |) din Europa ( aici cuibărind cca 3.500 perechi), mai puţine perechi de pelican creţ cca 50 (
        em Pelecanus crispus
        |), a coloniilor mixte de ardeidae, aproape majoritatea speciilor de anatidae şi paseriforme caracteristice deltei (cca 150 specii de păsări, multe incluse în Lista Roşie a RBDD), numeroase specii de peşti, amfibieni, precum şi a faunei de nevertebrate. Aceeaşi bogată diversitate este prezentă şi sub aspectul lumii vegetale, în ciuda aparenţei de monotonie conferită de specia dominantă: stuful. Bazinele acvatice stagnante sunt invadate de specii de nufăr (alb şi galben), piciorul cocoşului, 
        em Hydrocharis
        |, 
        em Limnanthemum
        |, 
        em Trapa natans
        |, 
        em Stratiotes raloides
        |. În apele sărace în nitraţi, din unele japşe sau ochiuri de apă dintre plauri, apar plantele carnivore 
        em Utricularia 
        |şi 
        em Aldrovanda
        |. Flora submersă este alcătuită din majoritatea speciilor cunoscute şi din alte ape continentale. În stufărişurile compacte se concentrează aproape toată flora europeană de plante amfibii, reprezentative fiind, printre altele: 
        em Dryopteris thelypteris
        |, 
        em Solanum dulcamara
        |, 
        em Euphorbia palustris
        |, specii de 
        em Carex oenanthe 
        | etc., dar şi specii rare ca: 
        em Acorus calanus 
        |sau 
        em Calla palustris
        |.
