include ../../mixins

+article('6. Caraorman Forest (2,250 ha)')
  +section('6. Caraorman Forest (2,250 ha)')
    .lang.lang-en
      h1 Caraorman Forest (2,250 ha)
      p
        | Caraorman Forest area occupies the central part of the natural levee land with the same name of marine origin, bounded on the East by the natural levee Hruşca, to the South by a limit located approximately 1 km away from Erenciuc Lake, in the West by the eastern boundary of the mobile sand dunes (the limit lies around 750 m away from high voltage line), in the North by the Litcov channel. The area includes the most advanced and representative bare dunes in the delta and Caraorman forest, developed especially in the southern part on the sand bank. The valuable core area, covering approximately 700 hectares, includes varied species of poplar, ash and oak, as well as under bushes of Grey Willow (
        em Salix cinerea
        |), 
        em Tamarix
        |, etc. 
      p
        | The main types of habitats are: dunes fixed with perennial herbal vegetation – grey dunes (code 2130); Ponto-Sarmatian deciduous shrubs (code 40C0); riparian mixed forests with 
        em Quercus robur
        |, 
        em Ulmus laevis
        |, 
        em Fraxinus excelsior 
        | or 
        em Fraxinus angustifolia
        |, along big rivers (
        em Ulmenion minoris
        |) (code 91F0). In this strictly protected area there were identified about 400 superior plants species, with an endemic species (
        em Ornithogalum amphibolus
        |), 4 common species (
        em Euphorbia lucida
        |, 
        em E.palustris
        |, 
        em E. Seguieriana
        |, 
        em Trapa spp.
        |), 2 species of endangered orchids (
        em Cephalantera longifolia
        |, 
        em Dactylorhiza incarnata
        |). The southern side of the forest is home for monumental oaks, with diameters between 4,20 - 4,70 m. The floristic spectrum of the Caraorman forest is like the one  from Letea forest. The fauna is represented by over 600 species of insects, about 150 species of vertebrates. Raptor birds nest in the forest: Kestrel (
        em Falco tinnunculus
        |), Lesser Kestrel (
        em Falco naumanni
        |), Eurasian Hobby (
        em Falco subbueteo
        |), White-tailed Eagle (
        em Haliaetus albicilla
        |) etc. There are also important populations of lizards (
        em Lacerta agilis euxinica
        |, 
        em Eremias arguata
        |) and mammals.
    .lang.lang-ro
      h1 Pădurea Caraorman (2.250 ha)
      p
        | Zona forestieră Caraorman ocupă partea centrală a grindului cu acelaşi nume, grind de origine marină, fiind delimitată la est de grindul Hruşca, la sud, de o limită situată la circa 1 km distanţă de lacul Erenciuc, la vest, de limita estică a dunelor mobile de nisip, limita situată la distanţă de circa 750 m de linia de înaltă tensiune, la nord, de canalul Litcov. Zona cuprinde cele mai dezvoltate şi reprezentative dune denudate din deltă şi pădurea Caraorman dezvoltată, îndeosebi, în partea sudică a grindului. Nucleul valoros, în suprafaţa de circa 700 ha cuprinde, alături de un variat arboret din plop, frasin şi stejar, subarboret de zălog, 
        em Salix
        |, 
        em Tamarix 
        |etc. 
      p
        | Principalele tipuri de habitate sunt: dune fixate cu vegetaţie herbacee perenă - dune gri (cod2130 *); tufărişuri de foioase ponto-sarmatice (cod 40C0 *); păduri ripariene mixte cu 
        em Quercus robur
        |, 
        em Ulmus laevis
        |, 
        em Fraxinus excelsior 
        | sau 
        em Fraxinus angustifolia
        |, din lungul marilor râuri (
        em Ulmenion minoris
        |) (cod 91F0). În această arie strict protejată au fost identificate cca 400 specii de plante superioare, printre care o specie endemică (
        em Ornithogalum amphibolus
        |), 4 specii comune (
        em Euphorbia lucida
        |, 
        em E.palustris
        |, 
        em E. Seguieriana
        |, 
        em Trapa spp.
        |), 2 specii de orhidee periclitate (
        em Cephalantera longifolia
        |, 
        em Dactylorhiza incarnata
        |). Extremitatea sudică a pădurii păstrează exemplare monumentale de stejari, cu diametre între 4,20 - 4,70 m. Spectrul floristic al pădurii Caraorman este asemănător cu cel din pădurea Letea. Fauna este reprezentată prin insecte, peste 600 specii, cca 150 specii de vertebrate. În pădure cuibăresc şi păsări răpitoare- vânturelul roşu (
        em Falco tinnunculus
        |), vânturelul de seară (
        em Falco naumanni
        |), şoimul rândunelelor (
        em Falco subbueteo
        |), vulturul codalb (
        em Haliaetus albicilla
        |) etc. Coabitează şi importante populaţii de şopârle (
        em Lacerta agilis euxinica
        |, 
        em Eremias arguata
        |), mamifere.  
