include ../../mixins

+article('8. Erenciuc Alder Forest (50 ha)')
  +section('8. Erenciuc Alder Forest (50 ha)')
    .lang.lang-en
      h1 Erenciuc Alder Forest (50 ha)
      p
        | Is situated in the river-marine delta, on the left side of St. Gheorghe arm on km 23, and in the southern side of the same-name lake (Erenciuc). Is the only compact natural forest enclave in RBDD dominated by Black Alder (
        em Alnus glutinosa
        |). Can be found on the first hand the priority habitat for alluvial forests with 
        em Alnus glutinosa 
        |and 
        em Fraxinus excelsior 
        |- 
        em Alno-Padion
        |, 
        em Alnion nicanae
        |, 
        em Salicion albae 
        |(91E0), and near it, two community habitats: parks with 
        em Salix alba 
        |and 
        em Populus alba 
        |(code 92A0); galeries with 
        em Salix alba 
        |and 
        em Populus alba 
        |(code 92A0). 
      p
        | From around 100 species of observed birds, some of them are nesting in this habitat, among these being the White- tailed Eagle (
        em Haliaetus albicilla
        |). There are other animal species, with 11 mammals among them (6 are of community interest).
    .lang.lang-ro
      h1 Arinişul Erenciuc (50 ha)
      p
        | Este situat în delta fluvio-marină, pe malul stâng al braţului Sfântul Gheorghe la km 23 şi în partea sudică a lacului omonim (Erenciuc). Este singura enclavă de pădure naturală compactă din RBDD dominată de arinul negru (
        em Alnus glutinosa
        |). Aici este prezent în primul rând habitatul prioritar păduri aluviale cu 
        em Alnus glutinosa 
        |şi 
        em Fraxinus excelsior 
        | - 
        em Alno-Padion
        |, 
        em Alnion nicanae
        |, 
        em Salicion albae 
        |(91E0*), iar în vecinătatea lui două habitate comunitare: zăvoaie cu 
        em Salix alba 
        |şi 
        em Populus alba 
        |(cod 92A0); galerii cu 
        em Salix alba 
        |şi 
        em Populus alba 
        |(cod 92A0). 
      p
        | Din cele circa 100 de specii de păsări observate, unele cuibăresc în acest habitat, dintre care este şi vulturul codalb (
        em Haliaetus albicilla
        |). Mai sunt şi alte specii de animale, printre care şi 11 mamifere (6 sunt de interes comunitar).
