include ../../mixins

+submenu
  +submenu-item('ghid/restricted/area1', T, 'Roşca - Buhaiova', 'Roşca - Buhaiova')
    +submenu-caption(T, '9.625 ha')
    +submenu-page-id('restricted1')
  +submenu-item('ghid/restricted/area2', T, 'Letea Forest', 'Pădurea Letea')
    +submenu-caption(T,'2.825 ha')
    +submenu-page-id('restricted2')
  +submenu-item('ghid/restricted/area3', T, 'Răducu Lake', 'Lacul Răducu')
    +submenu-caption(T, '2.500 ha')
    +submenu-page-id('restricted3')
  +submenu-item('ghid/restricted/area4', T, 'Nebunu Lake', 'Lacul Nebunu')
    +submenu-caption(T, '115 ha')
    +submenu-page-id('restricted4')
  +submenu-item('ghid/restricted/area5', T, 'Vătafu-Lunguleţ', 'Vătafu-Lunguleţ')
    +submenu-caption(T, '1.625 ha')
    +submenu-page-id('restricted5')
  +submenu-item('ghid/restricted/area6', T, 'Caraorman Forest', 'Pădurea Caraorman')
    +submenu-caption(T, '2,250 ha')
    +submenu-page-id('restricted6')
  +submenu-item('ghid/restricted/area7', T, 'Sărături Murighiol', 'Sărături Murighiol')
    +submenu-caption(T, '87ha')
    +submenu-page-id('restricted7')
  +submenu-item('ghid/restricted/area8', T, 'Erenciuc Alder Forest', 'Arinişul Erenciuc')
    +submenu-caption(T, '50 ha')
    +submenu-page-id('restricted8')
  +submenu-item('ghid/restricted/area9', T, 'Popina Island', 'Insula Popina')
    +submenu-caption(T, '98 ha')
    +submenu-page-id('restricted9')
  +submenu-item('ghid/restricted/area10', T, 'Sacalin - Zătoane', 'Sacalin - Zătoane')
    +submenu-caption(T, '21,410 ha')
    +submenu-page-id('restricted10')
  +submenu-item('ghid/restricted/area11', T, 'Periteaşca - Leahova', 'Periteaşca - Leahova')
    +submenu-caption(T, '4,125 ha')
    +submenu-page-id('restricted11')
  +submenu-item('ghid/restricted/area12', T, 'Capul (Cape) Doloşman', 'Capul Doloşman')
    +submenu-caption(T, '125 ha')
    +submenu-page-id('restricted12')
  +submenu-item('ghid/restricted/area13', T, 'Grindul (Levee) Lupilor', 'Grindul Lupilor')
    +submenu-caption(T, '2,075 ha')
    +submenu-page-id('restricted13')
  +submenu-item('ghid/restricted/area14', T, 'Istria-Sinoe', 'Istria-Sinoe')
    +submenu-caption(T, '400 ha')
    +submenu-page-id('restricted14')
  +submenu-item('ghid/restricted/area15', T, 'Grindul (Levee) Chituc', 'Grindul Chituc')
    +submenu-caption(T, '2.300 ha')
    +submenu-page-id('restricted15')
  +submenu-item('ghid/restricted/area16', T, 'Rotundu Lake', 'Lacul Rotund')
    +submenu-caption(T, '228 ha')
    +submenu-page-id('restricted16')
  +submenu-item('ghid/restricted/area17', T, 'Potcoava Lake', 'Lacul Potcoava')
    +submenu-caption(T,'652 ha')
    +submenu-page-id('restricted17')
  +submenu-item('ghid/restricted/area18', T, 'Belciug Lake', 'Lacul Belciug')
    +submenu-caption(T,'110 ha')
    +submenu-page-id('restricted18')
  +submenu-item('ghid/restricted/area19', T, 'Ceaplace Island', 'Insula Ceaplace')
    +submenu-caption(T,'117 ha')
    +submenu-page-id('restricted19')
  +submenu-item('ghid/restricted/area20', T, 'Prundu cu Păsări Islands', 'Insulele Prundu cu Păsări')
    +submenu-caption(T,'187 ha')
    +submenu-page-id('restricted20')

