include ../../mixins

+submenu
  +submenu-item('ghid/restricted/zona1', T, 'Area 1', 'Zona 1')
  +submenu-item('ghid/restricted/zona2', T, 'Area 2', 'Zona 2')
  +submenu-item('ghid/restricted/zona3', T, 'Area 3', 'Zona 3')

