title-bar-color=#fefefe
background-color=#f9f9f9
text-color=#111

@import 'famous'
@import 'ol'
@import 'fonts'
@import 'font-awesome'
@import 'map'
@import 'title'
@import 'menu'
@import 'global'
@import 'template'
@import 'templates/index'
@import 'master-detail'
