.map
  background-color: #ccc

.map-split
  .ol-rotate
    top: 3em

.map-navdot
  width: 30px
  height: 30px
  background: url(../assets/map-arrow.png)
  background-size: cover
  transition: transform 0.2s ease
  transition: -webkit-transform 0.2s ease
  -webkit-transition: transform 0.2s ease
  -webkit-transition: -webkit-transform 0.2s ease

  &.hidden
    display: none

.map-jumpcontrol
  content: 'J'
  left: 0.5em
  bottom: 0.5em

  &.hidden
    display: none

.map-overlay-pin
  position: relative

  i
    font-size: 3em
    text-shadow: 0px 2px 2px rgba(#000, 50%)

  .map-overlay-popover
    position: absolute
    bottom: 2.7em
    left: 50%
    width: 10em
    background: rgba(#000, 70%)
    color: #fff
    padding: 0.25em
    border-radius: 0.25em
    text-align: center
    transform: translate(-50%, 0)
    font-family: 'Source Sans Pro', sans-serif
    z-index: 100

  .map-overlay-popover
    display: none

  &.overlay .map-overlay-popover
    display: block

.ol-full-screen button
  &:after
    content: ''
  &.ol-full-screen-false .full-screen-true
    display: none
  &.ol-full-screen-true .full-screen-false
    display: none

.ol-control 
  padding: 0
  background: transparent

  button
  button:focus
  button:hover
    margin: 0
    background: rgba(#fff, 0.7)
    color: #444
    outline: 0

  button:active
    background: rgba(#ccc, 0.7)

