.map-navdot
  width: 30px
  height: 30px
  background: url(../assets/map-arrow.png)
  background-size: cover
  transition: transform 0.2s ease
  transition: -webkit-transform 0.2s ease
  -webkit-transition: transform 0.2s ease
  -webkit-transition: -webkit-transform 0.2s ease

  &.hidden
    display: none

.map-jumpcontrol
  content: 'J'
  left: 0.5em
  bottom: 0.5em

  &.hidden
    display: none
