.menu-button
  background: #fff

.menu-button-text
  color: #000
  font-family: 'Source Sans Pro', sans-serif
  font-size: 40px

.menu-button-text.menu-0
  content: '1'

.menu-title
  color: #fff
  font-family: 'Source Sans Pro', sans-serif
  font-size: 17pt

.menu-settings-icon i
  color: #fff

.menu-bg
  background-color: #000
