.menu-button
  background: #444
  background-size: cover
  background-position: 50% 50%
  background-repeat: no-repeat

.menu-button-text
  color: #fff
  font-family: 'Source Sans Pro', sans-serif
  font-size: 20pt
  text-align: center
  //text-shadow: 2px 2px 3px #000 //lighter
  text-shadow: 0px 0px 15px #000, 0px 0px 15px #000, 0px 0px 15px #000 //strong

.menu-title
  color: #fff
  font-family: 'Source Sans Pro', sans-serif
  font-size: 17pt
  
.menu-bg
  background-color: #000

.menu-button.menu-routes
  background-image: url('../assets/img/menu-routes.jpg')

.menu-button.menu-trails
  background-image: url('../assets/img/menu-trails.jpg')

.menu-button.menu-about
  background-image: url('../assets/img/menu-about.jpg')

.menu-button.menu-restricted
  background-image: url('../assets/img/menu-restricted.jpg')

.menu-button.menu-landmarks
  background-image: url('../assets/img/menu-landmarks.jpg')

.menu-button.menu-planning
  background-image: url('../assets/img/menu-planning.jpg')

.menu-button.menu-maps
  background-image: url('../assets/img/menu-maps.jpg')

.menu-button.menu-maps
  background-image: url('../assets/img/menu-maps.jpg')

.menu-button.menu-code-of-conduct
  background-image: url('../assets/img/menu-code-of-conduct.jpg')

.menu-button.menu-emergency
  background-color: #CF3A00; 

.menu-button.menu-about-app
  background-image: url('../assets/img/4-4-en.jpg')

.menu-button.menu-settings
  background-color: #0c0c0b
  


@keyframes kenburns {
  0% { background-position: 50% 50% }
  25% { background-position: 100% 50% }
  75% { background-position: 0% 50% }
  100% { background-position: 50% 50% }
}

.menu-button
  //animation: kenburns 100s infinite
  //animation-timing-function: ease-in-out
