.template-container
  overflow-y: visible

.template-container-inner
  overflow-x: hidden //Collapses margins

  padding: 1em
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

.template-bg
  background-color: #f9f9f9
