.title-bar
  background-color: title-bar-color

.title-bar-text
  color: text-color
  font-family: 'Source Sans Pro', sans-serif
  font-size: 17pt
  text-overflow: ellipsis
  white-space: nowrap
  overflow: hidden
  max-width: 100%
  padding: 0 44px
  pointer-events: none

.title-button
  color: text-color
  font-family: 'Source Sans Pro', sans-serif
  font-size: 17pt

.title-button:active 
.title-button.active 
  color: alpha(text-color, 70%)

