.title-bar
  background-color: #fdfdfd
  border-bottom: 1px solid #ddd

.title-bar-text
  color: #333
  font-family: 'Source Sans Pro', sans-serif
  font-size: 17pt
  text-overflow: ellipsis
  white-space: nowrap
  overflow: hidden
  max-width: 100%
  padding: 0 44px
  pointer-events: none

.title-button
  color: #333
