include ../../mixins

+submenu
  +submenu-item('ghid/routes/route1', T, 'Route 1', 'Traseul 1')
    +submenu-caption(T, 'Tulcea – Gârla Şontea (Şontea Stream)– Mila 23 – Crişan – Tulcea', 'Tulcea – Gârla Şontea – Mila 23 – Crişan – Tulcea')
  +submenu-item('ghid/routes/route2', T, 'Route 2', 'Traseul 2')
    +submenu-caption(T, 'Tulcea – Litcov Channel – Crişan – Tulcea', 'Tulcea – Litcov Channel – Crişan – Tulcea')
  +submenu-item('ghid/routes/route3', T, 'Route 3', 'Traseul 3')
    +submenu-caption(T, 'Tulcea – Stipoc Channel – Chilia Veche – Tulcea', 'Tulcea – Canalul Stipoc – Chilia Veche – Tulcea')
  +submenu-item('ghid/routes/route4', T, 'Route 4', 'Traseul 4')
    +submenu-caption(T, 'Tulcea (Câşla Lake) – Gârla Somova (Somova Stream) – Saon Monastery (Telincea Lake) – Tulcea', 'Tulcea (Lacul Câşla) – Gârla Somova – Mănăstirea Saon (lacul Telincea) – Tulcea')
  +submenu-item('ghid/routes/route5', T, 'Route 5', 'Traseul 5')
    +submenu-caption(T,'Murighiol –Dranov Channel – Gura Portiţei – Dunavăţ Channel – Murighiol','Murighiol – Canalul Dranov – Gura Portiţei – Canalul Dunavăţ – Murighiol')
  +submenu-item('ghid/routes/route6', T, 'Route 6', 'Traseul 6')
    +submenu-caption(T, 'Murighiol- Dunavăţ Channel- Cocoş Channel - Mustaca Channel - Centura Channel - Dranov Channel - Murighiol Channel', 'Murighiol – Canalul Dunăvăţ – Canalul Cocoş – Canalul Mustaca – Canalul de Centură – Canalul Dranov – Murighiol')
  +submenu-item('ghid/routes/route7', T, 'Route 7', 'Traseul 7')
    +submenu-caption(T, 'Murighiol – Uzlina –Uzlina Lake –Isac Lake – Gârla Perivolovca – Murighiol', 'Murighiol – Uzlina – Lacul Uzlina – Lacul Isac – Gârla Perivolovca – Murighiol')
  +submenu-item('ghid/routes/route8', T, 'Route 8', 'Traseul 8')
    +submenu-caption(T, 'Murighiol – Uzlina –Litcov Channel – Crişan Channel –Puiu Lake –Erenciuc Lake – Murighiol', 'Murighiol – Uzlina – Canalul Litcov – Canalul Crişan – Lacul Puiu – Lacul Erenciuc – Murighiol')
  +submenu-item('ghid/routes/route9', T, 'Route 9', 'Traseul 9')
    +submenu-caption(T, 'Crişan – Roşu Lake– Sulina – Crişan', 'Crişan – Lacul Roşu – Sulina – Crişan')
  +submenu-item('ghid/routes/route10', T, 'Route 10', 'Traseul 10')
    +submenu-caption(T, 'Crişan – Mila 23 – Trei Iezere Lake – Crişan', 'Crişan – Mila 23 – Lacul Trei Iezere – Crişan')
  +submenu-item('ghid/routes/route11', T, 'Route 11', 'Traseul 11')
    +submenu-caption(T, 'Crişan- Magearu Channel – Sulina – Crişan', 'Canalul Magearu – Sulina – Crişan')
  +submenu-item('ghid/routes/route12', T, 'Route 12', 'Traseul 12')
    +submenu-caption(T, 'Chilia Veche –Sulimanca Channel – Matiţa Lake –Rădăcinoasele Channel – Chilia Veche', 'Chilia Veche – Canalul Sulimanca – Lacul Matiţa – Canalul Rădăcinoasele – Chilia Veche')
  +submenu-item('ghid/routes/route13', T, 'Route 13', 'Traseul 13')
    +submenu-caption(T, 'Sulina – Cardon Channel – Periprava – Musura Bay – Sulina', 'Sulina –  Canalul Cardon – Periprava – Golful Musura – Sulina')
  +submenu-item('ghid/routes/route14', T, 'Route 14', 'Traseul 14')
    +submenu-caption(T, 'Sulina – Busurca Channel – Roşu Lake – Erenciuc Lake – St. Gheorghe – Sea Coast Belt Channel – Sulina', 'Sulina – Canalul Busurca – Lacul Roşu – Lacul Erenciuc – Sf. Gheorghe – Canalul Cordon Litoral – Sulina')
  +submenu-item('ghid/routes/route15', T, 'Route 15', 'Traseul 15')
    +submenu-caption(T, 'St.Gheorghe - Gârla Turcească (Turkish Stream) - St. Gheorghe', 'Sf. Gheorghe - Gârla Turcească – Sf. Gheorghe')