include ../../mixins

+article('Historic objectives near the Reserve')
  +section('Aeggysus')
    .lang.lang-en
      h1 Historic objectives near the Reserve
    .lang.lang-ro
      h1 Obiective istorice din vecinătatea Rezervaţiei
    .lang.lang-en
      p
        +maplink(45.185494, 28.815226)
            strong Aegyssus Fortress 
            +mapicon
            span &nbsp;
        |is situated on Hora hillock, known today as Monument Hill, in the East of Tulcea city. The archaeological discoveries (Getic and Greek ceramics), and also the Celtic origin names from the legendary founder called Caspios Aegisos, prove that the foundation of the settlement dates from the end of the 4
        sup th 
        |Century BC. The large number of Greek 1
        sup st 
        |Century BC amphoras discovered at this point proves the importance of the Greek Aegyssus production site. From the same period – 2
        sup nd
        |-1
        sup st 
        |Century BC, there is a bi-ritual necropolis situated at 1.5 km South-East of the fortified area (currently Nalbelor street).
      +img('img/Lagoon - Histria citadel.jpg')
    .lang.lang-ro
      p
        strong Cetatea Aegyssus (45.185494, 28.815226) 
        |este situată pe colnicul Hora, azi cunoscut şi ca dealul Monumentului, în partea de est a oraşului Tulcea. Descoperirile arheologice (material ceramic getic şi grecesc), dar şi originea celtică a numelui, derivat de la un legendar întemeietor Caspios Aegisos, pledează pentru construirea cetăţii la sfârşitul sec. IV a.Chr. Depozitul de amfore greceşti din sec. I a.Chr. descoperit în acest punct ne arată ca 
        em Aegyssus 
        |a fost o importantă factorie grecească. Tot din această perioadă – sec. II – I a.Chr. datează o necropolă birituală situată la 1,5 km sud-est de perimetrul fortificat (actualmente strada Nalbelor).
      +img('img/Lagoon - Histria citadel.jpg')
  +section('Halmyris')
    .lang.lang-en
      p
        strong Halmyris Fortress (45.024730, 29.197835) 
        |is located 2.5 km East of Murighiol town, the location also known as "Bătăraia", "Geneviz - Kaleh", “Cetatea” or “Cetăţuia”, on the road Tulcea - Dunavăţul de Jos. The archaeological researches conducted since 1981 have revealed a strong Roman fortress, founded in an area inhabited around 6
        sup th 
        |– 5
        sup th 
        |and 4
        sup th 
        |/ 3
        sup rd 
        |– 2
        sup nd 
        |/ 1
        sup st 
        |centuries BC, and which had undergone several stages of evolution: an earth Roman fortress (the last quarter of the 1
        sup st 
        |Century), a stone fort (castrum)- the headquarters of the legions 
        em I Italica 
        |and 
        em XI Claudia Pia Fidelis 
        |and fleet station 
        em Classis Flavia Moesica 
        |(
        em vicus classicorum
        |) - beginning of the 2nd Century - the third quarter of the 3
        sup rd 
        |Century AD; late Roman fortress in the third quarter of the 3
        sup rd 
        |Century - first quarter of the 7
        sup th 
        |Century AD. The Roman-Byzantine fortress has a trapezoidal shape with an area of about 2 hectares, 15 towers, three gates and three waves of defense. The main monuments uncovered and partly restored are: North Gate, monumental NorthWest Gate, West Gate, Thermae, Edifice no. 1, East Gate, Paleo-Christian Basilica with the martyr crypt of Epictet and Astion.
    .lang.lang-ro
      p
        strong Cetatea Halmyris (45.024730, 29.197835) 
        |este situată la 2,5 km est de localitatea Murighiol, în punctul cunoscut sub numele de „Bătăraia”, „Geneviz – Kaleh” „Cetatea” sau „Cetăţuia”, pe şoseaua ce duce de la Tulcea la Dunavăţul de Jos. Cercetările arheologice desfăşurate începând cu anul 1981 au scos la iveală o puternică cetate romană întemeiată într-o zonă cu urme de locuire din sec. VI – V şi IV/III – II/I a. Chr., care a cunoscut mai multe etape în evoluţia sa:  fortificaţie romană de pământ (ultimul sfert al sec. I); castrul de piatră – sediu al vexilaţiei legiunilor 
        em I Italica 
        |şi 
        em XI Claudia Pia Fidelis 
        | şi staţie a flotei 
        em Classis Flavia Moesica 
        |(
        em vicus classicorum
        |) – începutul sec. II – al treilea sfert al sec. III p.Chr.; cetate romană târzie – al treilea sfert al sec. III – primul sfert al sec. VII p.Chr. Cetatea romano-bizantină are o formă trapezoidală, cu o suprafaţă de cca 2 ha, cu 15 turnuri, trei porţi şi trei valuri de apărare. Principalele monumente dezvelite şi, în parte restaurate sunt:  Poarta de Nord; Poarta de Nord-Vest monumentală, Poarta de vest; Thermae-le;  Edificiul nr. 1; Poarta de est; Basilica paleocreştină cu cripta martirică (Epictet şi Astion).
  +section('Orgame/Argamum')
    .lang.lang-en
      p
        strong Orgame / Argamum Fortress (44.759871, 28.936098) 
        |is located 7 km East of Jurilovca village (Jurilovca commune) in the location called "Capul Dolojman", "Doloşman" or "Cetatea". The archaeological researches conducted here during 1926 - 1932 and from 1965 without interruption allowed the discovering of some important monuments and historical outline of the fortress’ life for over 12 centuries. In front of Orgame / Argamum fortress, at about 2.5 km to the East, on Bisericuţa island, there is a Roman-Byzantine fortification and traces of habitation from the early medieval era.
    .lang.lang-ro
      p
        strong Cetatea Orgame/Argamum (44.759871, 28.936098)
        |, este situată la 7 km est de satul Jurilovca (comuna Jurilovca), în punctul numit „Capul Dolojman”, „Doloşman” sau „Cetatea”. Cercetările arheologice desfăşurate aici în anii 1926 – 1932 şi din 1965 fără întrerupere au permis dezvelirea unor importante monumente şi schiţarea istoriei cetăţii pentru cele mai bine de 12 secole de funcţionare.  În faţa cetăţii Orgame/Argamum, la aproximativ 2,5 km spre est, pe insula Bisericuţa se află o fortificaţie romano-bizantină şi urme de locuire din epoca medievală timpurie.
  +section('Dinogeţia')
    .lang.lang-en
      p
        strong Dinogeţia Fortress (45.379374, 28.138791) 
        |is located 4 km downstream from the village of Garvăn (Luncaviţa commune), on a small island (popina), locally called "Bisericuţa" and it was a Geto-Dacian settlement, then Roman fortress, mentioned by Ptolemeus on the left bank Danube, at Siret river mouth. It seems that at first, the roman Dinogeţia was situated on the left side of the Danube, in Barboşi, near Galaţi, and since the beginning of the 4th Century AC, it has been moved from "Bisericuţa" (Garvăn), and lasted until the end of the 6th Century. Archaeological researches began in 1939 and resumed after the Second World War, led to the discovering of a large part of the fortress and roughly sketch its evolution.
    .lang.lang-ro
      p
        strong Cetatea Dinogeţia (45.379374, 28.138791)
        |, este situată la 4 km în aval de satul Garvăn (comuna Luncaviţa), pe o mică insulă (popină) numită de localnici „Bisericuţa” şi a fost o aşezare geto-dacică, apoi fortăreaţă romană, menţionată de Ptolemeu pe malul stîng al Dunării, la vărsarea Siretului. Se pare că la început Dinogeţia romană a fost în stânga Dunării, la Barboşi, lângă Galaţi, iar de la începutul sec. IV d.C. s-a strămutat pe popina de la „Bisericuța” (Garvăn), unde a dăinuit până la sfârşitul sec. VI. Cercetările arheologice începute în 1939 şi reluate după cel de-al doilea război mondial au dus la dezvelirea unei mari părţi din cetate şi la schiţarea 
        em grosso modo 
        | a evoluţiei acesteia. 
  +section('Noviodunum')
    .lang.lang-en
      p
        strong Noviodunum Fortress (45.270348, 28.492492) 
        |is situated on the right side of the Danube, about 2 km East of Isaccea city, on a 20 meters high promontory, the point "Old Pier" or "Eski - Kale" (Turkish translation of Old Fortress). It is one of the oldest sites of Dobrogea, a former Roman fortification, now almost entirely covered with earth. Its rapid development brought the fortress the rank of ‘municipium’. The Romans, whose presence in the area is known since the 1
        sup st 
        |Century BC, built the city that represented the main Danube port for Classis Flavia Moesica fleet and headquarters of major military units. Located next to one of the most important fords of the Danube, the fortress has had in different historical periods, a special military and commercial role. Currently, some excavation works are being made to uncover the historical remains.
    .lang.lang-ro
      p
        strong Cetatea Noviodunum (45.270348, 28.492492)
        |, este situată pe malul drept al Dunării, la aproximativ 2 km est de oraşul Isaccea, pe un promontoriu înalt de peste 20 m, în punctul „Pontonul vechi” sau „Eski – Kale” (în lb. turcă, “Cetatea Veche”). Este una dintre cele mai vechi cetăţi din Dobrogea, o fostă fortificaţie romană, în prezent acoperită aproape în întregime cu pământ. Rapida dezvoltare a oraşului a determinat acordarea rangului de municipium. Romanii, a căror prezenţa în zonă este atestată încă din sec. I i.Chr., au ridicat cetatea ce a constituit principala staţie a flotei dunărene Classis Flavia Moesica şi sediu al unor importante unităţi militare. Aşezată în dreptul unuia dintre cele mai importante vaduri ale Dunării, cetatea a avut, în diferite perioade istorice, un rol militar şi comercial aparte. În prezent, se execută lucrări de scoatere la lumină a vestigiilor.
  +section('Enisala')
    .lang.lang-en
      p
        strong Enisala Fortress (44.883860, 28.835162) 
        |or Heracleea is situated on a hill that dominates the surroundings of Enisala village (Sarichioi commune), an important crossroad of water and land ways. The fortress was built by the Byzantine imperial power and Genovese trading power, at the end of 13
        sup th 
        |– beginning of the 14
        sup th 
        |centuries AD. During the reign of Mircea the Old, the city was administrated by the Romanian Country, and at the end of his sovereignty, when Dobrogea was conquered by the Turks, an Ottoman military garrison was installed in the fortress.
    .lang.lang-ro
      p
        strong Cetatea Enisala (44.883860, 28.835162) 
        |sau Heracleea, este situată pe un deal ce domină împrejurimile localităţii Enisala (comuna Sarichioi), la intersecţia unor importante drumuri de apă şi de uscat. Cetatea a fost construită de puterea imperială bizantină şi de cea comercială genoveză la sfârşitul sec. XIII şi începutul sec. XIV. În timpul lui Mircea cel Bătrân cetatea a trecut în stăpânirea Ţării Româneşti, iar la sfârşitul domniei acestuia, când Dobrogea a fost cucerită de către turci, în cetate s-a instalat o garnizoană militară otomană. 
  +section('Proslaviţa')
    .lang.lang-en
      p
        strong Proslaviţa Fortress 
        |is located 12 km downstream from Tulcea, on the right side of St. Gheorghe arm (Nufăru village). The fortress was build 
        em a fundamentis 
        |by the Byzantine Empire in an area with material traces of Hallstattian, Latene and Roman – Byzantine eras.  During the Roman-Byzantine era, the Danube River at the northern end of the promontory was monitored by two watch towers.
    .lang.lang-ro
      p
        strong Cetatea Proslaviţa
        |, este situată la 12 km aval de Tulcea, pe malul drept al braţului Sfântu Gheorghe (comuna Nufăru). Cetatea a fost ridicată 
        em a fundamentis 
        |de către Imperiul bizantin într-o zonă cu urme materiale din epocile hallstattiană, Latene şi romano - bizantină. În epoca romano-bizantină pe malul Dunării, la capătul nordic al promontoriului, au funcţionat două turnuri de supraveghere a liniei Dunării. 
    +img('img/CRW_3287.jpg')
  +section('Histria')
    .lang.lang-en
      p
        strong Histria Ancient City (44.549975, 28.765404) 
        |was founded in the second half of the 7
        sup th 
        |Century BC by Greek settlers coming from Miletus, and it has an area of 60 hectares, being the oldest city in Romania. Histria knew a beautiful development for almost 1300 years, like many other cities by the sea, from its creation until the 7
        sup th 
        |Century AD, when, during the Roman-Byzantine era, the city was finally destroyed by Slavic and Avar attacks and gradually deserted by its inhabitants. After 14 centuries of existence in the mid-7
        sup th 
        |Century AD, the city ceased to exist. Archaeological excavations at Histria have been started by Vasile Pârvan in 1914, and are continued today. The main monuments found in Histria are five walls of the fortress site, two thermal buildings, Greek temples and Christian basilicas, one Episcopal, residential quarters, commercial and craftsmanship sites. Since February 13
        sup th
        |, 2007 it is part of the UNESCO World Heritage List.
    .lang.lang-ro
      p
        strong Cetatea Histria (44.549975, 28.765404) 
        |fondată în a doua jumătate a secolului VII i.Hr. de colonişti greci veniţi din Milet, are o suprafaţă de 60 de hectare, fiind cel mai vechi oraş din România. Histria a cunoscut o frumoasă dezvoltare aproape 1300 de ani, ca multe alte oraşe cu deschidere la mare, de la înfiinţarea sa şi până în sec. VII d.Hr., când, în epoca romană-bizantină, cetatea a fost distrusă în final de atacurile avaro-slave şi părăsită treptat de locuitorii săi. După 14 secole de existenţă, la mijlocul secolului VII d.Hr., oraşul şi-a încetat existenţa. Săpăturile arheologice de la Histria au fost începute de Vasile Pârvan, în 1914, şi continuate şi în prezent. Principalele monumente descoperite la Histria sunt cele cinci ziduri de incintă ale cetăţii, două edificii termale, temple greceşti şi basilici creştine, dintre care una episcopală, cartiere de locuinţe, comerciale şi artizanale. Din 13 Februarie 2007 este înscrisă pe Lista Patrimoniului Universal UNESCO.
