include ../../mixins

+submenu
  +submenu-item('ghid/landmarks/landmarks', T, 'Tourist objectives in the Danube Delta Biosphere Reserve', 'Obiective turistice în Rezervaţia Biosferei Delta Dunării')
  +submenu-item('ghid/landmarks/history', T, 'Historic objectives near the Reserve', 'Obiective istorice din vecinătatea Rezervaţiei')
  +submenu-item('ghid/landmarks/museums', T, 'Museums and Memorial houses', 'Muzee şi case memoriale')
  +submenu-item('ghid/landmarks/monuments', T, 'Historical, architecture and art monuments', 'Monumente istorice, de arhitectură şi de artă')
  +submenu-item('ghid/landmarks/settlements', T, 'Important settlements in the Pontic Area of the Danube Delta Biosphere Reserve', 'Aşezări importante din Zona Pontică a Rezervaţiei Biosferei Delta Dunării')
  +submenu-item('ghid/landmarks/diversity', T, 'Cultural diversity in the DDBR', 'Diversitatea culturală în Rezervaţia Biosferei Delta Dunării')


