include ../../mixins

+article('Historical, architecture and art monuments')
  +section('Historical, architecture and art monuments')
    .lang.lang-en
      h1 Historical, architecture and art monuments
      p
        | Danube Delta area is home to numerous historical, architecture and art monuments that give the localities a cultural and historical interest. Roman Catholic churches are situated in Malcoci, Sulina, and Tulcea. The tourists can visit in Malcoci the Roman Catholic church built in Gothic style, with a 33 m high tower, built between 1873-1881; at Sulina, the church was built in the same period with the establishment of the European Danube Commission, as an impressive building, with valuable interior paintings from an artistic and spiritual point of view, with stained glass and a bell tower with three bronze bells. Among Orthodox worship places, the Church of St. Nicholas in Chilia stands out as architectural monument, built in the late 19
        sup th 
        |Century and early 20
        sup th 
        |Century and rebuilt after the bombing of 1941, with a mixture of architectural styles: Slavic, Gothic and Romanian, also the Saon Monastery, near the strictly protected area of Rotundu Lake. Muslim religious sites with valuable monument of art are Isaccea mosque in the city center built in the 17
        sup th 
        |Century and the mosque in Babadag, built during the reign of Sultan Murad 1
        sup st 
        |(1359-1389).

    .lang.lang-ro
      h1 Monumente istorice, de arhitectură şi de artă
      p 
        | Zona Deltei Dunării găzduieşte numeroase monumente istorice, de arhitectură şi de artă care generează funcţia de interes cultural-istoric a localităţii pe teritoriul căreia sunt situate. Astfel de monumente sunt la Malcoci, Sulina, Tulcea– bisericile reprezentând cultul romano-catolic. În localitatea Malcoci turiştii pot vizita biserica romană-catolică construită în stil gotic, cu un turn de 33 m înălţime, înălţată între 1873-1881; la Sulina, biserica datează din perioada în care s-a înfiinţat Comisia Europeană a Dunării, construcţie impunătoare, cu picturi interioare valoroase din punct de vedere artistic şi spiritual, vitralii, o clopotniţă cu trei clopote de bronz. Dintre lăcaşurile de cult ortodox se remarcă Biserica “Sfântul Nicolae” din Chilia – monument arhitectural, construită la sfârşitul secolului XIX şi începutul secolului XX şi refăcută după bombardamentele din 1941, având caracteristică principală amestecul de stiluri arhitecturale: slav, gotic, românesc şi mănăstirea Saon, lângă Zona strict protejată Lacul Rotundu. Locaşuri de cult musulman cu valoare de monument de artă sunt: geamia din centrul oraşului Isaccea construită în secolul XVII şi geamia din Babadag construită în timpul sultanului Murad I (1359-1389).
    +img('img/LC8T0178.jpg', true)
  +section('Villages')
    .lang.lang-en
      p 
        strong Villages 
        |in the reserve may represent a tourism product that satisfies a wide range of motivations in the rural tourism activity: Crişan, Mila 23, St. Gheorghe. The Danube Delta villages can be distinguished as: 
        strong landscape villages 
        |shaped by certain features of interest: helio-marine (St. Gheorghe), fishery (almost all villages in the delta); 
        strong villages of cultural and historical interest 
        |(Nufăru- Proslaviţa Roman fortress, Enisala- Genovese fortress, Mahmudia- Salsovia Roman-Byzantine ruins fortress, Istria- ancient Histria city), 
        strong villages of ethno-folk interest 
        |(Nufăru, Partizani, Beştepe, Mahmudia, Murighiol, Jurilovca, Crişan, Mila 23).
    .lang.lang-ro
      p
        strong Satele 
        |din rezervaţie pot să se constituie ca un produs turistic inedit, care să satisfacă o gamă variată de motivaţii în activitatea de turism rural: Crişan, Mila 23, Sfântu Gheorghe. În Delta Dunării se pot distinge 
        strong sate peisagistice 
        |profilate pe anumite funcţii turistice: balneare (Sfântu Gheorghe), pescăreşti (toate satele din deltă); 
        strong sate de interes cultural-istoric 
        |(Nufăru-cetatea romană Prislava, Enisala-cetatea genoveză, Mahmudia-urmele cetăţii romano-bizantine Salsovia, Istria-cetatea Histria); 
        strong sate de interes etno-folcloric 
        |(Nufăru, Partizani, Beştepe, Mahmudia, Murighiol, Jurilovca, Crişan, Mila 23). 
    +img('img/LC8T2159.jpg')
