include ../../mixins

+article('Sulina')
  +section('Sulina')
    h1.lang.lang-en Sulina town
    h1.lang.lang-ro Oraşul Sulina
    p.lang.lang-en
      strong Sulina town
      |, whose existence was first documented in 950 by Constantine Porphyrogenitus in his work 
      em “De administrando imperio”
      |, represents the easternmost locality in Romania. The town is situated in the vicinity of the Black Sea, where the alluvia carried by the Danube extend the landline into the sea. Standing proof of this phenomenon, the old lighthouse built in 1802 is now situated in the center of the town and is also considered an important touristic objective.
    p.lang.lang-en Sulina is a very important economic center due to its positioning on the primary axis of the Rhine-Main-Danube Trans-European transport network, as part of the Pan European Transport Corridor VII, connecting the North Sea with the Black Sea. 
    p.lang.lang-en Sulina is a cosmopolitan town, in which customs of numerous nations get intersected. The settlement was a component of the Tsarist Empire, seized from the Turks (1813), then under Austrians (1854), after the Crimean War, under Turks once again, to finally return - with Dobroudgea - as part of Romania in 1878, after the Independence War in 1877.  
    p.lang.lang-en Worth observing is the architectural diversity across the town of Sulina. One can observe the reed-based architecture, these houses being painted in white or blue. Sometimes tiles can be used for rural rooftops, or large eaves, originating from the Mediterranean zone. Alongside this rural architecture one can find urban elements, like storeyed houses, narrow and slender, having commercial stores at the ground floors. After 1856, when the European Danube Commission was founded, the European Commission Palace and the “Jean Bart” house were built). Works on Sulina channel undertaken by the European Danube Commission in 1856, stimulated commercial and transport activities in this area. Thus, along Sulina branch arose a series of villages: Ilganii de Sus, Partizani (Regele Carol I), Vulturu, Gorgova, Crişan (Carmen Silva). 
    p.lang.lang-en Sulina presents many touristic objectives. The Old Lighthouse – hosting the cabinet of Eugeniu Botez, better known by his pen name: Jean Bart. In the same building there is a hall dedicated to the European Danube Commission; the above mentioned “Jean Bart” house; the Water Tower, built with the assistance of the Dutch Queen in 1987; the Greek church St. Nicolas; the old rite Church St. Peter and Paul; the Roman-Catholic St. Nicholas Church – built with the assistance of the Italian community; St. Alexander Church; Sulina Cemetery, where Romanians, Turks, Tartars, Lipovans, Kahols, and also pirates, soldiers, sailors, merchants, etc. were buried; Sulina beach. 
    p.lang.lang-en During World War II, there were over 15,000 inhabitants. After the war, the economic importance of the town decreased, and today there are under 5,000 inhabitants. 
    p.lang.lang-en The town has a culture house, public libraries, schools and restaurants, stores, concentrated on the quays. Also found on the quays is a specialized infrastructure where boats can land. Between the two sides of the town, separated by Sulina channel, one can find boats leaving at specific hours, which facilitate the transport from one side to another. 
    p.lang.lang-en The main activities are: navigation, tourism and fishing. 
    p.lang.lang-en Here can be found accomodation facilities at decent prices, in hotels, pensions, holiday houses, villas, local houses, and a student camp.
    p.lang.lang-ro
      strong Oraşul Sulina
      |, atestat documentar în anul 950 în lucrarea lui Constantin Porphirogenetul 
      em „De administrando imperio”
      |, reprezintă cea mai estică aşezare din România. Este un oraş situat în vecinătatea mării, unde Dunărea cară mereu aluviuni, astfel încât uscatul înaintează în mare. Dovadă a acestui fapt este farul construit în 1802, care astăzi se află în centrul oraşului şi reprezintă un important obiectiv turistic. 
    p.lang.lang-ro Sulina este foarte importantă din punct de vedere economic deoarece este pe axa prioritară a reţelei trans-europene de transport Rin-Main-Dunăre din cadrul Coridorului Pan European de Transport VII, care face legătura între Marea Nordului şi Marea Neagră.
    p.lang.lang-ro Sulina reprezintă un oraş cosmopolit, în care tradiţiile mai multor popoare se intersectează. Aşezarea a fost fie în componenţa Imperiului Ţarist, fiind luată de la turci (1813), apoi sub austrieci (1854), după războiul din Crimeea, sub turci din nou, pentru ca în 1878, odată cu Dobrogea să revină ţării noastre, ca urmare a Războiului de Independenţă din 1877. 
    p.lang.lang-ro
      | Interesant de observat este diversitatea arhitecturală din oraşul Sulina. Poţi observa ahitectura bazată pe stuf, casele fiind vopsite în alb şi albastru. Uneori se folosesc la case olane, de origine rurală, sau streşini late, ultimele având sorginte mediteraneană. Alături de arhitectura rurală apare cea urbană, unde se construiesc case cu etaj, înguste, zvelte, adeseori cu spaţii comerciale la parter. După 1956 când se înfiinţează 
      em Comisia Europeană a Dunării
      |, apare Palatul Comisiei Europene a Dunării sau casa „Jean Bart”. Amenajarea braţului Sulina de către 
      em Comisia Europeană a Dunării 
      |(după anul 1856) impulsionează activitatea comercială şi de transport pe acesta. Astfel, în lungul  braţului Sulina iau naştere o serie de localităţi: Ilganii de Sus, Partizani/Regele Carol I, Vulturu, Gorgova, Crişan/Carmen Silva. 
    p.lang.lang-ro Oraşul prezintă mai multe obiective turistice: Farul Vechi din Sulina, găzduieşte cabinetul de lucru al lui Eugeniu Botez, cunoscut sub pseudonimul literar Jean Bart. În aceeaşi clădire se află o sală dedicată Comisiei Europene a Dunării; Clădirea Jean Bart de care am amintit mai sus; Turnul de Apă, construit cu sprijinul reginei Olandei la 1897;  Biserica grecească Sfântul Nicolae; Biserica Sfinţii Petru, de rit vechi. Biserica romano - catolică Sf. Nicolae, construită cu sprijinul comunităţii italiene din zonă; Biserica Sfântu Alexandru; cimitirul Sulina unde sunt înmormântaţi români, turci, tătari, lipoveni, haholi, dar şi piraţi, militari, marinari, comercianţi, oameni de cultură ş.a.; Plaja Sulina. 
    p.lang.lang-ro În timpul celui de al Doilea Război Mondial populaţia oraşului depăşea 15000 de locuitori. După aceasta însă importanţa economică a oraşului scade, astfel încât astăzi mai numără sub  5000 de locuitori. 
    p.lang.lang-ro În oraş se află o casă de cultură, biblioteci publice, unităţi de învăţământ, şi restaurante, magazine, care sunt concentrate în special pe faleză. Pe faleză există o infrastructură specializată unde ambarcaţiunile pot acosta. Între cele două părţi ale oraşului, separat de canalul Sulina, există la intervale regulate de timp, pe durata zilei, ambarcaţiuni ce fac transportul dintr-o parte în alta.
    p.lang.lang-ro Principalele activităţi sunt: navigaţie, turism şi pescuit.
    p.lang.lang-ro Aici, se pot  găsi facilităţi de cazare, la preţuri decente, în hoteluri, pensiuni, case de vacanţă, vile, case şi o tabără de elevi. 
    +img('img/LC8T0853.jpg')
  +section('Sfântu Gheorghe')
    h1.lang.lang-en Sfântu Gheorghe
    h1.lang.lang-ro Sfântu Gheorghe
    p.lang.lang-en
      strong Sfântu Gheorghe 
      |(also known as Kadâlez, Catârlez until 1900) – first mentioned in 1318 by Petrus Visconti on his map “
      em Periplus Ponti Euxini Octupulus
      |”, is a village with around 900 inhabitants, situated on the branch named after it, in the place where the sea meets the Danube. The village is situated on the oldest Danube branch and is inhabited mainly by fishermen.   
    p.lang.lang-en Sfântu Gheorghe is mainly inhabited by Hahols, who are fishing, breeding livestock and collecting reed. In recent years though, tourist activities have been intensified. Almost all houses in Sfântu Gheorghe can provide accomodation and fish-based meals. There are over 20 pensions (boarding and lodging houses) in Sfântu Gheorghe, including a modern camping site, situated quite close to the sea.
    p.lang.lang-en 
      |The most important celebrations in Sfântu Gheorghe are: the local church fest, celebrated on the 6
      sup th 
      |of May, when boat, horse, rope and dance competitions are organized; 
      em Catalaua
      |, the celebration of Saint Andrew, when people tie rolls of bread decorated with candies on house beams, and men participate in a sort of competition jumping and trying to bite out a pece of bread without using their hands; 
      em Vecera 
      |– celebrated on the 6
      sup th 
      |of January (Christmas Eve on old rite calendar), when people bring bread rolls and gifts to their relatives; 
      em Easter of the Dead 
      |– celebrated on the 8
      sup th 
      |day after Easter Sunday – villagers go to the graveyard and organize the meal near family graves, and the dead are remembered; old rite Christmas holidays starting on January the 7
      sup th 
      |; New Year’s Eve – January the 14
      sup th 
      |(
      a(href='http://sfantu-gheorghe.ro') http://sfantu-gheorghe.ro
      |). During summer, Sfântu Gheorghe is the stage of various music concerts (including electronic, house, etc.). 
    p.lang.lang-en The main tourist attractions in Sfântu Gheorghe are: the newly built miniport, offering landing facilities to boats of all sizes; the holiday village; the Black Sea beach, where the sea level raises slowly and the sands are extra-fine; the Lighthouse (50 m high) built in 1967.
    p.lang.lang-ro
      strong Sfântu Gheorghe 
      |(Kadâlez, Catârlez până în 1900), menţionată prima dată în 1318 de Petrus Visconti pe harta „
      em Periplus Ponti Euxini Octupulus
      |” este o localitate cu o populaţie de cca 900 de locuitori, se află pe braţul cu acelaşi nume, acolo unde Dunărea întâlneşte marea. Aşezarea este situată pe cel mai vechi braţ al Dunării şi este populată în principal de pescari.
    p.lang.lang-ro În Sfântu Gheorghe trăiesc preponderent haholi, care se ocupă cu pescuitul, creşterea animalelor şi tăierea stufului. În ultimii ani însă s-a dezvoltat foarte mult turismul. Aproape toate casele din Sfântu Gherghe pot oferi cazare şi mese pe bază de peşte. Există peste 20 de pensiuni în Sfântu Gherghe, inclusiv un camping modern, situat destul de aproape de mare. 
    p.lang.lang-ro 
      |Principalele sărbători de la Sfântu Gheorghe sunt: Hramul aşezării, care se ţine pe 6 mai. Cu ocazia aceasta se organizează concursuri de bărci, de cai, de sfoară şi de dans; Catalaua, de Sfântul Andrei, când se leagă de grindă un colac de pâine ornat cu bomboane. Bărbaţii au un fel de concurs în care trebuie să sară şi să muşte din colac fără a folosi mâinile; Vecera - în seara zilei de 6 ianuarie, în Ajunul Crăciunului pe stil vechi, se merge cu colaci şi cadouri la rudele apropiate; Paştele Blajinilor (Paştele morţilor), are loc a opta zi după Paşte, se merge în cimitir, sătenii organizează masa la mormintele familiilor şi se pomenesc morţii; Crăciunul pe calendarul vechi, 7 ianuarie; Anul Nou - 14 ianuarie (
      a(href='http://sfantu-gheorghe.ro') http://sfantu-gheorghe.ro
      |). Totodată aici se desfăşoară vara concerte de muzică electronică, house, sau alte genuri muzicale. 
    p.lang.lang-ro Principalele atracţii turistice din Sfântu Gheorghe sunt: miniportul nou construit, care oferă facilităţi de acostare ambarcaţiunilor de toate mărimile; satul de vacanţă; plaja Mării Negre, unde apa mării creşte foarte lin, iar nisipul este deosebit de fin; vizitarea farului (50 de metri înălţime), care datează din 1967.
    +img('img/LC8T0917.jpg')
  +section('Crișan')
    .lang.lang-ro
      h1 Crișan 
      p 
        strong Crișan 
        | - localitate de mare interes turistic, aşezată în mijlocul deltei, pe braţul Sulina la 47 km. de Tulcea este principalul punct de pornire în excursii spre satul Mila 23, Pădurea Letea şi Pădurea Caraorman, Canalul Litcov. Sat tipic pescăresc, Crişan a cunoscut o dezvoltare rapidă tocmai datorită poziţiei sale privilegiate, fiind una dintre cele mai renumite localităţi ale Deltei ca destinaţie turistică. 
      p Localitatea s-a dezvoltat pe malul drept al canalului Sulina pe o veche aşezare de pescari, pe un grind fluvial peste care s-a depus materialul excavat din braţul Sulina în timpul construirii canalului de către Comisia Europeană a Dunării.
      p Legătura cu Tulcea şi cu Sulina se realizează cu nave rapide şi clasice. 
    .lang.lang-en
      h1 Crișan 
      p 
        strong Crișan 
        | a locality of high tourist interest, in the middle of the Delta, on Sulina branch, 47 km from Tulcea, is the main starting point for trips to Mila 23 village, Litcov channel, Letea and Caraoman Forests. A typical fishermen village, Crişan has grown rapidly because of its privileged position, being one of the most famous villages of the Delta as a tourist destination. 
      p The village developed on the right bank of Sulina channel from an old fishermen settlement, on a riverine levee extended with materials excavated during the construction of Sulina channel done by the European Commission of the Danube.
      p The connection between Tulcea and Sulina is made by fast or classic passenger ships. 
    +img('img/crisan.jpg')
  +section('Chilia Veche')
    .lang.lang-ro
      h1 Chilia Veche 
      p Menţiunile despre existenţa acestei aşezări datează din sec X, și o descriu ca fiind una dintre cele mai mari si vechi aşezări umane din Delta Dunării, dar şi o zonă foarte bogată datorită pescuitului de sturioni. Apare în hărţi medievale, cu numele de Lycostomo, aici desfăşurându-se activitatea negustorilor genovezi de la gurile Dunării.
      p Biserica, cu două turle de circa 40 m înăltime, este punct de reper pentru cei aflaţi in deltă. Mic port pescăresc şi de pasageri, cu puternice influenţe slave.
    .lang.lang-en
      h1 Chilia Veche 
      p Mentions about the existence of this settlement are dating from the 10
        sup th 
        | century, describing it as one of the largest and oldest human settlements in the Danube Delta, and a very rich one due to sturgeon fishing. It appears on medieval maps, under the name of Lycostomo, an important centre for Genoese merchants on the Danube.
      p The church, with its 40 m. high twin towers, is a landmark for the visitors of the Delta. It is a small fishermen and passengers port, with strong Slavic influences.
  +section('Murighiol')
    .lang.lang-ro
      h1 Murighiol 
      p 
        strong Murighiol 
        | – localitate ce este situată la 42 km. de Tulcea, pe uscat şi la 53 km. pe calea apei. Numele localităţii vine de la cuvântul “morughiol” ce înseamnă “lacul violet” în limba turcă după culoarea ghiolului folosit în scopuri terapeutice. 
        p În sud-vest se găseşte lacul Sărat numit şi Sărăturile Murighiol, zonă strict protejată, cu marginile sinuoase, înconjurate de verdeaţă, dominante fiind stuful şi pipirigul care asigură condiţii bune de cuibărit pentru multe specii de păsări ca: piciorongul, cioc-întorsul, raţa cu ciuf, ţigănuşul, nagâţul, etc.
        p O atracţie turistică este chiar localitatea Murighiol unde frontoanele caselor au elemente decorative traforate cu diverse motive ornamentale: peşti, evantaie, căluţi-de-mare, frunze, pomul vieţii.
    .lang.lang-en
      h1 Murighiol 
      p 
        strong Murighiol 
        | a village located 42 km. on land and 53 km. on water from Tulcea. The name comes from the word “morughiol” meaning "violet lake" in Turkish, referring to the color of the lake used for therapeutic purposes. 
      p In South-West there is a salt lake called Sărăturile Murighiol, a strictly protected area, with irregular edges, surrounded by vegetation dominant by reeds and bulrush providing good breeding conditions for many bird species as: stilt, avocet, red-crested pochard, glossy ibis, northern lapwing, etc.
      p A tourist attraction is Murighiol village itself, with its houses having decorative gables with various ornamental elements representing fish, seahorses, hand fans, leaves, the tree of life, etc. 
  +section('Satul Mila 23')
    .lang.lang-ro
      h1 Satul Mila 23
      p Localitatea se dezvoltă pe malul drept al Dunării Vechi, în dreptul confluenţei canalelor Stipoc şi Eracle. 
        strong Satul Mila 23 
        | - sat tipic pescăresc din Delta Dunării este satul în care s-a născut marele campion olimpic la caiac - canoe, Ivan Patzaichin.
      p Numele localităţii 
        strong Mila 23 
        | vine de la mila marină care marca distanţa pe vechiul parcurs al braţului Sulina.
    .lang.lang-en
      h1 Mila 23 village 
      p The locality developed on the right bank of the Old Danube, on the confluence between Eracle and Stipoc channels. 
        strong Mila 23 village 
        | - a typical fishermen village in the Danube Delta is the birth place of the great Olympic canoe champion, Ivan Patzaichin.
      p The name 
        strong Mila 23 
        | comes from the distance in nautical miles marking the old route on Sulina branch.
