+article('Danube and its arms')
  +section('Danube and its arms')
    .lang.lang-en
      h1 Danube and its arms
      p The Danube at the top of the Delta (Ceatalul /River Fork Chiliei) drains a catchment area of 805,300 square kilometers, with 120 major tributaries and an average flow of (6.515 m/s), distributing its waters on the three main arms: 
      p 
        strong Chilia
        |, with its many ramifications and islets, is the youngest and longest (120 km); it strength is given by the fact that it carries the greatest water volume and sediments (58%). Throughout its evolution, it has formed several secondary deltas - the first one in the Pardina depression, the second one downstream Chilia Veche village and the third, beginning downstream from Periprava. River navigation takes place on this arm, the most important ports being Izmail and Vîlcov (Ukraine);
      p 
        strong Sulina
        |, was preferred for maritime navigation according to the studies of the Danube Commission (1856)  which led to meanders’ correction and the deepening of  the riverbeds between 1862 and 1902. As a result, the length was reduced from 92 km to 63.7 km, while the water volume and transported silts increased from 7-8% to 18.8% (currently) compared to the Chilia arm which before, used to carry 70%. Sulina Town, as entrance port for marine vessels suffered changes in its economic development. Due to the silt deposited at the arm's mouth, a canal was built stretching progressively into the sea, (currently has 10 km) in order to protect the navigation.
      p 
        strong Sfântu Gheorghe
        |, the most Southern and the oldest arm with a length of 109 km, in 1980-1990 suffered changes by correcting the six meanders and shortening down to 69.7 km. The volume of water and the silts flowing on this arm is about 23.2%. Before its end into the Black Sea, from the Sfântul Gheorghe arm, another arm branches out on the right side, which in turn, bifurcates into Gârla de Mijloc and Gârla Turcească. Both reach a bay called 
        strong Meleaua Sfântu Gheorghe
        |, resulted from the occurrence (1897) and the development of the  islands Sacalin (currently joined to the mainland, forming a 19 km long peninsula). On the left bank of the Gârla Turcească, (the Turkish Stream) the wooden 
        strong Turkish Lighthouse 
        |building was there from 1862 until 1978 when it burned down.
    .lang.lang-ro
      h1 Dunărea şi braţele ei
      p Dunărea la vârful deltei (Ceatalul Chiliei) drenează un bazin hidrografic de 805.300 km
        sup 2
        |, cu 120 afluenţi mai importanţi şi un debit mediu de (6.515 mc/s), şi îşi distribuie apele pe cele trei braţe principale: 
      p 
        strong Chilia
        |, cu multe ramificaţii şi ostroave, este cel mai tânăr şi mai lung (120 km) şi mai viguros prin faptul că transportă cea mai mare parte de apă şi aluviuni (58%). Pe acest braţ se practică navigaţia fluvială, porturi mai importante fiind Izmail şi Vîlcov (Ucraina);
      p 
        strong Sulina
        |, a fost preferat în urma studiilor Comisiei Europene a Dunării (1856) pentru navigaţia maritimă, fapt ce a dus la corectarea unor meandre şi adâncirea albiei în intervalul 1862-1902. Ca urmare, lungimea s-a redus de la 92 km la 63,7, iar volumul de apă şi aluviuni scurs a crescut de la 7-8% la 18,8% (în prezent) în defavoarea braţului Chilia care transporta înainte 70%. Oraşul Sulina ca port de intrare a vaselor maritime a avut variaţii în dezvoltarea sa economică. Datorită aluviunilor depuse la gura braţului s-a realizat un canal care înaintează treptat în mare (în prezent are 10 km) pentru protejarea navigaţiei.
      p 
        strong Sfântu Gheorghe
        |, cel mai sudic şi mai vechi braţ cu o lungime de 109 km, a suferit şi el în anii 1980-1990 modificări prin rectificarea meandrelor în număr de şase, scurtându-se la 69,7 km. Volumul de apă şi aluviuni care se scurge pe acest braţ este de 23,2%. Înainte de vărsare, braţul Sfântu Gheorghe se desprinde un alt braţ, pe partea dreaptă, care la rândul lui se bifurcă în Gârla de Mijloc şi Gârla Turcească. Ambele debuşează într-un golf numit 
        strong Meleaua Sfântu Gheorghe 
        |rezultat din apariţia (1897) şi dezvoltarea insulelor Sacalin (care în prezent s-au unit cu continentul formând o peninsulă cu 19 km lungime). Pe malul stâng al Gârlei Turceşti a existat până în 1978, când a ars, construcţia de lemn a 
        strong Farului turcesc 
        |datând din 1862.
    +img('img/IMG_2735_resize.jpg')
