include ../../mixins
+article('Danube Delta Biosphere Reserve')
  +section('Danube Delta Biosphere Reserve')
    .lang.lang-en
      h1 Danube Delta Biosphere Reserve
      p The protection of wildlife, especially of birds and forests in Letea and Caraorman levees, of the  typical landscapes of the delta, was established even before the Second World War, due to the ever more intrusive presence of  man in the Danube Delta. Thanks to the Romanian naturalists perseverance, the Natural Park Letea was set up in 1930 and Roşca-Buhaiova Reserve in 1940, listed in the year 1970 in the world list of biosphere reserves among other 177 reserves, part of Man and Biosphere UNESCO Program (MAB). 
      p After 1950, due to the reorganization of the Commission of Natural Monuments of the Romanian Academy (founded in 1930 by Law no. 213) the number of reserves in the delta area has been increased to five reserves (three ornithological and two forests reserves) summarize approximately 40,000 hectares of protected areas, adding also breeding sites of less protective regime. 
      p
        | The fundamental changes that took place in the Romanian society, after 1989, have lead to the value reevaluation of the Danube Delta, the scientific interest for protecting this area was prioritary over  the economic interest. Thus, by 
        strong Government Decision no. 983/ 27 August 1990 (Art. 5), Danube Delta together with Razim-Sinoe lacustrian complex, Sărături - Murighiol lake, Isaccea – Tulcea lacustrian complex (the natural Danube floodplain between Isaccea and Tulcea), the riverbed of the Danube between Cotul Pisicii and Ceatalul Chiliei, also the costal sea waters until the 20 meters depth line
        |, were declared a biosphere reserve. This decision was followed by the development and approval in the Romanian Parliament of the Law no.82/1993 where the structure of the reserve is established, along with the administration of the area and the ecological reconstruction of damaged areas. 
      p
        | According to the concept of a Biosphere Reserve, man and his activity shouldn’t be excluded, but integrated in the protected area, so that the economic activity can cohabit with the conservation and protection. The international value of the Danube Delta was recognized and included in the world wide network of Biosphere Reserves in the year 1990, within the “Man and Biosphere“ program launched by UNESCO in  1970.  Also, the Danube Delta Biosphere Reserve was recognized as 
        em wetland of international importance, especially as waterfowl habitat
        |, according to the Ramsar Convention, signed by Romania in 1991. Considering the universal heritage value of the Danube Delta Biosphere Reserve, it was included in the 
        em List of World Cultural and Natural Heritage 
        |in 1990. 
      .delta-map
        +img('img/harta.jpg')
      p
        | According to Law No. 82/1993 and the Government decision no. 248/1994, the Danube Delta Biosphere Reserve, with all its physical-geographical units presented above, has a total area of 580,000 ha. Within these limits, the reserve is structured into 20 
        strong Strictly Protected Areas
        |, covering 50,904 ha, buffer areas with a total area of 222,996 ha, and 
        strong sustainable development areas
        |, including villages/towns and 
        strong ecological restoration sites
        |, with a total area of 306,100 ha.
      p 
        strong Sustainable development areas 
        |including the ecological restoration sites, consist of fishery, agricultural and forestry polders, areas with free-flooding regime not included in the protected areas, village and town territories, and other facilities of economic interest within reserve limits. On these public or private areas, under strict environment protection conditions, can be undertaken economic and social activities, such as fishing and pisciculture, agriculture and animal breeding, tourism etc.
      p 
        trong The buffer areas 
        | cover a total of 222,996 ha of land or waters that are surrounding the strictly protected areas. They have similar biological characteristics with the areas which they protect by reducing the human pressure. In the buffer zone, the traditionally exploitation of natural renewable resources is allowed, with conservation premises and environmental protection. 
    .lang.lang-ro
      h1 Rezervaţia Biosferei Delta Dunării
      p Protejarea faunei şi îndeosebi a păsărilor, pădurilor de pe grindurile Letea şi Caraorman, a unor peisaje tipic deltaice s-a pus înainte de cel de-al II-lea Război Mondial datorită intervenţiei din ce în ce mai evidente a omului în Delta Dunării. Prin insistenţa unor naturalişti români s-a instituit încă din 1930 Parcul Natural Letea iar din 1940 Rezervaţia  Roşca-Buhaiova acestea fiind trecute în 1970 pe lista mondială a rezervaţiilor biosferei printre cele 177 ale lumii în cadrul Programului Omul şi Biosfera (MAB). 
      p După 1950, prin reorganizarea Comisiei Monumentelor Naturii din cadrul Academiei Române (înfiinţată în 1930 prin Legea nr. 213) numărul şi suprafaţa rezervaţiilor din deltă s-au extins ajungând la cinci rezervaţii (trei ornitologice şi două forestiere) însumând circa 40.000 ha, la care se mai adăugau locurile de cuibărit cu un regim de protecţie mai redus. 
      p
        | Schimbările fundamentale care au avut loc în societatea românească, după 1989, au permis reconsiderarea valorii Deltei Dunării, subordonându-se interesul economic celui ştiinţific şi de protecţie. Astfel, prin 
        strong Hotărârea Guvernului nr. 983/27 august 1990 (art. 5), Delta Dunării împreună cu complexul lacustru Razim-Sinoie, lacul Sărături – Murighiol, complexul lacustru Isaccea – Tulcea (lunca Dunării neamenajată dintre Isaccea şi Tulcea), albia Dunării dintre Cotul Pisicii şi Ceatalul Chiliei, precum şi apele marine costiere până la izobata de 20 m
        |, au fost declarate rezervaţie a biosferei. Această hotărâre a fost urmată de elaborarea şi aprobarea de către Parlamentul României a 
        strong Legii nr. 82/1993 
        | prin care s-a stabilit structura rezervaţiei, modul de administrare, protejarea şi reconstrucţia ecologică a unor areale deteriorate. 
      p
        | Potrivit conceptului de rezervaţie a biosferei, omul cu activitatea sa nu este exclus ci este integrat acesteia, astfel încât să coabiteze activitatea economică cu măsurile de conservare şi protecţie. Valoarea internaţională deosebită a Deltei Dunării a fost recunoscută şi inclusă în reţeaua mondială a rezervaţiilor biosferei în anul 1990, în cadrul programului 
        em „Omul şi Biosfera” 
        |(MAB) lansat de UNESCO în 1970. De asemenea, Rezervaţia Biosferei Delta Dunării a fost recunoscută ca 
        em zonă umedă de importanţă internaţională, în special ca habitat al speciilor de apă
        |, conform Convenţiei de la Ramsar, la care România a aderat în 1991. Având în vedere valoarea de patrimoniu universal al Deltei Dunării, respectiv a rezervaţiei biosferei, aceasta a fost inclusă şi în 
        em Lista Patrimoniului Mondial, Cultural şi Natural 
        | în 1990. 
      .delta-map
        +img('img/harta.jpg')
      p
        | Potrivit Legii nr. 82/1993 şi Hotărârii Guvernlui nr. 248/1994,  Rezervaţia Biosferei Delta Dunării în limitele stabilite şi cuprinzând formaţiunile fizico – geografice prezentate mai sus are o suprafaţă totală de 580.000 ha. În interiorul limitelor, rezervaţia este structurată în 
        em zone strict protejate
        |, în număr de 20, cu o suprafaţă de 50.904 ha, 
        em zone tampon
        |, în suprafaţă totală de 222.996 ha şi 
        em zone de dezvoltare durabilă
        |, inclusiv localităţile şi 
        em zonele de reconstrucţie ecologică
        |, în suprafaţă totală de 306.100 ha.
      p 
        strong Zonele tampon 
        | însumează 222.996 ha şi cuprind suprafeţele de teren sau ape care înconjoară zonele cu regim de protecţie integrală. Aceste zone prezintă caracteristici biologice apropiate de cele ale zonelor pe care le protejează prin reducerea presiunii antropice. În zonele tampon este permisă valorificarea resurselor naturale regenerabile în mod tradiţional şi cu condiţii de conservare şi protecţie a mediului. 
      p 
        strong Zonele de dezvoltare durabilă (economice) 
        |inclusiv cele de reconstrucţie ecologică, cuprind suprafeţele amenajate piscicol, agricol, silvic şi în alte scopuri, terenurile cu regim liber la inundaţii care nu sunt incluse în ariile protejate, vetrele localităţilor, precum şi alte folosinţe de interes economic din limitele rezervaţiei. Pe aceste suprafeţe din domeniul public sau privat, se desfăşoară, în condiţii de protecţie a mediului, activităţi economice, sociale, dintre care se menţionează pescuitul şi piscicultura, agricultura şi creşterea animalelor, turismul etc.
    +img('img/Sediu 2.jpg')
