include ../../mixins

+article('Birds')
  +section('Birds')
    .lang.lang-en
      h1 Birds
      p
        strong Birds
        |, besides the specificity and the attractiveness of its landscapes, are the ones who make the Danube Delta renown all over the world. Of the 341 species it is estimated that 171 are nesting species; the rest of them are winter guests, or on pasage during spring and autumn. According to their geographical origins, these birds belong to one of the following types: European, Mediterranean, Siberian, Mongolian, Arctic and Chinese. The well defined migration routes are: 
        strong Pontic
        |, 
        strong Sarmatic
        |, 
        strong Black Sea
        |, 
        strong East-Elba 
        | and 
        strong Carpathian
        |.  Some of these species are declared 
        strong monuments of nature
        |. Among species wintering in the Danube Delta, especially in Razim-Sinoe complex, one can mention the Red-breasted Goose (Branta ruficollis), ducks, geese, coots and swans, over one million individuals.
    .lang.lang-ro
      h1 Păsările
      p
        strong Păsările 
        |conferă Deltei Dunării, pe lângă peisajul ei specific şi atractiv, renumele pe care l-a dobândit în lume. Din cele 341 de specii se apreciază că 171 sunt clocitoare; cele neclocitoare sunt oaspeţi de iarnă şi de pasaj primăvara şi toamna. După originea geografică, păsările aparţin următoarelor tipuri: european, mediteranean, siberian, mongolian, arctic şi chinez. Drumurile migraţiilor, bine stabilite, sunt: 
        strong pontic
        |, 
        strong sarmatic
        |, 
        strong al Mării Negre
        |, 
        strong est-Elba 
        | şi 
        strong carpatic
        |. Din cele 341 de specii de păsări unele sunt declarate 
        strong monumente ale naturii
        |. Dintre speciile de păsări care iernează în deltă şi mai ales în complexul Razim-Sinoie menţionăm gâsca cu gât roşu (<em>Branta ruficollis</em>), raţe, gârliţe, lişiţe şi lebede, peste un milion de exemplare.
    +img('img/Night heron (Nycticorax nycticorax) - Daniel Petrescu.jpg')
