include ../../mixins

+article('Climate')
  +section('Climate')
    .lang.lang-en
      h1 Climate
      p Due to the geographical position at 45˚ Northern latitude, the Black Sea proximity and the landscape diversity, with a prevailing amphibious environment, the climate is temperate continental with Pontic influences. The values for main climatic parameters are: the lowest nebulosity in the country (under 5 tenths); 70 days of clear skies; 2,500 hours/year of sunshine; 130-135 kcal/cm2/year solar irradiance (the highest in the country); an average annual temperature of 11-11.4 0C (between -1 and 1.5 0C in January and 21-22 degrees 0C in July); rainfalls between 400 and 450 mm/year in the western part and 350-400 mm/year in the eastern part (in Sulina, the lowest rainfall level, 132.7 mm/year, was recorded in 1920 and in C.A. Rosetti, on Letea levee, on August 29th 1924, was recorded the highest level of rainfall in Romania, 690.6 mm/24 hours).
    .lang.lang-ro
      h1 Clima
      p Prin poziţia sa geografică la 45˚ latitudine nordică, în apropiere de Marea Neagră, şi prin diversitatea peisajului, cu predominarea mediului amfibiu, clima este temperat-continentală cu influenţe pontice. Valorile principalilor parametri climatici sunt: nebulozitatea cea mai redusă din ţară (sub 5 zecimi); 70 de zile cu cer senin; 2.500 ore/an de strălucire a soarelui; 130-135 kcal/cmp/an, radiaţie solară (cea mai mare din ţară); între 11 şi 11,4˚C temperatura medie anuală (-1˚şi 1,5˚C în ianuarie, 21˚şi 22˚C în iulie), precipitaţiile între 400-450 mm/an în partea vestică şi 350-400 mm/an în partea estică (la Sulina în 1920 s-a înregistrat cea mai mică cantitate de precipitaţii 132,7 mm, iar la C.A. Rosetti, pe grindul Letea, au căzut în 29 august 1924, 690,6 mm, cea mai mare cantitate de apă din ţară în 24 de ore).
    +img('img/C8T9562.jpg')
