include ../../mixins

+article('Danube Delta among Deltas of the world')
  +section('Danube Delta among Deltas of the world')
    .lang.lang-en
      h1 Danube Delta among Deltas of the world
    .lang.lang-ro
      h1 Delta Dunării între deltele lumii
    .lang.lang-en
      p At the end of the 2860 km that it runs through, from the springs (Donaueschingen - Black Forest in Germany) to the Black Sea (ancient Pontus Euxinus), the Danube builds for more than 12,000 years one of the most beautiful deltas in Europe and in the world. Even if it ranks third in Europe (after the Volga and Kuban) and only the 22nd on Earth (after the Kuban), for the richness of its landscape and its fauna where the birds are the most significant element, Delta represents a special interest from all points of view: scientific, touristic and even economic.
    .lang.lang-ro
      p La capătul celor 2860 km pe care-i parcurge de la izvoare (Donaueschingen – Munţii Pădurea Neagră din Germania) până la Marea Neagră (anticul Pontus Euxinus), Dunărea construieşte, de mai bine de 16.000 de ani una dintre cele mai frumoase delte din Europa şi chiar din lume. Chiar dacă este a treia din Europa (după cea a fluviului Volga şi a Kubanului) şi abia a 22-a de pe Terra (după cea a Kubanului), prin bogăţia peisagistică şi prin fauna în care păsările ocupă un prim loc, Delta Dunării prezintă un interes cu totul desebit din punct de vedere ştiinţific, turistic şi chiar economic.
    +img('img/LC8T0376.jpg')
