include ../../mixins

+article('Economic Activities ')
  +section('Economic Activities ')
    h1.lang.lang-en Economic Activities  
    h1.lang.lang-ro Activităţi economice  
    p.lang.lang-en 
      |Since ancient times, 
      strong fishing 
      |has represented the main occupation of the inhabitants, as well as in the present days, although its importance was reduced because of the water quality and decline in fish species and resources. The villages where fishing remained the main activities are Crişan, Mila 23, Gorgova and Sfântul Gheorghe (the late also practices the sea fishing). 
    p.lang.lang-ro
      | Încă din antichitate, 
      strong pescuitul 
      |a fost principala ocupaţie a locuitorilor, de asemenea şi în prezent, deşi s-a mai redus datorită calităţii apei, a speciilor de peşti şi a fondului piscicol. Localităţile în care pescuitul este, încă, principala ocupaţie sunt Crişan, Mila 23, Gorgova şi Sfântul Gheorghe (în ultima localitate practicându-se şi pescuitul marin). 
    p.lang.lang-en 
      | The second major occupation was and remains 
      strong animal breeding 
      |(sheep and cattle). Since the transhumance activity practiced up to the end of 19th Century, animal breeding became a major occupation in villages like Letea, Periprava, C.A.Rosetti and Caraorman. 
    p.lang.lang-ro
      | A doua ocupaţie majoră a fost şi, mai este, 
      strong creşterea animalelor 
      |(oi şi vite). De la fenomenul transhumant practicat până la sfârşitul secolului 19 a devenit o ocupaţie predominantă în  localităţile Letea, Periprava, C.A.Rosetti şi Caraorman. 
    p.lang.lang-en 
      | The traditional 
      strong agriculture 
      |was practiced by the inhabitants of the villages located on the sand banks, with low flooding risk (Chilia Veche, Pardina, Sălceni, Ceatalchioi, Pătlăgeanca). After 1960, these traditional occupations have changed mainly because of the reed polders expansion (abandoned later), fish ponds, agricultural and forestry polders. The fishing is practiced both in fresh water and Black Sea (Danube Shad, Sturgeon). 
    p.lang.lang-ro 
      strong Agricultura 
      |tradiţională a fost practicată de locuitorii aşezărilor situate pe grinduri cu risc redus la inundaţii (Chilia Veche, Pardina, Sălceni, Ceatalchioi, Pătlăgeanca). După 1960, aceste ocupaţii tradiţionale au fost mult modificate prin extinderea amenajărilor stuficole (abandonate mai târziu), piscicole, agricole şi plantaţiilor silvice. Pescuitul se practică la peştele de apă dulce şi la cel migrator din Marea Neagră (scrumbie, sturioni).
    p.lang.lang-en 
      | 
      strong Navigation 
      |is practiced since ancient times. The Persian Emperor, Darius the 1st, entered with his fleet from Pontus Euxinus (Black Sea) on Istros (Danube) up to Noviodunum (Isaccea), during the war against the Scythians (514 BC). The Danube navigation was also important during Ştefan cel Mare, the 15th Century, and during the Turkish domination, 17th and 18th Centuries. The conditions for a modern navigation have been created by the modification of Sulina Arm between 1882 and 1902, for sea navigation up to Brăila city (170 km). 
    p.lang.lang-ro 
      strong Navigaţia 
      |a fost practicată din antichitate. Împăratul Persiei, Darius I, a pătruns cu flota sa din Pontus Euxinus (Marea Neagră) pe Istros (Dunăre) până la Noviodunum (Isaccea) în timpul războiului împotriva sciţilor (anul 514 î.Hr.). Navigaţia pe Dunăre a fost, de asemenea, importantă în timpul lui Ştefan cel Mare, secolul 15, şi sub dominaţia turcească, secolele 17-18. Condiţiile pentru o navigaţie modernă au fost realizate prin amenajarea Braţului Sulina între 1882 şi 1902 pentru navigaţie maritimă până la Brăila (170 km). 
    p.lang.lang-en 
      | 
      strong Tourism 
      |represents an important activity, at European and even worldwide level, although the tourists’ number varied quite a lot during the last 25-30 years, due to a lack of infrastructure and adequate promotion, in spite of the rich natural resources, the biodiversity and traditional aquatic  landscape. 
    p.lang.lang-ro 
      strong Turismul 
      |reprezintă o componentă de importanţă europeană şi chiar mondială, cu toate că numărul turiştilor a variat mult în ultimii 25-30 ani datorită lipsei unei infrastructuri şi promovări adecvate deşi, potenţialul natural, în special, este deosebit determinat de biodiversitatea şi peisajul specific zonelor umede.
    +img('img/C8T7009.jpg')
