include ../../mixins

+article('Ecosystem types')
  +section('Ecosystem types')
    .lang.lang-en
      h1 Ecosystem Types
      p
        |The differentiation of the delta area, from the first bifurcation to the seashore and between the main arms, is the result of a long-time evolution that led to the formation of levees, lakes, streams and amphibious land, and respectively, 
        strong ecosystems
        |. 
      p
        | Given the morphological-hydrographic configuration, the flora and fauna associations, the anthropogenic activities over time in the Reserve, two types of ecosystems have been identified: 
        strong natural ecosystems partially modified by humans and anthropogenic ecosystems
        |.
    .lang.lang-ro
      h1 Tipuri de ecosisteme
      p
        | Diferenţierea spaţiului deltaic, de la prima bifurcaţie către ţărmul mării şi de la braţele principale spre interior, este rezultatul evoluţiei  în timp, care a dus la formarea grindurilor, lacurilor, gârlelor şi terenurilor amfibii şi respectiv, a 
        strong ecosistemelor
        |. 
      p
        | Având în vedere configuraţia morfohidrografică, asociaţiile floristice şi faunistice, impactul activităţilor antropice în decursul timpului, în Rezervaţie, au fost identificate două categorii de ecosisteme şi anume: 
        strong ecosisteme naturale parţial modificate de om şi ecosisteme antropice
        |. 
    +img('img/MG_0907.jpg')
    .lang.lang-en
      p Twenty- three natural ecosystems have been studied,  partially modified by humans, distributed over the entire Reserve, from the river arms to beaches and 7 anthropogenic ecosystems  including agricultural, fishery and forestry polders and human settlements (urban and rural). As a young region continuing to grow, the Danube Delta is a favorable place for developing a unique flora and fauna in Europe, with many rare species. Due to its predominant aquatic environment, the fauna and flora will therefore be aquatic, although the terrestrial environment is also presented, represented by the Letea, Caraorman Stipoc, Sărăturile and Campul Chiliei levees, dry areas that enable the developing of flora and fauna specific to Eastern European steppes with Mediterranean influences.
      p Between these two environments (aquatic and terrestrial), the swampy, flooding environment is interposing, being the carrier of a flora and fauna, with possibilities of alternative adaptation (water, land), depending on the seasonal and annual hydrologic regime. At the contact point of the freshwater and the sea water, outstanding physical, chemical and biological processes occur, prompting biologists to consider these coastal waters as a special ecosystem, called 'avandeltă'.  Musura Bay and Meleaua Sfântu Gheorghe are most representative in this type of ecosystem.
    .lang.lang-ro
      p 
        |Au fost descrise 23 de ecosisteme naturale parţial modificate de om distribuite pe toată suprafaţa Rezervaţiei, de la braţele Dunării până la plajele marine precum şi 7 ecosisteme antropice ce includ amenajările agricole, piscicole şi silvice şi aşezările umane (urbane şi rurale). Ca regiune tânără în continuă consolidare, Delta Dunării constituie un loc favorabil pentru dezvoltarea unei flore şi faune unice în Europa, cu numeroase specii rare. Predomină mediul acvatic, deci flora şi fauna vor fi acvatice, dar nu lipseşte nici mediul terestru, reprezentat prin grindurile Letea, Caraorman, Stipoc, Sărăturile şi Câmpul Chiliei, arii secetoase pe care se dezvoltă o floră şi o faună adecvată, specifică stepelor est-europene cu influenţe mediteraneene. Între aceste două medii (acvatic şi terestru) se interpune mediul mlăştinos, inundabil, care este purtătorul unei flore şi faune cu posibilităţi de adaptare alternativă (apă, uscat) în funcţie de regimul hidrologic sezonier şi anual. La contactul dintre apele dulci şi cele marine au loc procese fizice, chimice şi biologice deosebite, fapt care a determinat pe biologi să considere aceste ape costiere ca un ecosistem aparte, numit 
        strong avandeltă
        |. Golful Musura şi meleaua Sfântu Gheorghe sunt cele mai reprezentative din acest tip de ecosistem.
    +img('img/LC8T0964 (2).jpg')
