include ../../mixins

+article('Genesis, age, evolution')
  +section('Genesis, age, evolution')
    .lang.lang-en
      h1 Genesis, age, evolution
      p According to many Romanian and foreign scientists, the Danube Delta was formed in a bay of the Black Sea starting in Upper Pleistocene. At this stage a coastal belt was sketched, called the "initial belt", which was considered to have started in the center, in 12,000 BC and continued until 7,500 BC. The formation of this initial belt, which corresponds to the central axis of the Jibrieni, Letea, Caraorman and Crasnicol banks alignment, closed the bay, turning it into a lagoon. Delta has evolved in close connection with the three arms – St. Gheorghe, Sulina and Chilia. The three arms have different ages, the oldest being St. Gheorghe, in the South and the youngest, in the North, named Chilia.
    .lang.lang-ro
      h1 Geneză, vârstă, evoluţie
      p După părerea  a numeroşi oameni de ştiinţă, români şi străini, reiese că Delta Dunării s-a format într-un golf al Mării Negre începând din Pleistocenul superior. În această etapă s-a schiţat un cordon litoral numit „cordon iniţial”, care s-a apreciat că a început în partea centrală cu circa 16.000 de ani î.e.n. şi a continuat până în anii 7.500 î.e.n. Formarea acestui cordon iniţial, ce corespunde axului central al aliniamentului de grinduri Jibrieni, Letea, Caraorman şi Crasnicol a închis golful, transformându-l într-un liman. Delta Dunării a evoluat în strânsă legătură cu cele trei braţe – Sfântu Gheorghe, Sulina şi Chilia. Cele trei braţe au vârste diferite, cel mai vechi fiind Sfântu Gheorghe, din sud şi cel mai tânăr, Chilia din nord.
    +img('img/etape formare DD PANIN.jpg')
