include ../../mixins

+article('Spatial extension and geographical coordinates')
  +section('Spatial extension and geographical coordinates')
    .lang.lang-en
      h1 Spatial extension and geographical coordinates
      p 
        strong The surface of the Danube Delta Biosphere Reserve: 5,800 km
          sup 2 
        | out of which: 3,510 km
        sup 2 
        |the Delta itself –Romanian sector; 1,145 km
        sup 2
        |, Razim – Sinoie lacustrine Complex; 1,030 km
        sup 2 
        | marine waters up to 20 m izobath; 13 km
        sup 2 
        | Danube riverbed between Cotul Pisicii and Isaccea (on Romanian territory) and 102 m
        sup 2 
        | Danube floodplain between Isaccea and Tulcea.

      p 
        strong Geographical coordinates: 
        |45°24'30" northern latitude and 28°10'50" eastern longitude at Cotul Pisicii; 45°9' 30" northern latitude and 29°42' 45" eastern longitude east of Sulina town; 44°20'40" northern latitude and 28°41'30" eastern longitude at Cape Midia; 45°27' northern latitude and 29°19'20" eastern longitude at Chilia Veche.
    .lang.lang-ro
      h1 Extensiune spațială și coordonate geografice
      p 
        strong Suprafaţa Rezervaţiei Biosferei Delta Dunării: 5 800 km
          sup 2 
        |din care: 3 510 km
        sup 2 
        |delta propriu-zisă – sectorul românesc, 1 145 km
        sup 2 
        |Complexul  lacustru  Razim – Sinoie, 1 030 km
        sup 2 
        |apele marine până la izobata de –20 m, 13 km
        sup 2 
        |albia Dunării între Cotul Pisicii şi Isaccea (pe teritoriul României) şi 102 km
        sup 2 
        |lunca inundabilă a Dunării între Isaccea şi Tulcea.

      p
        strong Coordonate geografice: 
        |45°24'30" latitudine nordică şi 28°10'50" longitudine estică la Cotul Pisicii, 45°9' 30" latitudine nordică şi 29°42' 45" longitudine estică la est de localitatea Sulina; 44°20'40" latitudine nordică şi 28°41'30" longitudine estică la Capul Midia; 45°27' latitudine nordică şi 29°19'20" longitudine estică la Chilia Veche.
