include ../../mixins

+article('Spatial extension and geographical coordinates')
  +section('Spatial extension and geographical coordinates')
    .lang.lang-en
      h1 Spatial extension and geographical coordinates
      p 
        strong The surface of the Danube Delta Biosphere Reserve: 5,800 km
          sup 2 
        | out of which:
        ul
          li 3,510 km
            sup 2 
            |the Delta itself – Romanian sector
          li 1,145 km
            sup 2
            |, Razim – Sinoie lacustrine Complex
          li 1,030 km
            sup 2 
            | marine waters up to -20m izobath
          li 13 km
            sup 2 
            | Danube riverbed between Cotul Pisicii and Isaccea (on Romanian territory)
          li 102 m
            sup 2 
            | Danube floodplain between Isaccea and Tulcea.

      p 
        strong Geographical coordinates: 
        ul
          li 45°24'30" northern latitude and 28°10'50" eastern longitude at 
            +maplink(45 + 24.5/60, 28 + 10/60 + 50/3600, 'corner1')
              span Cotul Pisicii 
              +mapicon
          li 45°9'30" northern latitude and 29°42'45" eastern longitude 
            +maplink(45 + 9.5/60, 29 + 42/60 + 45/3600, 'corner2')
              span east of Sulina town 
              +mapicon
          li 44°20'40" northern latitude and 28°41'30" eastern longitude at 
            +maplink(44 + 20/60 + 40/3600, 28 + 41.5/60, 'corner3')
              span Cape Midia 
          li 45°27' northern latitude and 29°19'20" eastern longitude at 
            +maplink(45 + 27/60, 29 + 19/60 + 20/3600, 'corner4')
              span Chilia Veche 
              +mapicon

    .lang.lang-ro
      h1 Extensiune spațială și coordonate geografice
      p 
        strong Suprafaţa Rezervaţiei Biosferei Delta Dunării: 5 800 km
          sup 2 
        |din care:
        ul
          li 3 510 km
            sup 2 
            |delta propriu-zisă – sectorul românesc,
          li 1 145 km
            sup 2 
            |Complexul  lacustru  Razim – Sinoie,
          li 1 030 km
            sup 2 
            |apele marine până la izobata de –20m
          li 13 km
            sup 2 
            |albia Dunării între Cotul Pisicii şi Isaccea (pe teritoriul României)
          li 102 km
            sup 2 
            |lunca inundabilă a Dunării între Isaccea şi Tulcea.

      p
        strong Coordonate geografice: 
        ul
          li 45°24'30" latitudine nordică şi 28°10'50" longitudine estică la 
            +maplink(45 + 24.5/60, 28 + 10/60 + 50/3600, 'corner1')
              span Cotul Pisicii 
              +mapicon
          li 45°9'30" latitudine nordică şi 29°42'45" longitudine estică 
            +maplink(45 + 9.5/60, 29 + 42/60 + 45/3600, 'corner2')
              span la est de localitatea Sulina 
              +mapicon
          li 44°20'40" latitudine nordică şi 28°41'30" longitudine estică la 
            +maplink(44 + 20/60 + 40/3600, 28 + 41.5/60, 'corner3')
              span Capul Midia 
          li 45°27' latitudine nordică şi 29°19'20" longitudine estică la 
            +maplink(45 + 27/60, 29 + 19/60 + 20/3600, 'corner4')
              span Chilia Veche 
              +mapicon
