include ../../mixins

+article('Specific Habitats')
  +section('Specific Habitats')
    .lang.lang-en
      h1 Specific Habitats
      p
        | A particular importance is given to the designation of the Danube Delta as a site of Community Importance, which hosts 29 habitat types from the steppe bioregion, and three types of habitats in the pontic bioregion, as part of the  the European ecological network 
        strong Nature 2000
        |.
    .lang.lang-ro
      h1 Habitate specifice
      p
        | O importanţă deosebită o reprezintă desemnarea Deltei Dunării ca sit de importanţă comunitară, în care se găsesc 29 tipuri de habitate specifice bioregiunii stepice şi  4 tipuri de habitate din bioregiunea pontică, în cadrul reţelei ecologice europene 
        strong Natura 2000
        |.
    +img('img/LC8T3676.jpg')
  +section('Danube Delta Biosphere Reserve biodiversity')
    .lang.lang-en
      h1 Danube Delta Biosphere Reserve biodiversity 
    .lang.lang-ro
      h1 Biodiversitatea Rezervaţiei Biosferei Delta Dunării.
    .lang.lang-en
      p 
        |The DDBR biodiversity is represented by 7,405 species of flora and fauna, according to the taxa reassessement harmonized with <em>Universal Taxonomic Services and Systema Naturae 2000</em> (source Danube Delta Research Institute, 2011), of which: 
        strong Bacteria 209 
        |(Cyanobacteria), 
        strong Chromista 
        |(unicellular algae) 
        strong 210
        |, 
        strong Fungi 145
        |, 
        strong Plantae 
        |(plant species) 
        strong 2383
        |, 
        strong Protozoare 429
        |, 
        strong Animalia 
        |(fauna species) 
        strong 4029
        |: Rotifera (rotifers) 479, Mollusca (mollusks) 84, Crustacea (crustaceans) 223, Worms 255, Arachnids 168, Diplopods 8, Insects 2260 and Chordata (vertebrates) 552 [Pisces (fish) 135, Amphibia (amphibians) 10, Reptilia (reptiles) 12, Aves (birds) 341, Mammalia (mammals) 54].
    .lang.lang-ro
      p
        | Biodiversitatea din RBDD este reprezentată de 7405 specii de floră şi faună conform revizuirii taxonomice în acord cu <em>Universal Taxonomic Services şi Systema Naturae 2000</em> (sursă Institutul Naţional de Cercetare Dezvoltare Delta Dunării Tulcea, 2011): 
        strong Bacteria 209 
        |(Cyanobacteria), 
        strong Chromista 
        |(alge unicelulare) 
        strong 210
        |, 
        strong Fungi 145
        |, 
        strong Plantae 
        |(specii de plante) 
        strong 2383
        |, 
        strong Protozoare 429
        |, 
        strong Animalia 
        |(specii de faună) 
        strong 4029
        |: Rotifera 479, Mollusca (moluște) 84, Crustacea (crustacee) 223, Viermi 255, Arahnide 168, Diplopode 8, Insecte 2260 şi Chordata (vertebrate) 552 [Pisces (pești)135,  Amphibia 10, Reptilia 12, Aves (păsări) 341, Mammalia (mamifere) 54].
    +img('img/Rana ridibunda_013.jpg')
