include ../../mixins

+submenu
  +submenu-item('ghid/about/deltas', T, 'Danube Delta among Deltas of the world', 'Delta Dunării între deltele lumii')
  +submenu-item('ghid/about/geographical', T, 'Spatial extension and geographical coordinates', 'Extensiune spațială și coordonate geografice')
  +submenu-item('ghid/about/genesis', T, 'Genesis, age, evolution', 'Geneză, vârstă, evoluţie')
  +submenu-item('ghid/about/arms', T, 'Danube and its arms', 'Dunărea şi braţele ei')
  +submenu-item('ghid/about/climate', T, 'Climate', 'Clima')
  +submenu-item('ghid/about/ecosystem', T, 'Ecosystem Types', 'Tipuri de ecosisteme')
  +submenu-item('ghid/about/birds', T, 'Birds', 'Păsările')
  +submenu-item('ghid/about/habitats', T, 'Specific Habitats', 'Habitate specifice')
  +submenu-item('ghid/about/population', T, 'Population and settlements', 'Populaţie şi aşezări')
  +submenu-item('ghid/about/economic', T, 'Economic Activities', 'Activităţi economice')
  +submenu-item('ghid/about/biosphere', T, 'Danube Delta Biosphere Reserve', 'Rezervaţia Biosferei Delta Dunării')


