include ../../mixins

+article('Cum putem vizita Delta Dunării?')

  .lang.lang-ro
    +section('Cum putem vizita Delta Dunării?')

      h2 Cum putem vizita Delta Dunării?

      p
        | Posibilităţile vizitării Deltei Dunării sunt variate şi depind de timpul disponibil şi de cerinţele vizitatorilor. Accesul în Delta Dunării se poate face atât prin organizatori de turism autorizaţi cât şi pe cont propriu. Vizitatorii care au un timp mai limitat la dispoziţie, pot participa la excursii de o zi şi pot opta, în această variantă, pentru excursii în grupuri mai mari (60-80 persoane), cu nave moderne de transport sau pentru cele în grupuri mai mici (6-8 persoane), cu nave mai mici, acestea din urmă având avantajul pătrunderii în zone mai puţin accesibile navelor din prima categorie. Vizitatorii care doresc să petreacă mai mult timp în Delta Dunării pot alege între sejururile itinerante de 6-12 zile desfăşurate cu pontoane dormitor moderne, confortabile, remorcate pe traseele autorizate şi sejururile fixe, cu cazare în hotelurile şi pensiunile existente în localităţile din Delta Dunării.
        | Temerarii care vor să descopere singuri frumuseţile deltei o pot face cu ambarcaţiunile proprii sau cu cele ale localnicilor autorizaţi să desfăşoare activităţi turistice. În acest scop, vizitatorii pot ajunge în Delta Dunării prin folosirea mijloacelor de transport naval ale societăţilor autorizate. Este recomandabil să apeleze la serviciile ghizilor autorizaţi sau ale localnicilor. Accesul vizitatorilor în Rezervaţie se face pe baza permisului de acces eliberat de Administraţia Rezervaţiei de la sediul acesteia din Tulcea sau de la centrele de informare din teritoriu.
        | Iubitorii pescuitului sportiv trebuie să ştie, de asemenea, că această activitate se poate practica în Delta Dunării în baza unui permis de pescuit sportiv valabil eliberat Administraţia Rezervaţiei.
      +img('img/MG_8599.jpg')

  .lang.lang-en
    +section('How to visit the Danube Delta?')

      h2 How to visit the Danube Delta?
      p
        | The possibilities to visit the Danube Delta are varied and depend on the time available and the visitors’demands. Access in the Danube Delta is possible through specialized travel agencies, but also by tourists on their own. Tourists who have a limited time available, can take part in one day trip and can choose in this case between trips in large groups (60-80 persons), with modern transport ships, or in smaller groups (6-8 persons), with small ships, the advantage being that these ones can enter into areas inaccessible for the bigger ships. Visitors who want to spend more time in the Danube Delta can also choose between itinerary trips of 6-12 days, on modern and comfortable floating hotels, towed along the authorized routes, and stationary holidays, with accommodation in hotels and pensions from villages or resorts in the Danube Delta.
        | The passionate ones who want to discover themselves the beauty of the delta, can craft their own boat or those of local people that are authorized for tourist activities. In the same way, tourists can travel in the Danube Delta using transportation from authorized shipping companies. It is advisable to rent the services of authorized guides or local people. Tourists’ access in the Danube Delta Biosphere Reserve is based on the access permit issued by the Reserve Authority at its headquarter in Tulcea or in information centres from theritory.
        | Tourists who love angling, should also know that this activity is allowed in the Danube Delta, with a valid sport fishing permit issued by Danube Delta Biosphere Reserve Authority.
      +img('img/MG_8599.jpg')


