include ../../mixins

+submenu
  +submenu-item('ghid/planning/when', T, 'When can we visit the Danube Delta?', 'Când putem vizita Delta Dunării?')
  +submenu-item('ghid/planning/how', T, 'How to visit the Danube Delta?', 'Cum putem vizita Delta Dunării?')
  +submenu-item('ghid/planning/booking', T, 'Bookings', 'Rezervări')
  +submenu-item('ghid/planning/arrival', T, 'How do we get to the Danube Delta?', 'Cum ajungem în Delta Dunării?')

