include ../../mixins

+article('Când putem vizita Delta Dunării?')
  .lang.lang-ro
    +section('Când putem vizita Delta Dunării?')
      h2 Când putem vizita Delta Dunării?
      p
        | La fel cum există o "lege a muntelui", vizitatorii care cunosc deja Delta Dunării pot să confirme că există şi o "lege a deltei", o lege mai mult sau mai puţin scrisă dar pe care vizitatorii acesteia trebuie să o respecte. De aceea, se recomandă celor care doresc să viziteze Delta Dunării să facă o pregătire informativă corespunzătoare prealabilă, atât în ceea ce priveşte potenţialele locuri pitoreşti de vizitat dar şi potenţialele dificultăţi ale unei astfel de vizite.
        | Astfel, perioadele cele mai prielnice, pentru vizitarea deltei sunt primăvara (aprilie – iunie) şi toamna (septembrie – octombrie), când temperaturile sunt mai acceptabile şi nici nu sunt prea multe insecte hematofage (ţânţari, tăuni, etc.). Desigur că şi vara este foarte frumos în deltă, însă se ştie că în serile fără vânt (şi sunt destule în acest sezon), roiurile imense de ţânţari invadează totul, odată cu lăsarea serii. Adăposturile ideale în aceste condiţii rămân corturile de orice fel, care însă trebuie închise încă înainte de ora 18:00. După această oră, servirea meselor, admirarea apusurilor şi a naturii trebuie să se facă în şi din pavilioane sau încăperi protejate cu plase împotriva ţânţarilor. Cine doreşte să întârzie mai mult pe malul apei trebuie să se echipeze corespunzător cu pantaloni lungi, hanorac cu glugă, creme şi spray-uri protectoare adecvate. Fiind un imperiu al apelor, este bine de ştiut că unul din cele mai mari pericole în deltă îl reprezintă înecul. Datorită adâncimii şi vitezei de curgere se formează curenţi circulari puternici (anafoare) foarte periculoşi chiar şi pentru înotătorii experimentaţi. Majoritatea canalelor şi lacurilor din deltă au adâncimi mari de peste 2 metri, canalele având maluri abrupte şi alunecoase. De aceea se recomandă scăldatul numai în locurile special amenajate precum şi existenţa pe toată durata deplasărilor în deltă a unor mijloace de prim ajutor în cazul unor accidente de alunecare sau cădere în apă (colac şi vestă de salvare).
      +img('img/LC8T9715.jpg')

  .lang.lang-en
    +section('When can we visit the Danube Delta?')


      h2 When can we visit the Danube Delta?

      p
        | Just like there is a "law of the mountain", travelers who know the Danube Delta can confirm that there is also a "law of the Delta", one that is more or less written, but which every visitor must respect. Because of this, it is recommended for everybody who wants to visit the Danube Delta, to inform themselves in advance, not only about the picturesque places to visit, but also about the potential difficulties related to such a trip.
        | Thus, the most favorable periods, during which visiting the delta is a good idea, are spring (April -June) and autumn (September - October), when the temperatures are more acceptable and there aren’t too many blood-sucking insects (mosquitoes, horseflies, etc.). Of course summer is also a beautiful season in the delta, but it is well known that during calm evenings, without wind (which are common in this season), huge swarms of mosquitoes invade everything at nightfall. Ideal refuges in this case remain the tents of any kind, but they must be closed even before 18:00. After this hour, if you want to have dinner, admire the sunset or the nature, you must do it indoors or from spaces protected with mosquitoes nets. Who wants to stay until late on the river bank, should be properly equipped with long trousers, hooded sweatshirt, and mosquito repellent cream or spray. Being the empire of the waters, it is good to know that one of the greatest dangers in the delta is the drowning. Water in the Danube arms is very deep, with steep and slippery banks. Due to the water depth and flow speed, dangerous circular currents (called anafoare) are formed, very dangerous even for experienced swimmers. Therefore, it is recommended to swim and bathe only in specially places and having always, during the entire trip in the delta, first aid means in case of slipping or falling accidentally in the water (life-buoys or lifejackets).
      +img('img/LC8T9715.jpg')
