doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="fragment", content="!")
    meta(name="viewport", content="width=device-width, minimum-scale=1, maximum-scale=1, user-scalable=no, minimal-ui")
    title delta-app
    // build:css({.tmp,dist}) css/bundle.css
    link(rel="stylesheet", href="css/main.css")
    // endbuild
  body
    script(src="cordova.js")
    // build:js({.tmp,dist}) js/main.js
    script(src="js/main.js")
    // endbuild
