include ../../mixins

+section
  .settings
    .settings-row
      .settings-label
        != T.span({ en: 'Language', ro: 'Limba' })
      .settings-switch
        input(id='settings-lang-toggle', type='checkbox', data-setting='lang').cmn-toggle.cmn-toggle-yes-no.cmn-toggle-green
        label(for='settings-lang-toggle')
          div.on 
            span English
          div.off
            span Română

    .settings-row
      .settings-label
        != T.span({ en: 'Animations', ro: 'Animații' })
      .settings-switch
        input(id='settings-animations-toggle', type='checkbox', data-setting='animations').cmn-toggle.cmn-toggle-yes-no
        label(for='settings-animations-toggle')
          div.on
            != T.span({ en: 'On', ro: 'Active' })
          div.off
            != T.span({ en: 'Off', ro: 'Inactive' })

  .lang.lang-ro
    h1 Despre
    h1 Proiectul DANUBEPARKS STEP2.0 
    p 
      strong Ancorarea Reţelei Dunărene de Arii Protejate ca Platformă pentru Conservarea Patrimoniului Natural al Dunării
    p Proiectul este finanţat de ETC - SEE ( Cooperare Teritorială Europeană, Europa de Sud - Est) Programul, cu axa prioritară privind "Protecţia şi Îmbunătăţirea Mediului" şi Aria de Intervenţie "Promovarea cooperării în domeniul managementului resurselor naturale şi a zonelor protejate ".
    p Proiectul DANUBEPARKS STEP 2.0 se concentrează continuarea realizărilor din primul proiect comun, ancorarea fermă a rezultatelor fie prin acţiuni de implementare fie prin integrarea lor într-un cadru de politici, şi extinderea în continuare a reţelei. Domeniile de activitate sunt Morfologia Fluviului, Managementul Habitatelor, Specii Emblematice, Monitorizare şi Ancorarea Reţelei.
    a(href="www.danubeparks.org ") www.danubeparks.org 
    p Această aplicație a fost dezvoltată de 
    a(href="http://readfwd.com/") ReadForward


  .lang.lang-en
    h1 About
    h1 DANUBEPARKS STEP2.0 Project

    p
      strong Anchoring the Danube River Network of Protected Areas as Platform for Preservation of Danube Natural Heritage
    p The project is financed by ETC-SEE (European Territorial Cooperation, South-East Europe) Programme, with its priority axis on “Protection and Improvement of the Environment” and the Area of Intervention “Promote cooperation in management of natural assets and protected areas”.
    p The focus of DANUBEPARKS STEP 2.0 Project is to build on the achievements of the first joint project, anchor results firmly either by implementation actions or by integrating them into a policy framework and to further enlarge the network. The areas of work are River Morphology, Habitat Management, Flagship Species, Monitoring and Anchoring of the Network. 
    a(href="www.danubeparks.org ") www.danubeparks.org 
    p This app was developed by 
    a(href="http://readfwd.com/") ReadForward


