.code-of-conduct
  img 
    flex: none
    width: auto
    height: auto
    padding-bottom: 1em
    margin-right: 1em
  span 
    margin-left: 1em
    display:flex
    align-items:center
  h1, h3
    margin-left: 1em
