.code-of-conduct
  .img-container
    img
      width: 5em !important
      height: auto !important
      margin-left: 1em
      margin-right: 0.5em
  span 
    margin-left: 7em
  h1, h3
    margin-left: 1em
