.code-of-conduct
  .img-container
    img
      width: 5em !important
      height: auto !important
      margin-left: 1em
      margin-right: 0.5em
      text-align: right
      line-height: 1.2em
    span 
      vertical-align: middle;
      float: right
      display : inline !important
  h1
    margin-left: 1em
