link-color=#319c57
link-color-active=#63d580

a
a:link
a:active
a:visited
a:hover
  text-decoration: none
  color: link-color

a:active
  color: link-color-active

.green-link
  color: link-color
  font-weight: bold
