link-color=#319c57
link-color-active=#63d580
highlight-color=#ffffdd

emergency-link-color=#aa0000
emergency-link-color-active=#ee0000

disabled-link-color=#aaa
disabled-link-color-active=#ddd

a
a:link
a:active
a:visited
a:hover
  text-decoration: none
  color: link-color

a:active
  color: link-color-active

.green-link
  color: link-color
  font-weight: bold
