.settings
  display: table
  width: 100%

  .settings-row
    perspective: 2000px
    z-index: 10
    display: table-row

    .settings-label
      display: table-cell
      vertical-align: middle
      width: auto
      padding-top: 8px

    .settings-switch
      display: table-cell
      width: 156px
      padding-top: 8px

.contact-us-mail, .contact-us-phone
  display: block
  background-color: link-color
  color: #fff !important
  text-align: center
  padding: 1em
  margin: 0.3em 0 0 0
  font-size: 120%
  max-width: 25em
  margin: 5px auto

  span
    font-size: 80%