.settings
  display: table
  width: 100%

  .settings-row
    perspective: 2000px
    z-index: 10
    display: table-row

    .settings-label
      display: table-cell
      vertical-align: middle
      width: auto
      padding-top: 8px

    .settings-switch
      display: table-cell
      width: 156px
      padding-top: 8px


