.device-demo-iphone
  float: left
  height: 667px
  width: 321px
  background-image: url(assets/device-iphone.svg)
  background-size: contain
  background-repeat: no-repeat
  background-position: center

  iframe
    border: 'none'
    top: 100px
    left: 21px
    position: relative
    width: 276px
    height: 470px


.device-demo-ipad-landscape
  float:left
  height: 667px
  width: 960px
  background-image: url(assets/device-ipad-landscape.svg)
  background-size: contain
  background-repeat: no-repeat
  background-position: center

  iframe
    border: 'none'
    top: 100px
    left: 21px
    position: relative
    width: 760px
    height: 572px
    left:100px
    top: 47px

