include ../../mixins

+submenu
  +submenu-item('ghid/trails/traild1', T, 'Trail D1', 'Traseul D1')
    +submenu-caption(T, 'Letea (Sfiştofca) - Nebunu Lake - Letea', 'Letea (Sfiştofca) – Lacul Nebunu – Letea')
    +submenu-page-id('trailD1')
  +submenu-item('ghid/trails/traild2', T, 'Trail D2', 'Traseul D2')
    +submenu-caption(T, 'Caraorman – Caraorman Forest', 'Caraorman – Pădurea Caraorman')
    +submenu-page-id('trailD2')
  +submenu-item('ghid/trails/traild3', T, 'Trail D3', 'Traseul D3')
    +submenu-caption(T, 'Murighiol - Sărături Lake - Murighiol', 'Murighiol – Lacul Sărături – Murighiol')
    +submenu-page-id('trailD3')
  +submenu-item('ghid/trails/traild4', T, 'Trail D4', 'Traseul D4')
    +submenu-caption(T,'Tulcea (Tudor Vladimirescu) - Sireasa Channel - Mila 35 Channel - Tulcea', 'Tulcea (Tudor Vladimirescu) – Canalul Sireasa – Canalul M35 – Tulcea')
    +submenu-page-id('trailD4')
  +submenu-item('ghid/trails/traild5', T, 'Trail D5', 'Traseul D5')
    +submenu-caption(T, 'Nuntasi - Histria Ancient City- Nuntaşi', 'Nuntaşi – Cetatea Histria - Nuntaşi')
    +submenu-page-id('trailD5')
  +submenu-item('ghid/trails/traild6', T, 'Trail D6', 'Traseul D6')
    +submenu-caption(T,'Sulina - Sulina Beach', 'Sulina – Plaja Sulina')
    +submenu-page-id('trailD6')
  +submenu-item('ghid/trails/traild7', T, 'Trail D7', 'Traseul D7')
    +submenu-caption(T,'Sulina Beach', 'Plaja Sulina')
    +submenu-page-id('trailD7')
  +submenu-item('ghid/trails/traild8', T, 'Trail D8', 'Traseul D8')
    +submenu-caption(T,'Nature Trail (St. Gheorghe)', 'Natura Trail (Sf. Gheorghe)')
    +submenu-page-id('trailD8')
  +submenu-item('ghid/trails/traild9', T, 'Trail D9', 'Traseul D9')
    +submenu-caption(T, 'Sfantu Gheorghe-Câşla Vadanei', 'Sfântu Gheorghe- Câşla Vădanei')
    +submenu-page-id('trailD9')
