include ../../mixins

+article('Traseul D5')

  .lang.lang-ro
    +section('Traseul D5')
      h2 Traseul D5: Nuntaşi – Cetatea Histria - Nuntaşi
    p.text-indent Pentru iubitorii de drumeţii ajunşi în localitatea Nuntaşi sau pentru cei care îşi propun localitatea ca punct de plecare, traseul are două componente atrăgătoare: străbaterea unei zone deosebite pentru varietatea şi mulţimea speciilor de păsări care pot fi văzute şi urmărite, cu binoclul sau luneta ornitologică, aproape în tot cursul anului şi vizitarea Cetăţii Histria cu muzeul cetăţii, care reprezintă un obiectiv turistic important, aceasta fiind deschisă circuitului turistic.Traseul are o lungime de circa 25 km şi se poate face în circa 5 ore de mers.
    +img('img/C8T9588.jpg')

  .lang.lang-en
    +section('Trail D5')
      h2 Trail D5: Nuntasi - Histria Ancient City- Nuntaşi
      p For hiking lovers arrived in Nuntasi village, or for those who choose this locality as starting point, the trail has two attractive components: exploring a very special area in terms of the variety and multitude of the birds species which can be seen and followed with binoculars or ornithological telescope, almost throughout the whole year, and visiting the Histria ancient city and the Archaeological Museum, which is an important tourist attraction, being open to the travel circuit. The route  has a length of about 25 km and can be traveled in about 5 hours by foot.
      +img('img/C8T9588.jpg')
