include ../../mixins

+article('Traseul D9')

  .lang.lang-ro
    +section('Traseul D9')
      h2 Traseul D9: Sfântu Gheorghe- Câşla Vădanei
      p.text-indent  Traseul include vizitarea sectorului de plajă sălbatică, cu nisip foarte fin, situată la nord de localitatea Sfântu Gheorghe, până în dreptul zonei Câşla Vădanei. Localitatea Sfântu Gheorghe se situează aproape de gura de vărsare a braţului Sf. Gheorghe, numită de către cei vechi &bdquo;gura sfântă” (Hierostomo). Spre nord se întinde uscatul maritim, grindul Sărăturile, şi tot spre nord se poate ajunge la Sulina, aflată la o distanţă de circa 30 km. Aici se găsesc kilometri de plajă cu nisip fin, iubitorii de linişte se pierd cu bărcile prin hăţişurile de gârle şi canale, iar pescarii amatori sunt atraşi de bogăţia de peşti de apă dulce şi sărată. Plaja este situată la o distanţă de circa 15-20 minute de mers pe jos de localitatea Sf. Gheorghe şi se desfăşoară cu nisip fin, cu scoici şi ciulini, atât pe malul mării, cât şi în lungul Dunării. Pe traseu pot fi văzute habitate de interes comunitar specifice zonei. Traseul are o lungime de circa 10 km şi se poate face în circa 3 ore de mers.

  .lang.lang-en
    +section('Trail D9')
      h2 Route D9: Sfantu Gheorghe-Câşla Vadanei
    p The route includes visits to the wild beach area, with fine sand, situated on the North of Sfântu Gheorghe, up to Câşlei Vădanei area.
    p Sfântu Gheorghe village is located near the mouth of the St. Gheorghe Arm, called by the ancients the "holy mouth" (Hierostomo). Towards North, the sea coast and the Sărăturile sand banks stretch out, and also on the North side, one can reach Sulina, located at a distance of 30 km. Here, kilometers of fine sand beaches are found; silence lovers get lost on their boats through multitude of streams and channels, and recreational fishermen are attracted by the richness of freshwater and salt water fish.
    p The beach, located at a 15-20 min. walk from St. Gheorghe village, covered with fine sand, seashells and water chestnuts, stretches out both on the seas coast and along the Danube. On the route one can see the habitats of community interest, specific to the area. The route has a length of about 10 km and can be traveled in about 3 hours by foot.
