include mixins

+section
  +img('img/antet_RBDD.jpg')
  .lang.lang-ro
    h1 Proiectul DANUBEPARKS STEP2.0 
    p 
      strong Ancorarea Reţelei Dunărene de Arii Protejate ca Platformă pentru Conservarea Patrimoniului Natural al Dunării
    p Proiectul este finanţat de ETC - SEE ( Cooperare Teritorială Europeană, Europa de Sud - Est) Programul, cu axa prioritară privind "Protecţia şi Îmbunătăţirea Mediului" şi Aria de Intervenţie "Promovarea cooperării în domeniul managementului resurselor naturale şi a zonelor protejate ".
    p Proiectul DANUBEPARKS STEP 2.0 se concentrează continuarea realizărilor din primul proiect comun, ancorarea fermă a rezultatelor fie prin acţiuni de implementare fie prin integrarea lor într-un cadru de politici, şi extinderea în continuare a reţelei. Domeniile de activitate sunt Morfologia Fluviului, Managementul Habitatelor, Specii Emblematice, Monitorizare şi Ancorarea Reţelei.
    a(href="www.danubeparks.org ") www.danubeparks.org 
    br
    .about-app
      +img('img/SEE_colour_jointly.jpg')
    h1 Bibliografie
    p Antipa Gr.(1914), 
      i Delta Dunării
      | , Bucureşti
    p Banu A., Rudescu L. (1965), 
      i Delta Dunării
      | , Editura Ştiinţifică, Bucureşti
    p Gâştescu P., Ştiucă R., editori (2008), 
      i Delta Dunării-Rezervație a Biosferei
      | , Edit. CDPress, București
    p Gâştescu P., Baboianu G. (2011), 
      i Rezervația Biosferei Delta Dunării Ghidul Vizitatorului
      |, ARBDD Tulcea
    p Kiss B., 1997, 
      i Cartea Deltei
      | , Editat de Fundaţia Aves
    p Munteanu D. (2000),  
      i Atlasul păsărilor clocitoare din România
      | , publ. S.O.R. Cluj-Napoca
    p Munteanu D. (2009), 
      i Păsări rare, vulnerabile şi periclitate în România
      | , Editura Alma Mater, Cluj-Napoca
    p Oţel V.(2007), 
      i Atlasul peştilor din Rezervaţia Biosferei Delta Dunării
      | , Editura Centrul de Informare Tehnologică Delta Dunării, Tulcea
    p Radu D. (1979), 
      i Păsările din Delta Dunării
      | , Editura Academiei Române, Bucureşti
    p Vădineanu A. (1991), 
      i The Danube Delta. A natural monument
      | , Naturopa, 66, Council of Europa Strasbourg
    p ***(1991), 
      i Lista monumentelor istorice şi siturilor arheologice din Judeţul Tulcea şi Constanţa
      | , Arhiva I.C.E.M. Tulcea.
    p *** (2000), 
      i Lista Roşie a speciilor de plante şi animale din Rezervaţia Biosferei Delta Dunării
      | , INCD-DD, Edit.Fundaţia „Aves”
    p Fotografii: Daniel Petrescu, Valeriu Leonov

    p Această aplicație a fost dezvoltată de 
      a(href='http://readfwd.com/?utm_source=delta-app&utm_medium=about&utm_campaign=delta-app') Read Forward

  .lang.lang-en
    h1 DANUBEPARKS STEP2.0 Project
    p
      strong Anchoring the Danube River Network of Protected Areas as Platform for Preservation of Danube Natural Heritage
    p The project is financed by ETC-SEE (European Territorial Cooperation, South-East Europe) Programme, with its priority axis on “Protection and Improvement of the Environment” and the Area of Intervention “Promote cooperation in management of natural assets and protected areas”.
    p The focus of DANUBEPARKS STEP 2.0 Project is to build on the achievements of the first joint project, anchor results firmly either by implementation actions or by integrating them into a policy framework and to further enlarge the network. The areas of work are River Morphology, Habitat Management, Flagship Species, Monitoring and Anchoring of the Network. 
    a(href="www.danubeparks.org ") www.danubeparks.org 
    br
    .about-app
      +img('img/SEE_colour_jointly.jpg')
    h1 Bibliography
    p Antipa Gr.(1914), 
      i Delta Dunării
      | , Bucureşti
    p Banu A., Rudescu L. (1965), 
      i Delta Dunării
      | , Editura Ştiinţifică, Bucureşti
    p Gâştescu P., Ştiucă R., editori (2008), 
      i Delta Dunării-Rezervație a Biosferei
      | , Edit. CDPress, București
    p Gâştescu P., Baboianu G. (2011), 
      i Rezervația Biosferei Delta Dunării Ghidul Vizitatorului
      |, ARBDD Tulcea
    p Kiss B., 1997, 
      i Cartea Deltei
      | , Editat de Fundaţia Aves
    p Munteanu D. (2000),  
      i Atlasul păsărilor clocitoare din România
      | , publ. S.O.R. Cluj-Napoca
    p Munteanu D. (2009), 
      i Păsări rare, vulnerabile şi periclitate în România
      | , Editura Alma Mater, Cluj-Napoca
    p Oţel V.(2007), 
      i Atlasul peştilor din Rezervaţia Biosferei Delta Dunării
      | , Editura Centrul de Informare Tehnologică Delta Dunării, Tulcea
    p Radu D. (1979), 
      i Păsările din Delta Dunării
      | , Editura Academiei Române, Bucureşti
    p Vădineanu A. (1991), 
      i The Danube Delta. A natural monument
      | , Naturopa, 66, Council of Europa Strasbourg
    p ***(1991), 
      i Lista monumentelor istorice şi siturilor arheologice din Judeţul Tulcea şi Constanţa
      | , Arhiva I.C.E.M. Tulcea.
    p *** (2000), 
      i Lista Roşie a speciilor de plante şi animale din Rezervaţia Biosferei Delta Dunării
      | , INCD-DD, Edit.Fundaţia „Aves”
    p Fotografii: Daniel Petrescu, Valeriu Leonov

    hr

    p This application was developed by  
      a(href='http://readfwd.com/?utm_source=delta-app&utm_medium=about&utm_campaign=delta-app') Read Forward

