include mixins
.code-of-conduct
  .lang.lang-ro
    h1 Cod de conduită
    h3 E binevenit în Rezervația Bioseferi Delta Dunării turistul care: 
    +img('img/Cod conduita turisti1.jpg')
    span ... se bucură de frumusețea peisajului deltaic respectând flora, fauna și nu intervine asupra habitatului lor natural.
    +img('img/Cod conduita turisti2.jpg')
    span ... vizitează Rezervația Biosferei Delta Dunării folosind traseele turistice aprobate 
    +img('img/Cod conduita turisti3.jpg')
    span ... în timpul vizitei în R.B.D.D., nu lasă în urmă deșeuri sau ambalaje, ci le depozitează în locurile amenajate în acest scop 
    +img('img/Cod conduita turisti4.jpg')
    span ... campează doar în zonele amenajate și autorizate în acest scop
    +img('img/Cod conduita turisti5.jpg')
    span ... folosește locurile special amenajate pentru observarea păsărilor 
    +img('img/Cod conduita turisti6.jpg')
    span ... nu face focul decât în zonele special amenajate fără a-l lăsa nesupravegheat 
    +img('img/Cod conduita turisti7.jpg')
    span ... preferă să descopere frumusețea naturii fără a intra în coloniile de păsări și a deranja cuiburile sau puii acestora, deplasându-se de preferință utilizând bărci cu propulsie electrică sau bărci la rame
    +img('img/Cod conduita turisti8.jpg')
    span ... pescuiește numai în zonele aprobate și perioadele legale, având permis de pescuit sportiv valabil 

  .lang.lang-en 
    h1 Code of conduct
    h3 Tourists are welcome in the Danube Delta Biosphere Reserve to:
    +img('img/Cod conduita turisti1.jpg')
    span ... enjoy the beauty of deltaic landscapes respecting flora and fauna, without harming their natural habitat 
    +img('img/Cod conduita turisti2.jpg')
    span ... visit the Danube Delta Biosphere Reserve using the approved tourist routes 
    
    +img('img/Cod conduita turisti3.jpg')
    span ... avoid leaving waste or packages and deposit them in places specially arranged for this purpose 
    +img('img/Cod conduita turisti4.jpg')
    span ... camp only in areas authorised for this purpose 
    +img('img/Cod conduita turisti5.jpg')
    span ... use the specially arranged birdwatching places
    +img('img/Cod conduita turisti6.jpg')
    span ... enjoy a campfire only in specially arranged places and keep it under control 
    +img('img/Cod conduita turisti7.jpg')
    span ... discover the beauty of nature without entering in bird colonies and disturbing nests or nestlings, using preferably electric motor boats or rowing boats
     +img('img/Cod conduita turisti8.jpg')
    span ... fish only in approved areas and during legal periods, based on a legal permit 

