.lang.lang-ro
  h1 Cod de conduită
  p 
    strong ... se bucură de frumusețea peisajului deltaic respectând flora, fauna și nu intervine asupra habitatului lor natural.
  p 
    strong ... vizitează Rezervația Biosferei Delta Dunării folosind traseele turistice aprobate 
  p
    strong ... în timpul vizitei în R.B.D.D., nu lasă în urmă deșeuri sau ambalaje, ci le depozitează în locurile amenajate în acest scop 
   p 
    strong ... campează doar în zonele amenajate și autorizate în acest scop
  p 
    strong ... folosește locurile special amenajate pentru observarea păsărilor 
  p 
    strong ... nu face focul decât în zonele special amenajate fără a-l lăsa nesupravegheat 
  p 
    strong ... preferă să descopere frumusețea naturii fără a intra în coloniile de păsări și a deranja cuiburile sau puii acestora, deplasându-se de preferință utilizând bărci cu propulsie electrică sau bărci la rame
  p 
    strong ... pescuiește numai în zonele aprobate și perioadele legale, având permis de pescuit sportiv valabil 

.lang.lang-en 
  h1 Code of conduct
  p
    strong ... enjoy the beauty of deltaic landscapes respecting flora and fauna, without harming their natural habitat 
  p 
    strong ... visit the Danube Delta Biosphere Reserve using the approved tourist routes 
  p 
    strong ... avoid leaving waste or packages and deposit them in places specially arranged for this purpose 
  p 
    strong ... camp only in areas authorised for this purpose 
  p
    strong ... use the specially arranged birdwatching places
  p
    strong ... enjoy a campfire only in specially arranged places and keep it under control 
  p 
    strong ... discover the beauty of nature without entering in bird colonies and disturbing nests or nestlings, using preferably electric motor boats or rowing boats
  p 
    strong ... fish only in approved areas and during legal periods, based on a legal permit 

