h1.lang.lang-en Code of conduct
h1.lang.lang-ro Cod de conduită

.lang.lang-ro
  p Lorem ipsum <strong>în românește</strong> Lorem ipsum Sint est deserunt esse occaecat sunt incididunt ad anim dolor non adipisicing consequat nisi laboris reprehenderit.

.lang.lang-en
  p Lorem ipsum in <strong>English</strong> Lorem ipsum In qui sed ullamco veniam minim pariatur sit quis qui ut ut cupidatat irure nulla exercitation voluptate Excepteur occaecat fugiat irure cupidatat in. Lorem ipsum Fugiat sunt in dolor commodo ea in ut consectetur amet esse fugiat nulla ex ex sunt reprehenderit in culpa aute minim dolore occaecat do amet aute officia Duis in sint sint dolor voluptate eiusmod dolore Duis esse qui ex deserunt ut veniam est Ut anim magna magna do labore do laboris consectetur minim laboris in quis occaecat id do eiusmod in consequat eiusmod ad cillum laboris Duis irure qui ea nulla exercitation non commodo culpa reprehenderit mollit dolore adipisicing dolor eu nisi ut nostrud sunt sint consequat ullamco in culpa proident minim mollit ullamco do amet eu veniam dolor voluptate esse sint aute enim ad cillum aliqua dolor velit voluptate quis cupidatat cupidatat anim cupidatat minim commodo est enim esse officia est ullamco ut sunt adipisicing ut dolor eu est sunt ea laboris sit ut cupidatat velit esse Excepteur velit sint nostrud et pariatur voluptate ut cupidatat enim sunt officia dolore amet nisi sit sunt id officia dolore magna Duis cupidatat Duis quis nisi pariatur occaecat culpa mollit non reprehenderit officia eiusmod sint nisi ut sit voluptate ea exercitation sunt ea in et sint sint Duis deserunt in in eiusmod mollit pariatur incididunt minim deserunt sed Ut cupidatat exercitation.


