.lang.lang-ro
  p În caz de urgență sunați la
    a(href='tel:112') 112

  p Este posibil să te rătăcești, de aceea poate este mai bine dacă îți notezi aici datele hotelului la care stai

.lang.lang-en
  p Lorem ipsum in <strong>English</strong> Lorem ipsum In qui sed ullamco veniam minim pariatur sit quis qui ut ut cupidatat irure nulla exercitation volupta

input.hotel-phone(type='tel', placeholder='+40 772 123 456', pattern='[0-9 \\(\\)\\.]+')

p
  a.call-hotel Call Hotel

p
  a.sms-hotel Send SMS to Hotel