.emergency
  .emergency-intro.lang.lang-ro
    p Pe canale și prin prin stuf este ușor să te rătăcești dacă nu ai călăuză un localnic. Pentru siguranța ta, încarcă-ți telefonul înainte de a pleca în orice drumeție și, evident, ia-l cu tine. Nu ai nevoie de alte hărți, cea inclusă în această aplicație funcționează și fără conexiune la rețaua de telefonie sau Internet.

    p Completează câteva date care să te scoată dintr-o eventuală încurcătură. Având datele contact, și telefon cu GPS, le vei putea spune sau scrie celorlalți unde te afli cu exactitate. Operatorii de telefonie mobilă au o acoperire bună în Deltă, vei putea deci să ceri ajutor.
  .emergency-intro.lang.lang-en
    p It is easy to get lost while wondering in the Delta without a guide. For your safety, charge your phone fully before going anywhere and, of course, take it with you. You do not need other maps, since this app includes one that works perfectly offline. Also, make sure that roaming (for voice) is activated and you can make calls or send text messages. No need for data roaming in this app.

    p Fill in some information below; it can help get you out of trouble. With contact data and a GPS device, you'll be able to tell or text the others precisely where you are. Mobile operators have good coverage in the Delta, so you'll be able to ask for help.

  //-----------------------------------------------------------------------

  .emergency-contact
    h3.lang.lang-ro Contacte și note
    h3.lang.lang-en Contact Info and Notes

    label(for='emergency-hotel-phone')
      != T.span({ en: 'My hotel\'s phone number:', ro: 'Numărul de telefon al hotelului /gazdei:' })
    input.hotel-phone(id='emergency-hotel-phone', type='tel', placeholder='+40......', pattern='[0-9 \\(\\)\\.]+', size='15')


    label(for='emergency-notes')
      != T.span({ en: 'Notes:', ro: 'Notițe:' })
    p.lang.lang-ro Scrie notițe, adrese, numere de telefon ale colegilor de excursie, al ghidului, contactul călăuzei etc.
    p.lang.lang-en Fill in important notes, addresses, phone numbers etc.

    textarea.notes(id='emergency-notes', rows='5')

    p.center.lang.lang-ro Salvarea datelor se face automat, iar ceea ce completezi este confidențial și nu părăște telefonul tău. Coordonatele GPS sunt de asemenea confidențiale și nu sunt trimise fără acordul tău. Derulează în jos pentru opținui în caz de urgență.
    p.center.lang.lang-en Data is automatically saved and what you fill in is confidential and does not leave your phone. GPS coordinates are also confidential and are not sent anywhere without your consent. Scroll down for options in case of emergency.

  //-----------------------------------------------------------------------

  .emergency-actions
    h3
      != T.span({ en: 'I got lost!', ro: 'M-am rătăcit!' })
    //- Romanian
    .emergency-coordinates-block.lang.lang-ro
      .emergency-has-gps
        | Coordonatele tale geografice sunt:
        span.curent-coordinates În curs de actualizare
        button.update-coordinates Actualizează poziția
        button.copy-coordinates Copiază coordonatele
        button.copy-map-link Copiază link hartă
      .emergency-no-gps
        | Din păcate aplicația nu poate obține coordonatele tale pentru că fie nu ai un dispozitiv de localizare integrat (GPS), fie nu ai acordat permisiunea de localizare.

    //- English
    .emergency-coordinates-block.lang.lang-en
      .emergency-has-gps
        | Your GPS coordinates are:
        span.curent-coordinates [Updating, please wait]
        button.update-coordinates Update my location
        button.copy-coordinates Copy coordinates
        button.copy-map-link Copy map link
      .emergency-no-gps
        | Unfortunately the app cannot determine your coordinates because either you do not have an embedded GPS device or you did not allow this app to use your location.

    //- Common
    .emergency-buttons
      .emergency-phone-number-ok
        a.sms-hotel
          != T.span({ en: 'Text your hotel / host', ro: 'Trimite un SMS la hotel / gazdă' })
          span.emergency-has-gps.emergency-small
            != T.span({ en: '(includes your coordinates)', ro: '(include coordonatele)'})
        a.call-hotel
          != T.span({ en: 'Call your hotel / host', ro: 'Sună la hotel / gazdă' })

      .emergency-phone-number-not-ok.lang.lang-ro
        a.disabled Completează mai sus numărul de telefon al hotelului sau al gazdei tale pentru a putea suna și trimite SMS.
      .emergency-phone-number-not-ok.lang.lang-en
        a.disabled Fill the phone number  of your hotel / host above, so that you can call or send SMS.

      a.call112.lang.lang-ro(href='tel:112') Sună la 112
        span.emergency-small (te rugăm nu abuza, sună doar dacă este o urgență adevărată)

      a.call112.lang.lang-en(href='tel:112')  Call 112
        span.emergency-small (this is the 911-like emergency number, please use it as such)
