mixin do-stuff()
  p stuff!

mixin article()
  article
    if block
      block

mixin section()
  section
    if block
      block

mixin img(source)
  .img
    .img-container
      img(src='assets/' + source)

mixin submenu()
  ul
    if block
      block

mixin submenu-item(linkTarget, T, en, ro)
  li
    - var translated = T.span({ en: en, ro: ro });
    a(href=linkTarget, data-title=translated)
      .submenu-title
        != translated
      if block
        block

mixin submenu-caption(T, en, ro)
  .submenu-caption
    != T.span({ en: en, ro: ro })